

<!doctype html>
<html lang="en" class="no-js">
  <head>
    

<meta charset="utf-8">



<!-- begin SEO -->









<title>File input - Ontimize Web</title>







<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Ontimize Web">
<meta property="og:title" content="File input">


  <link rel="canonical" href="https://ontimizeweb.github.io/docs/v8/components/input/file/api">
  <meta property="og:url" content="https://ontimizeweb.github.io/docs/v8/components/input/file/api">



  <meta property="og:description" content="">



  <meta name="twitter:site" content="@imatiainnova">
  <meta name="twitter:title" content="File input">
  <meta name="twitter:description" content="">
  <meta name="twitter:url" content="https://ontimizeweb.github.io/components/input/file/api">

  
    <meta name="twitter:card" content="summary">
    
      <meta name="twitter:image" content="https://ontimizeweb.github.io/docs/v8/images/site-logo.png">
    
  

  



  

  



  <meta property="og:image" content="https://ontimizeweb.github.io/docs/v8/images/site-logo.png">



  <meta property="og:type" content="article">
  <meta property="article:published_time" content="2023-07-05T04:39:13-04:00">






  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://ontimizeweb.github.io/docs/v8",
      "logo": "https://ontimizeweb.github.io/docs/v8/images/site-logo.png"
    }
  </script>



  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Person",
      "name" : "Ontimize Web",
      "url" : "https://ontimizeweb.github.io/docs/v8",
      "sameAs" : ["https://twitter.com/imatiainnova"]
    }
  </script>






<!-- end SEO -->


<link href="https://ontimizeweb.github.io/docs/v8/feed.xml" type="application/atom+xml" rel="alternate" title="Ontimize Web Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src="https://ontimizeweb.github.io/docs/v8/assets/js/fontawesome-all.min.js"></script>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="https://ontimizeweb.github.io/docs/v8/assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<meta http-equiv="cleartype" content="on">
    

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v8/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v8/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v8/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v8/images/android-icon-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="manifest" href="https://ontimizeweb.github.io/docs/v8/images/manifest.json?v=M44lzPylqQ">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="https://ontimizeweb.github.io/docs/v8/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="https://ontimizeweb.github.io/docs/v8/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
  </head>

  <body class="layout--o-component">

    <!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
<![endif]-->
    

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
          <a href="https://ontimizeweb.github.io/docs/v8/">
            <div class="main_icon"></div>
        </a>

        <script src="https://ontimizeweb.github.io/docs/v8/assets/js/lunr.js"></script>
<script type="text/javascript" src="/docs/v8/assets/js/ontimize.js"></script>

<div class="search">
  <div class="search-input-wrap">
    <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="Search Ontimize Web" aria-label="Search Ontimize Web"
      autocomplete="off">
    <label for="search-input" class="search-label">
      <i class="fa fa-fw fa-search search-icon" aria-hidden="true"></i>
    </label>
  </div>
  <div id="search-results" class="search-results"></div>
</div>



<div class="search-overlay"></div>



        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!--<li class="masthead__menu-item masthead__menu-item--lg"><a href="https://ontimizeweb.github.io/docs/v8/">Ontimize Web</a></li>-->
          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/v8/doc-overview/">Getting started</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item masthead__menu-item-active"><a href="https://ontimizeweb.github.io/docs/v8/components/">Components</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/v8/about/">About</a>
            
            </li>


            
            

          

          
          <li class="masthead__menu-item masthead__menu-item-active">
            <select onchange="window.location = this.options[this.selectedIndex].value">
            
              <option value="https://ontimizeweb.github.io/docs/v4" >4.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs/v8"  selected="selected" >8.x.x</option>
            
            </select>
          </li>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

    





<div id="main" role="main">
  


  <div class="sidebar sticky">
  
  
    
      
      
      
    
    
      


 <script type="text/javascript" style="display:none;">
  var onNavigationItemClick = function (element) {

    var parentNav = $(element).parents('nav.nav__list');
    var icons = parentNav.find('svg');
    icons.addClass('fa-folder');
    icons.addClass('orange-icon');
    icons.removeClass('fa-folder-open');

    var parentLi = $(element).parents('li.nav-component-category:first');
    parentLi.siblings().removeClass('active-component-category');
    parentLi.addClass('active-component-category');
/*
    parentLi.siblings(':not(.active-parent)').removeClass('active-component-category');
    parentLi.toggleClass('active-component-category');
*/    
    var currentIcon = parentLi.find('svg:first');
    currentIcon.addClass('fa-folder-open');
    currentIcon.removeClass('orange-icon');
    currentIcon.removeClass('fa-folder');

  };
</script>

<nav class="nav__list">
  
  <ul>
    
    
    
      
          
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
                      
                            
                      
                  
              
                  
              
                  
              
                  
              
                 
      
          
              
                  
              
                  
              
                 
      
          
              
                  
                      
                            
                      
                            
                      
                  
              
                  
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                  
              
                  
              
                  
              
                  
              
                 
      
          
              
                  
              
                 
      
          
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                 
      
          
              
                  
              
                  
                      
                            
                      
                  
              
                  
              
                  
              
                 
      
    
 
    

    

    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Input</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/overview/overview" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/combo/overview" class=" ">Combo</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/checkbox/overview" class=" ">Checkbox</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/date/overview" class=" ">Date</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/currency/overview" class=" ">Currency</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/email/overview" class=" ">Email</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/file/overview" class=" ">File</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/html/overview" class=" ">HTML</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/daterange/overview" class=" ">Date range</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/hour/overview" class=" ">Hour</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/listpicker/overview" class=" ">List picker</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/integer/overview" class=" ">Integer</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/nif/overview" class=" ">NIF</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/password/overview" class=" ">Password</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/percent/overview" class=" ">Percentage</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/phone/overview" class=" ">Phone <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/radio/overview" class=" ">Radio</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/real/overview" class=" ">Real</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/slidetoggle/overview" class=" ">Slide toggle</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/slider/overview" class=" ">Slider</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/text/overview" class=" ">Text</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/textarea/overview" class=" ">Textarea</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/time/overview" class=" ">Time</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Button</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/button/overview" class=" ">Button</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/buttontoggle/overview" class=" ">Button toggle</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Data</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/filterbuilder/overview" class=" ">Filter builder</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/form/overview" class=" ">Form</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/grid/overview" class=" ">Grid</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/list/overview" class=" ">List</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/table/overview" class=" ">Table</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Media</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/image/overview" class=" ">Image</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Layout</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/applayout/overview" class=" ">App layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/breadcrumb/overview" class=" ">Breadcrumb</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/containers/overview" class=" ">Containers</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/contextmenu/overview" class=" ">Context menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/dialog/overview" class=" ">Dialog</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/formlayoutmanager/overview" class=" ">Form layout mngr.</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/snackbar/overview" class=" ">SnackBar</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Menu</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/menu/overview" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/cardmenulayout/overview" class=" ">Card menu layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/barmenu/overview" class=" ">Bar menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/sidemenu/overview" class=" ">Side menu <small>(deprecated)</small></a></li>
          
        </ul>
        
      </li>
    
  </ul>
</nav>
    
  
  </div>


  <article class="page  o-component " itemscope itemtype="http://schema.org/CreativeWork">
    
    <meta itemprop="headline" content="File input">
    
    <meta itemprop="description" content="">
    
    <meta itemprop="datePublished" content="July 05, 2023">
    

    <div class="page__inner-wrap">
      
      <header>
        <h1 class="page__title" itemprop="headline">File input
</h1>
        
      </header>
      

      <section class="page__content" itemprop="text">
        <div class="o-component-container">

  

  
    
      
        











<script type="text/javascript">

  function openTab(evt, tabName) {
    var url="https://ontimizeweb.github.io/docs/v8/components/input/file/api";
    url+='/../'+tabName;
    var loc_array = document.location.href.split('/');
    if (loc_array[loc_array.length - 1] !== tabName) {
      window.location.href=url;
    }

  }
</script>
 




<!-- Tab links -->
<div class="o-tab">
  <button class="o-tablinks "  onclick="openTab(event, 'overview')">Overview</button>
  <button class="o-tablinks active" class="o-tablinks" onclick="openTab(event, 'api')">API</button>
</div>

<!-- OVERVIEW -->
<div id="overview" class="o-tabcontent" style="display:none">
 <!-- <aside class="sidebar__right">
<nav class="toc" markdown="1">
<header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
*  Auto generated table of contents
{:toc .toc__menu}
</nav>
</aside> -->

  


  

  

</div>

<!-- API -->
<div id="api" class="o-tabcontent" style="display:block">
  



 
  <h2 id="File input" >File input</h2>
 

  
    <p><strong class="grey-color" id="o-file-input">Directive:</strong> o-file-input</p>
  
  


  


  
    <h3 id="inherited-inputs" class="grey-color">Inherited inputs</h3>
    <ul>
    
      
      <li>
        from  <a href="https://ontimizeweb.github.io/docs/v8/components/input/overview/api" rel="permalink">FormDataComponent:</a>
        <ul class="attributes-list">
          
          
            <li> attr </li>
          
            <li> clear-button </li>
          
            <li> enabled </li>
          
            <li> hide-required-marker </li>
          
            <li> label </li>
          
            <li> label-visible </li>
          
            <li> read-only </li>
          
            <li> required </li>
          
            <li> tooltip </li>
          
            <li> tooltip-position </li>
          
            <li> tooltip-show-delay </li>
          
            <li> validators </li>
          
            <li> width </li>
          
        </ul>
        
      </li>
    </ul>
  


  
    
      <h3 id="inputs" class="grey-color">Inputs</h3>
    
    
    

    
    

  <table class="attributes-table mdl-data-table">
    <thead>
      <tr>
      
        
          
            <th class=""> Name</th>
          
      
        
          
            <th class=""> Since</th>
          
      
        
          
            <th class=""> Description</th>
          
      
        
          
            <th class=""> Default</th>
          
      
      </tr>
    </thead>
    <tbody>
      
      

        
        

  <tr >
        
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>accept-file-type</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-since >
    <p class="first">
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>File types allowed on the file input, serparated by ‘;’. Accepted values: file extension as ‘.pdf’, ‘.doc’, ‘.jpg’; MIME type as ‘audio/<em>’, ‘video/</em>’, ‘image/*’</p>
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>additional-data</p>
</p>
    
      <p><i>JSON</i></p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-since >
    <p class="first">
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Use this parameter to send extra information to the server side in the upload file request</p>
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>entity</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-since >
    <p class="first">
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Service entity name</p>
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>max-file-size</p>
</p>
    
      <p><i>number</i></p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-since >
    <p class="first">
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Maximum file size (bytes) allowed</p>
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>max-files</p>
</p>
    
      <p><i>number</i></p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-since >
    <p class="first">
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Maximum number of files allowed</p>
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>-1</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>multiple</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-since >
    <p class="first">
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Multiple file selection allowed</p>
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>no</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>service</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-since >
    <p class="first">
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>JEE service path</p>
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>service-type</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-since >
    <p class="first">
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Injection token indicated in the provider of the service</p>
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>show-info</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-since >
    <p class="first">
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Show files information</p>
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>no</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>split-upload</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-since >
    <p class="first">
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates each file is uploaded in a single request (default). If ‘no’ or ‘false’ all files are uploaded in a single request</p>
</p>
    
  </td>
          
        
          
          
            
            
            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>yes</p>
</p>
    
  </td>
          
        
</tr>
      
      </tbody>
  </table>

  

  



  
    <h3 class="grey-color">Inherited outputs</h3>
    <ul>
      
      
      <li>
        from  <a href="https://ontimizeweb.github.io/docs/v8/components/input/overview/api" rel="permalink">FormDataComponent:</a>
        <ul class="attributes-list">
          
          
            <li> onChange </li>
          
            <li> onValueChange </li>
          
        </ul>
        
      </li>
    </ul>
  

  
    <h3 id="outputs" class="grey-color">Outputs</h3>
    <table class="attributes-table mdl-data-table">
      <thead>
        <tr>
        
          <th class=""> Name</th>
        
          <th class=""> Since</th>
        
          <th class=""> Description</th>
        
        </tr>
      </thead>
        <tbody>
        
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onBeforeUpload</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-since>
              

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered before uploading a file or a set of files in a single request. This means, ‘split-upload’ parameter is set to ‘no’/’false’</p>

              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onBeforeUploadFile</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-since>
              

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered before uploading a file in a single request. This means, ‘split-upload’ parameter is set to its default value</p>

              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onCancel</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-since>
              

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when the upload of a file or a set of files is cancelled. This means, ‘split-upload’ parameter is set to ‘no’/’false</p>

              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onCancelFile</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-since>
              

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when the upload of a file in a single request is cancelled. This means, ‘split-upload’ parameter is set to its default value</p>

              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onComplete</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-since>
              

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when the operation of uploading a file or a set of files has been completed. This means, ‘split-upload’ parameter is set to ‘no’/’false’</p>

              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onCompleteFile</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-since>
              

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when the operation of uploading a file in a single request has been completed. This means, ‘split-upload’ parameter is set to its default value</p>

              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onError</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-since>
              

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when the operation of uploding a file or a set of files request has failed. This means, ‘split-upload’ parameter is set to ‘no’/’false’</p>

              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onErrorFile</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-since>
              

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when the operation of uploading a file in a single request has failed. This means, ‘split-upload’ parameter is set to its default value</p>

              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onProgress</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-since>
              

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered each time the uploading progress of a file or a set of files changes. This means, ‘split-upload’ parameter is set to ‘no’/’false’</p>

              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onProgressFile</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-since>
              

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered each time the uploading progress of a file changes. This means, ‘split-upload’ parameter is set to its default value</p>

              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onUpload</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-since>
              

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when a file or a set of files has been uploaded in a single request. This means, ‘split-upload’ parameter is set to ‘no’/’false’</p>

              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onUploadFile</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-since>
              

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when a file has been uploaded. This means, ‘split-upload’ parameter is set to its default value</p>

              
            </td>
          
          </tr>
        
      </tbody>
    </table>
  


  




  

</div>


      
    
  

</div>

        
      </section>

      <footer class="page__meta">
        
        




        
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Updated:</strong> <time datetime="2023-07-05T04:39:13-04:00">July 05, 2023</time></p>
        
      </footer>

      

      <!-- 


  <nav class="pagination">
    
      <a href="https://ontimizeweb.github.io/docs/v8/components/input/email/overview" class="pagination--pager" title="Email input
">
          <i class="fas fa-arrow-left margin-right"></i>
        Previous
      </a>
    
    
      <a href="https://ontimizeweb.github.io/docs/v8/components/input/file/overview" class="pagination--pager" title="File input
">
        Next
        <i class="fas fa-arrow-right margin-left"></i>
      </a>
    
  </nav>
 -->
    </div>

    
  </article>

  
  
</div>

    <div class="page__footer">
      <footer>
        <!-- start custom footer snippets -->

<a href="#" class="scrollToTop"><i class="fa fa-fw fa-chevron-circle-up" aria-hidden="true"></i></a>

<!-- end custom footer snippets -->
        

<div class="page__footer-follow">
  <ul class="social-icons">
    
      <li><strong>Follow:</strong></li>
    
    
      <li><a href="https://twitter.com/imatiainnova" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    
    
      <li><a href="https://www.linkedin.com/company/224080?trk=prof-0-ovw-curr_pos" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    
    
      <li><a href="http://github.com/OntimizeWeb" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    
    
    <li><a href="https://ontimizeweb.github.io/docs/v8/feed.xml" target="_blank"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Feed</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; 2023 Imatia Innovation, S.L.. Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
      </footer>
    </div>

    <script src="https://ontimizeweb.github.io/docs/v8/assets/js/main.min.js"></script>




  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2011187-3', 'auto');
  ga('send', 'pageview');
</script>






  </body>
</html>
