

<!doctype html>
<html lang="en" class="no-js">
  <head>
    

<meta charset="utf-8">



<!-- begin SEO -->









<title>Tree - Ontimize Web</title>







<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Ontimize Web">
<meta property="og:title" content="Tree">


  <link rel="canonical" href="https://ontimizeweb.github.io/docs/v3/tree/components/o-tree-node.component/">
  <meta property="og:url" content="https://ontimizeweb.github.io/docs/v3/tree/components/o-tree-node.component/">



  <meta property="og:description" content="     On This Page  ">



  <meta name="twitter:site" content="@imatiainnova">
  <meta name="twitter:title" content="Tree">
  <meta name="twitter:description" content="     On This Page  ">
  <meta name="twitter:url" content="https://ontimizeweb.github.io/tree/components/o-tree-node.component/">

  
    <meta name="twitter:card" content="summary">
    
      <meta name="twitter:image" content="https://ontimizeweb.github.io/docs/v3/images/site-logo.png">
    
  

  



  

  



  <meta property="og:image" content="https://ontimizeweb.github.io/docs/v3/images/site-logo.png">



  <meta property="og:type" content="article">
  <meta property="article:published_time" content="2020-11-24T01:36:53-05:00">






  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://ontimizeweb.github.io/docs/v3",
      "logo": "https://ontimizeweb.github.io/docs/v3/images/site-logo.png"
    }
  </script>



  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Person",
      "name" : "Ontimize Web",
      "url" : "https://ontimizeweb.github.io/docs/v3",
      "sameAs" : ["https://twitter.com/imatiainnova"]
    }
  </script>






<!-- end SEO -->


<link href="https://ontimizeweb.github.io/docs/v3/feed.xml" type="application/atom+xml" rel="alternate" title="Ontimize Web Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src="https://ontimizeweb.github.io/docs/v3/assets/js/fontawesome-all.min.js"></script>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="https://ontimizeweb.github.io/docs/v3/assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<meta http-equiv="cleartype" content="on">
    

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v3/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v3/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v3/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v3/images/android-icon-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="manifest" href="https://ontimizeweb.github.io/docs/v3/images/manifest.json?v=M44lzPylqQ">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="https://ontimizeweb.github.io/docs/v3/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="https://ontimizeweb.github.io/docs/v3/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
  </head>

  <body class="layout--o-component">

    <!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
<![endif]-->
    

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
          <a href="https://ontimizeweb.github.io/docs/v3/">
            <div class="main_icon"></div>
        </a>
        <span class="fill_remaing_space"></span>
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!--<li class="masthead__menu-item masthead__menu-item--lg"><a href="https://ontimizeweb.github.io/docs/v3/">Ontimize Web</a></li>-->
          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/v3/doc-overview/">Getting started</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item masthead__menu-item-active"><a href="https://ontimizeweb.github.io/docs/v3/components/">Components</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/v3/about/">About</a>
            
            </li>


            
            

          

          
          <li class="masthead__menu-item masthead__menu-item-active">
            <select onchange="window.location = this.options[this.selectedIndex].value">
            
              <option value="https://ontimizeweb.github.io/docs/v3"  selected="selected" >3.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs/v4" >4.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs" >8.x.x</option>
            
            </select>
          </li>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

    




  
    





<nav class="breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    
    
    
      
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="https://ontimizeweb.github.io/docs/v3/" itemprop="item"><span itemprop="name">Home</span></a>
          <meta itemprop="position" content="1" />
        </li>
        
        <span class="sep">></span>
      
      
        
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="https://ontimizeweb.github.io/docs/v3/tree" itemprop="item"><span itemprop="name">Tree</span></a>
          <meta itemprop="position" content="2" />
        </li>
        <span class="sep">></span>
      
    
      
      
        
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="https://ontimizeweb.github.io/docs/v3/components" itemprop="item"><span itemprop="name">Components</span></a>
          <meta itemprop="position" content="3" />
        </li>
        <span class="sep">></span>
      
    
      
      
        <li class="current">Tree</li>
      
    
  </ol>
</nav>
  


<div id="main" role="main">
  


  <div class="sidebar sticky">
  
  
    
      
      
      
    
    
      


 <script type="text/javascript" style="display:none;">
  var onNavigationItemClick = function (element) {

    var parentNav = $(element).parents('nav.nav__list');
    var icons = parentNav.find('svg');
    icons.addClass('fa-folder');
    icons.addClass('orange-icon');
    icons.removeClass('fa-folder-open');

    var parentLi = $(element).parents('li.nav-component-category:first');
    parentLi.siblings().removeClass('active-component-category');
    parentLi.addClass('active-component-category');
/*
    parentLi.siblings(':not(.active-parent)').removeClass('active-component-category');
    parentLi.toggleClass('active-component-category');
*/    
    var currentIcon = parentLi.find('svg:first');
    currentIcon.addClass('fa-folder-open');
    currentIcon.removeClass('orange-icon');
    currentIcon.removeClass('fa-folder');

  };
</script>

<nav class="nav__list">
  
  <ul>
    
    
    
 
    

    

    
    

      
       
      <li class=" ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Getting Started</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/tree/overview/" class=" ">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/tree/installation/" class=" ">Installation</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class=" ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Components</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/tree/components/o-tree.component/" class=" ">Tree</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/tree/components/o-tree-node.component/" class="active ">Tree node</a></li>
          
        </ul>
        
      </li>
    
  </ul>
</nav>
    
  
  </div>


  <article class="page " itemscope itemtype="http://schema.org/CreativeWork">
    
    <meta itemprop="headline" content="Tree">
    
    <meta itemprop="description" content="     On This Page  ">
    
    <meta itemprop="datePublished" content="November 24, 2020">
    

    <div class="page__inner-wrap">
      
      <header>
        <h1 class="page__title" itemprop="headline">Tree
</h1>
        
      </header>
      

      <section class="page__content" itemprop="text">
        <div class="o-component-container">

  

  
    







 
 
 

<script type="text/javascript">
  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("o-tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("o-tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
 
<!-- Tab links -->
<div class="o-tab">
  <button class="o-tablinks active" onclick="openTab(event, 'overview')">Overview</button>
  <button class="o-tablinks" onclick="openTab(event, 'api')">API</button>
</div>

<!-- OVERVIEW -->
<div id="overview" class="o-tabcontent" style="display:block;">
 <!-- <aside class="sidebar__right">
<nav class="toc" markdown="1">
<header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
*  Auto generated table of contents
{:toc .toc__menu}
</nav>
</aside> -->

  

  
  

  
<aside class="sidebar__right">
<nav class="toc">
    <header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
<ul class="toc__menu" id="markdown-toc">
  <li><a href="#introduction" id="markdown-toc-introduction">Introduction</a></li>
  <li><a href="#parent-keys" id="markdown-toc-parent-keys">Parent keys</a></li>
  <li><a href="#quick-filter" id="markdown-toc-quick-filter">Quick filter</a></li>
  <li><a href="#demo" id="markdown-toc-demo">Demo</a></li>
</ul>

  </nav>
</aside>

<h2 id="introduction">Introduction</h2>
<p>The <code class="language-plaintext highlighter-rouge">o-tree-node</code> component allows to define inner nodes of another <code class="language-plaintext highlighter-rouge">o-tree-node</code> or the root <code class="language-plaintext highlighter-rouge">o-tree</code> component.</p>

<h2 id="parent-keys">Parent keys</h2>
<p>When using a remote data binded tree component, a <code class="language-plaintext highlighter-rouge">o-tree-node</code> must specify in its <code class="language-plaintext highlighter-rouge">parent-keys</code> attribute which parent node registry property is going to use for doing its data query.</p>

<h3 class="grey-color">Example</h3>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-tree</span> <span class="na">#treeview</span> <span class="na">fxFlex</span> <span class="na">root-title=</span><span class="s">"CUSTOMERS"</span> <span class="na">service=</span><span class="s">"customers"</span> <span class="na">entity=</span><span class="s">"customer"</span>
  <span class="na">keys=</span><span class="s">"CUSTOMERID"</span> <span class="na">columns=</span><span class="s">"CUSTOMERID;SURNAME;NAME"</span>
  <span class="na">description-columns=</span><span class="s">"SURNAME;NAME"</span> <span class="na">separator=</span><span class="s">", "</span><span class="nt">&gt;</span>

<span class="nt">&lt;o-tree-node</span> <span class="na">root-title=</span><span class="s">"ACCOUNTS"</span> <span class="na">show-root=</span><span class="s">"no"</span> <span class="na">service=</span><span class="s">"customers"</span>
  <span class="na">entity=</span><span class="s">"customerAccount"</span> <span class="na">columns=</span><span class="s">"ACCOUNTID;CUSTOMERID;ACCOUNT"</span>
  <span class="na">description-columns=</span><span class="s">"ACCOUNT"</span> <span class="na">keys=</span><span class="s">"ACCOUNTID"</span> <span class="na">parent-keys=</span><span class="s">"CUSTOMERID"</span><span class="nt">&gt;</span>

  <span class="nt">&lt;o-tree-node</span> <span class="na">root-title=</span><span class="s">"ACCOUNT_CONCEPTS"</span> <span class="na">show-root=</span><span class="s">"no"</span> <span class="na">service=</span><span class="s">"branches"</span>
    <span class="na">entity=</span><span class="s">"accountConcepts"</span> <span class="na">columns=</span><span class="s">"CONCEPT;ACCOUNTID"</span>
    <span class="na">description-columns=</span><span class="s">"CONCEPT"</span> <span class="na">keys=</span><span class="s">"CONCEPT;ACCOUNTID"</span> <span class="na">parent-keys=</span><span class="s">"ACCOUNTID"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;/o-tree-node&gt;</span>

  <span class="nt">&lt;o-tree-node</span> <span class="na">root-title=</span><span class="s">"ACCOUNT_MOVEMENTTYPES"</span> <span class="na">show-root=</span><span class="s">"no"</span>
    <span class="na">service=</span><span class="s">"branches"</span> <span class="na">entity=</span><span class="s">"accountMovementTypes"</span> <span class="na">columns=</span><span class="s">"DESCRIPTION;ACCOUNTID"</span>
    <span class="na">description-columns=</span><span class="s">"DESCRIPTION"</span> <span class="na">keys=</span><span class="s">"DESCRIPTION;ACCOUNTID"</span>
    <span class="na">parent-keys=</span><span class="s">"ACCOUNTID"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;/o-tree-node&gt;</span>

<span class="nt">&lt;/o-tree-node&gt;</span>

<span class="nt">&lt;/o-tree&gt;</span>
</code></pre></div></div>

<p><img src="https://ontimizeweb.github.io/docs/v3/images/components/tree/inner.png" alt="Tree component" class="comp-example-img" /></p>

<h2 id="quick-filter">Quick filter</h2>

<p>You can configure the same <code class="language-plaintext highlighter-rouge">o-tree</code> component filtering properties, that will only affect to this tree node.</p>

<h2 id="demo">Demo</h2>

<p>You can see an example of this component behaviour in this <a href="https://try.imatia.com/ontimizeweb/tree/main/nodes" target="_blank">OntimizeWeb tree quickstart</a> section.</p>

</div>

<!-- API -->
<div id="api" class="o-tabcontent">

  



  
    <p><strong class="grey-color">Directive:</strong> o-tree-node</p>
  
  


  


  
    <h3 class="grey-color">Inherited inputs</h3>
    <ul>
    
      
      <li>
        from  <a href="https://ontimizeweb.github.io/docs/v3/tree/components/o-tree.component/" rel="permalink">o-tree:</a>
        <ul class="attributes-list">
          
          
            <li> attr </li>
          
            <li> columns </li>
          
            <li> delete-method </li>
          
            <li> description-columns </li>
          
            <li> entity </li>
          
            <li> filter-case-sensitive </li>
          
            <li> insert-method </li>
          
            <li> keys </li>
          
            <li> pageable </li>
          
            <li> paginated-query-method </li>
          
            <li> parent-column </li>
          
            <li> parent-keys </li>
          
            <li> query-method </li>
          
            <li> query-on-bind </li>
          
            <li> query-on-init </li>
          
            <li> query-rows </li>
          
            <li> query-with-null-parent-keys </li>
          
            <li> quick-filter </li>
          
            <li> quick-filter-columns </li>
          
            <li> recursive </li>
          
            <li> recursive-levels </li>
          
            <li> root-title </li>
          
            <li> route </li>
          
            <li> separator </li>
          
            <li> service </li>
          
            <li> service-type </li>
          
            <li> show-root </li>
          
            <li> sort-columns </li>
          
            <li> static-data </li>
          
            <li> store-state </li>
          
            <li> translate </li>
          
            <li> update-method </li>
          
        </ul>
        
      </li>
    </ul>
  


  


  
    <h3 class="grey-color">Inherited outputs</h3>
    <ul>
      
      
      <li>
        from  <a href="https://ontimizeweb.github.io/docs/v3/tree/components/o-tree.component/" rel="permalink">o-tree:</a>
        <ul class="attributes-list">
          
          
            <li> onNodeCollapsed </li>
          
            <li> onNodeExpanded </li>
          
            <li> onNodeSelected </li>
          
        </ul>
        
      </li>
    </ul>
  

  


  




  

</div>


  

</div>
        
      </section>

      <footer class="page__meta">
        
        




        
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Updated:</strong> <time datetime="2020-11-24T01:36:53-05:00">November 24, 2020</time></p>
        
      </footer>

      

      


  <nav class="pagination">
    
      <a href="https://ontimizeweb.github.io/docs/v3/tree/components/o-tree.component/" class="pagination--pager" title="Tree
">
          <i class="fas fa-arrow-left margin-right"></i>
        Previous
      </a>
    
    
      <a href="https://ontimizeweb.github.io/docs/v3/tree/overview/" class="pagination--pager" title="Overview
">
        Next
        <i class="fas fa-arrow-right margin-left"></i>
      </a>
    
  </nav>

    </div>

    
  </article>

  
  
</div>

    <div class="page__footer">
      <footer>
        <!-- start custom footer snippets -->

<a href="#" class="scrollToTop"><i class="fa fa-fw fa-chevron-circle-up" aria-hidden="true"></i></a>

<!-- end custom footer snippets -->
        

<div class="page__footer-follow">
  <ul class="social-icons">
    
      <li><strong>Follow:</strong></li>
    
    
      <li><a href="https://twitter.com/imatiainnova" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    
    
      <li><a href="https://www.linkedin.com/company/224080?trk=prof-0-ovw-curr_pos" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    
    
      <li><a href="http://github.com/OntimizeWeb" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    
    
    <li><a href="https://ontimizeweb.github.io/docs/v3/feed.xml" target="_blank"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Feed</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; 2020 Imatia Innovation, S.L.. Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
      </footer>
    </div>

    <script src="https://ontimizeweb.github.io/docs/v3/assets/js/main.min.js"></script>





  </body>
</html>
