

<!doctype html>
<html lang="en" class="no-js">
  <head>
    

<meta charset="utf-8">



<!-- begin SEO -->









<title>Side menu - Ontimize Web</title>







<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Ontimize Web">
<meta property="og:title" content="Side menu">


  <link rel="canonical" href="https://ontimizeweb.github.io/docs/v3/components/sidemenu/">
  <meta property="og:url" content="https://ontimizeweb.github.io/docs/v3/components/sidemenu/">



  <meta property="og:description" content="     On This Page  ">



  <meta name="twitter:site" content="@imatiainnova">
  <meta name="twitter:title" content="Side menu">
  <meta name="twitter:description" content="     On This Page  ">
  <meta name="twitter:url" content="https://ontimizeweb.github.io/components/sidemenu/">

  
    <meta name="twitter:card" content="summary">
    
      <meta name="twitter:image" content="https://ontimizeweb.github.io/docs/v3/images/site-logo.png">
    
  

  



  

  



  <meta property="og:image" content="https://ontimizeweb.github.io/docs/v3/images/site-logo.png">



  <meta property="og:type" content="article">
  <meta property="article:published_time" content="2020-08-26T10:23:10-04:00">






  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://ontimizeweb.github.io/docs/v3",
      "logo": "https://ontimizeweb.github.io/docs/v3/images/site-logo.png"
    }
  </script>



  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Person",
      "name" : "Ontimize Web",
      "url" : "https://ontimizeweb.github.io/docs/v3",
      "sameAs" : ["https://twitter.com/imatiainnova"]
    }
  </script>






<!-- end SEO -->


<link href="https://ontimizeweb.github.io/docs/v3/feed.xml" type="application/atom+xml" rel="alternate" title="Ontimize Web Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src="https://ontimizeweb.github.io/docs/v3/assets/js/fontawesome-all.min.js"></script>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="https://ontimizeweb.github.io/docs/v3/assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<meta http-equiv="cleartype" content="on">
    

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v3/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v3/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v3/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v3/images/android-icon-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="manifest" href="https://ontimizeweb.github.io/docs/v3/images/manifest.json?v=M44lzPylqQ">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="https://ontimizeweb.github.io/docs/v3/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="https://ontimizeweb.github.io/docs/v3/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
  </head>

  <body class="layout--o-component">

    <!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
<![endif]-->
    

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
          <a href="https://ontimizeweb.github.io/docs/v3/">
            <div class="main_icon"></div>
        </a>
        <span class="fill_remaing_space"></span>
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!--<li class="masthead__menu-item masthead__menu-item--lg"><a href="https://ontimizeweb.github.io/docs/v3/">Ontimize Web</a></li>-->
          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/v3/doc-overview/">Getting started</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item masthead__menu-item-active"><a href="https://ontimizeweb.github.io/docs/v3/components/">Components</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/v3/about/">About</a>
            
            </li>


            
            

          

          
          <li class="masthead__menu-item masthead__menu-item-active">
            <select onchange="window.location = this.options[this.selectedIndex].value">
            
              <option value="https://ontimizeweb.github.io/docs/v3"  selected="selected" >3.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs/v4" >4.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs" >8.x.x</option>
            
            </select>
          </li>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

    





<div id="main" role="main">
  


  <div class="sidebar sticky">
  
  
    
      
      
      
    
    
      


 <script type="text/javascript" style="display:none;">
  var onNavigationItemClick = function (element) {

    var parentNav = $(element).parents('nav.nav__list');
    var icons = parentNav.find('svg');
    icons.addClass('fa-folder');
    icons.addClass('orange-icon');
    icons.removeClass('fa-folder-open');

    var parentLi = $(element).parents('li.nav-component-category:first');
    parentLi.siblings().removeClass('active-component-category');
    parentLi.addClass('active-component-category');
/*
    parentLi.siblings(':not(.active-parent)').removeClass('active-component-category');
    parentLi.toggleClass('active-component-category');
*/    
    var currentIcon = parentLi.find('svg:first');
    currentIcon.addClass('fa-folder-open');
    currentIcon.removeClass('orange-icon');
    currentIcon.removeClass('fa-folder');

  };
</script>

<nav class="nav__list">
  
  <ul>
    
    
    
      
          
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
                      
                            
                      
                  
              
                  
              
                  
              
                  
              
                 
      
          
              
                  
              
                  
              
                 
      
          
              
                  
                      
                            
                      
                            
                      
                  
              
                  
              
                  
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                  
              
                  
              
                  
              
                  
              
                 
      
          
              
                  
              
                 
      
          
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                 
      
          
              
                  
              
                  
                      
                            
                      
                  
              
                  
              
                  
                      
                      
                 
      
    
 
    

    

    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Input</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/overview/" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/checkbox/" class=" ">Checkbox</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/combo/" class=" ">Combo</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/currency/" class=" ">Currency</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/date/" class=" ">Date</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/email/" class=" ">Email</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/file/" class=" ">File</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/html/" class=" ">HTML</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/hour/" class=" ">Hour</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/integer/" class=" ">Integer</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/listpicker/" class=" ">List picker</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/nif/" class=" ">NIF</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/password/" class=" ">Password</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/percent/" class=" ">Percentage</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/radio/" class=" ">Radio <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/real/" class=" ">Real</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/slidetoggle/" class=" ">Slide toggle <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/slider/" class=" ">Slider <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/text/" class=" ">Text</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/textarea/" class=" ">Textarea</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/time/" class=" ">Time</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Button</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/button/" class=" ">Button</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/buttontoggle/" class=" ">Button toggle</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Data</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/datatable/" class=" ">DataTable <small>(deprecated)</small></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/filterbuilder/" class=" ">Filter builder</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/form/" class=" ">Form</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/grid/" class=" ">Grid <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/list/" class=" ">List</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/table/" class=" ">Table</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Media</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/image/" class=" ">Image</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Layout</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/applayout/" class=" ">App layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/breadcrumb/" class=" ">Breadcrumb</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/containers/" class=" ">Containers</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/contextmenu/" class=" ">Context menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/dialog/" class=" ">Dialog</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/formlayoutmanager/" class=" ">Form layout mngr.</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/snackbar/" class=" ">SnackBar</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category active-component-category active-parent">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder-open nav__sub-title-icon"></i>Menu</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/menu/" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/barmenu/" class=" ">Bar menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/cardmenulayout/" class=" ">Card menu layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/sidemenu/" class="active ">Side menu <small>(deprecated)</small></a></li>
          
        </ul>
        
      </li>
    
  </ul>
</nav>
    
  
  </div>


  <article class="page  o-component " itemscope itemtype="http://schema.org/CreativeWork">
    
    <meta itemprop="headline" content="Side menu">
    
    <meta itemprop="description" content="     On This Page  ">
    
    <meta itemprop="datePublished" content="August 26, 2020">
    

    <div class="page__inner-wrap">
      
      <header>
        <h1 class="page__title" itemprop="headline">Side menu
</h1>
        
      </header>
      

      <section class="page__content" itemprop="text">
        <div class="o-component-container">

  

  
    







 
 
 

<script type="text/javascript">
  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("o-tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("o-tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
 
<!-- Tab links -->
<div class="o-tab">
  <button class="o-tablinks active" onclick="openTab(event, 'overview')">Overview</button>
  <button class="o-tablinks" onclick="openTab(event, 'api')">API</button>
</div>

<!-- OVERVIEW -->
<div id="overview" class="o-tabcontent" style="display:block;">
 <!-- <aside class="sidebar__right">
<nav class="toc" markdown="1">
<header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
*  Auto generated table of contents
{:toc .toc__menu}
</nav>
</aside> -->

  

  
  

  
<aside class="sidebar__right">
<nav class="toc">
    <header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
<ul class="toc__menu" id="markdown-toc">
  <li><a href="#side-menu-item" id="markdown-toc-side-menu-item">Side menu item</a></li>
  <li><a href="#side-menu-group" id="markdown-toc-side-menu-group">Side menu group</a></li>
  <li><a href="#side-menu-separator" id="markdown-toc-side-menu-separator">Side menu separator</a></li>
  <li><a href="#example" id="markdown-toc-example">Example</a></li>
</ul>

  </nav>
</aside>

<div class="notice--danger align-center" style="margin: 0;">
This component is **deprecated** and will be removed in following versions.
</div>

<p>The <code class="language-plaintext highlighter-rouge">o-side-menu</code> component displays a side menu on the page where it is included. It is recommended to include it in the main component of you <strong>OntimizeWeb</strong> application, where the <code class="language-plaintext highlighter-rouge">router-outlet</code> is placed, so the side menu will be always visible.</p>

<p>For building the side menu component you must include different components</p>

<h2 id="side-menu-item">Side menu item</h2>

<p>The <code class="language-plaintext highlighter-rouge">o-side-menu-item</code> component represents each item of the side menu component. It can be grouped with the <a href="#side-menu-group"><code class="language-plaintext highlighter-rouge">o-side-menu-group</code></a> component. This component is the responsible of executing the actions on the side menu, the action can be navigating to the configured route or executing an action provided by the user. Check the <strong>API</strong> section of this page for more information.</p>

<h2 id="side-menu-group">Side menu group</h2>

<p>The <code class="language-plaintext highlighter-rouge">o-side-menu-group</code> component is used to group a set of <a href="#side-menu-item"><code class="language-plaintext highlighter-rouge">o-side-menu-item</code></a> components. It displays the contained menu items as a drop down list when the cursor pass over it.</p>

<h2 id="side-menu-separator">Side menu separator</h2>

<p>The <code class="language-plaintext highlighter-rouge">o-side-menu-separator</code> component is used only for styling purposes. It displays a separator between two <a href="#side-menu-item"><code class="language-plaintext highlighter-rouge">o-side-menu-item</code></a> or <a href="#side-menu-group"><code class="language-plaintext highlighter-rouge">o-side-menu-group</code></a> components.</p>

<h2 id="example">Example</h2>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-side-menu</span> <span class="na">title=</span><span class="s">"APP_TITLE"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;o-side-menu-group</span> <span class="na">title=</span><span class="s">"VIEW"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;o-side-menu-item</span> <span class="na">title=</span><span class="s">"HOME"</span> <span class="na">icon=</span><span class="s">"home"</span> <span class="na">route=</span><span class="s">"/main/home"</span><span class="nt">&gt;&lt;/o-side-menu-item&gt;</span>
    <span class="nt">&lt;o-side-menu-item</span> <span class="na">title=</span><span class="s">"CUSTOMERS"</span> <span class="na">icon=</span><span class="s">"people"</span> <span class="na">route=</span><span class="s">"/main/customers"</span><span class="nt">&gt;&lt;/o-side-menu-item&gt;</span>
    <span class="nt">&lt;o-side-menu-item</span> <span class="na">title=</span><span class="s">"ACCOUNTS"</span> <span class="na">icon=</span><span class="s">"credit_card"</span> <span class="na">route=</span><span class="s">"/main/accounts"</span><span class="nt">&gt;&lt;/o-side-menu-item&gt;</span>
    <span class="nt">&lt;o-side-menu-item</span> <span class="na">title=</span><span class="s">"BRANCHES"</span> <span class="na">icon=</span><span class="s">"account_balance"</span> <span class="na">route=</span><span class="s">"/main/branches"</span><span class="nt">&gt;&lt;/o-side-menu-item&gt;</span>
    <span class="nt">&lt;o-side-menu-item</span> <span class="na">title=</span><span class="s">"EMPLOYEES"</span> <span class="na">icon=</span><span class="s">"airline_seat_recline_normal"</span> <span class="na">route=</span><span class="s">"/main/employees"</span><span class="nt">&gt;&lt;/o-side-menu-item&gt;</span>
  <span class="nt">&lt;/o-side-menu-group&gt;</span>

  <span class="nt">&lt;o-side-menu-group</span> <span class="na">title=</span><span class="s">"OPTIONS"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;o-side-menu-group</span> <span class="na">title=</span><span class="s">"LANGUAGE"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;o-side-menu-item</span> <span class="na">title=</span><span class="s">"English"</span><span class="nt">&gt;&lt;/o-side-menu-item&gt;</span>
      <span class="nt">&lt;o-side-menu-item</span> <span class="na">title=</span><span class="s">"Español"</span><span class="nt">&gt;&lt;/o-side-menu-item&gt;</span>
    <span class="nt">&lt;/o-side-menu-group&gt;</span>
    <span class="nt">&lt;o-side-menu-separator&gt;&lt;/o-side-menu-separator&gt;</span>
    <span class="nt">&lt;o-side-menu-item</span> <span class="na">title=</span><span class="s">"LOGOUT"</span> <span class="na">icon=</span><span class="s">"power_settings_new"</span> <span class="na">route=</span><span class="s">"/login"</span> <span class="na">confirm=</span><span class="s">"MESSAGES.CONFIRM_LOGOUT"</span><span class="nt">&gt;&lt;/o-side-menu-item&gt;</span>
  <span class="nt">&lt;/o-side-menu-group&gt;</span>

  <span class="nt">&lt;o-side-menu-item</span> <span class="na">title=</span><span class="s">"VERSION"</span> <span class="na">[action]=</span><span class="s">"showVersionCallback"</span><span class="nt">&gt;&lt;/o-side-menu-item&gt;</span>
<span class="nt">&lt;/o-side-menu&gt;</span>
</code></pre></div></div>

<!-- ![Side menu component](https://ontimizeweb.github.io/docs/v3/images/components/menu/o-bar-menu.png) -->

</div>

<!-- API -->
<div id="api" class="o-tabcontent">

  



  
    <p><strong class="grey-color">Directive:</strong> o-side-menu</p>
  
  


  


  


  
  <h3 class="grey-color">Inputs</h3>
    
    

    
    

  <table class="attributes-table mdl-data-table">
    <thead>
      <tr>
      
        
          
            <th class=""> Name</th>
          
      
        
          
            <th class=""> Description</th>
          
      
        
          
      
      </tr>
    </thead>
    <tbody>
      
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>title</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Menu title</p>
</p>
    
  </td>
          
        
          
          
        
</tr>
      
      </tbody>
  </table>

  

  


  

  


  




  
  
     
    
    
    
      
      
  <h2 class="">Side menu item</h2>
      




  
<p><strong class="grey-color">Directive:</strong> o-side-menu-item</p>
  
  


  


  


  
  <h3 class="grey-color">Inputs</h3>






  <table class="attributes-table mdl-data-table">
<thead>
  <tr>
  

  
<th class=""> Name</th>
  
  

  
<th class=""> Description</th>
  
  

  
  
  </tr>
</thead>
<tbody>
  
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>action</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Method to execute when the menu item is selected</p>
</p>

  </td>
  

  
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>icon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Icon name (see <a href="https://design.google.com/icons/" target="_blank">Google material design icons</a>)</p>
</p>

  </td>
  

  
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>route</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>App navigation route when the menu item is selected</p>
</p>

  </td>
  

  
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>title</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Item title</p>
</p>

  </td>
  

  
  

</tr>
  
  </tbody>
  </table>

  

  


  

  


  



  
    
      
      
  <h2 class="">Side menu group</h2>
      




  
<p><strong class="grey-color">Directive:</strong> o-side-menu-group</p>
  
  


  


  


  
  <h3 class="grey-color">Inputs</h3>






  <table class="attributes-table mdl-data-table">
<thead>
  <tr>
  

  
<th class=""> Name</th>
  
  

  
<th class=""> Description</th>
  
  

  
  
  </tr>
</thead>
<tbody>
  
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>title</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Group title</p>
</p>

  </td>
  

  
  

</tr>
  
  </tbody>
  </table>

  

  


  

  


  



  
    
      
      
  <h2 class="">Side menu separator</h2>
      




  
<p><strong class="grey-color">Directive:</strong> o-side-menu-separator</p>
  
  


  


  


  


  

  


  



  
    
  

</div>


  

</div>
        
      </section>

      <footer class="page__meta">
        
        




        
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Updated:</strong> <time datetime="2020-08-26T10:23:10-04:00">August 26, 2020</time></p>
        
      </footer>

      

      


  <nav class="pagination">
    
      <a href="https://ontimizeweb.github.io/docs/v3/components/cardmenulayout/cardmenuitem/" class="pagination--pager" title="Card menu item
">
          <i class="fas fa-arrow-left margin-right"></i>
        Previous
      </a>
    
    
      <a href="https://ontimizeweb.github.io/docs/v3/components/faq/" class="pagination--pager" title="Frequently asked questions
">
        Next
        <i class="fas fa-arrow-right margin-left"></i>
      </a>
    
  </nav>

    </div>

    
  </article>

  
  
</div>

    <div class="page__footer">
      <footer>
        <!-- start custom footer snippets -->

<a href="#" class="scrollToTop"><i class="fa fa-fw fa-chevron-circle-up" aria-hidden="true"></i></a>

<!-- end custom footer snippets -->
        

<div class="page__footer-follow">
  <ul class="social-icons">
    
      <li><strong>Follow:</strong></li>
    
    
      <li><a href="https://twitter.com/imatiainnova" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    
    
      <li><a href="https://www.linkedin.com/company/224080?trk=prof-0-ovw-curr_pos" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    
    
      <li><a href="http://github.com/OntimizeWeb" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    
    
    <li><a href="https://ontimizeweb.github.io/docs/v3/feed.xml" target="_blank"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Feed</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; 2020 Imatia Innovation, S.L.. Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
      </footer>
    </div>

    <script src="https://ontimizeweb.github.io/docs/v3/assets/js/main.min.js"></script>





  </body>
</html>
