@import "./color_schemes/dark";
$color-scheme: dark;
// Font
$body-font-family: $roboto;
// Colors
$link-color: $primary-500-dark;
$nav-child-link-color: $white-60;
$feedback-color: #1d1d1d;
$btn-primary-color: $primary-500-dark;
$base-button-color: $grey;
$code-background-color: $grey;
$blue-300: $primary-500-dark;
$blue-200: $primary-400-dark;
$blue-000: $primary-50-dark;
$code-background-color: #31343f;
$code-linenumber-color: #dee2f7;