// Colors
$link-color: $primary-500;
$nav-child-link-color: $dark-60;
$sidebar-color: $grey;
$feedback-color: #EAEAEA;
$btn-primary-color: $primary-500;
$base-button-color: $grey;
$code-background-color: $grey;
$blue-300: $primary-500;
$blue-200: $primary-400;
$blue-000: $primary-50;

// Font
$body-font-family: $roboto;
