{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    

    {% assign title_id = title | slugify   %}
    <h2 id="{{ title_id }}" >
        {{ title }}
    </h2>
    <p>
    
    {{ post | markdownify  }}
       
    </p>
  </article>
</div>