{% include base_path %}
{% assign pages_list = site[page.collection] | default: site.html_pages %}

{%- assign parent_page = '' -%}
{%- assign grandparent_page = '' -%}
{%- assign permalink_array = page.permalink | split: '/' -%}
{%- assign page_title = page.title | downcase -%}
{%- assign b = '' -%}

{% for a in permalink_array %}

  {% if a != page_title %}

    {%- assign parent_page = parent_page | append: a -%}
    {%- assign parent_page = parent_page | append: '/' -%}
    {%- assign grandparent_page = grandparent_page | append: a -%}
    {%- assign grandparent_page = grandparent_page | append: '/' -%}
    {%- assign b = a -%}

  {% else %}
    {%- assign grandparent_page = grandparent_page | remove_last: b -%}
    {%- assign grandparent_page = grandparent_page | remove_last: '/' -%}
    {% break %}

  {% endif %}

{% endfor %}

{%- assign parent_page_name = parent_page | split: '/' -%}
{%- assign grandparent_page_name = grandparent_page | split: '/' -%}

<nav aria-label="Breadcrumb" class="breadcrumbs">
  <ol>
    {% if parent_page != '' -%}
      {%- if grandparent_page != '' %}
        <li><a href="{{ base_path }}{{ grandparent_page }}">{{ grandparent_page_name[-1] }}</a></li>
      {%- endif %}
      <li><a href="{{ base_path }}{{ parent_page }}">{{ parent_page_name[-1] }}</a></li>
    {% endif -%}
    <li><span>{{ page.title }}</span></li>
  </ol>
</nav>