{% include base_path %}
<div class="header-custom-main">
  {% if page.title == 'Home' %}
    <a href="{{ base_path }}/introduction/">
      <div class="docs-div">Docs</div>
    </a>
    {% if site.github %}
      <div class="github-div">
        {% for githubsite in site.github %}
        <a href="{{ githubsite.url }}" target="_blank"><img src="{{ base_path }}/assets/images/home/github-front-home.svg" width="42px" height="42px"
            alt="{{ githubsite.name }}"></a>
        {% endfor %}
      </div>
    {% endif %}
  {% else %}
    {% if site.github %}
      <div class="github-div">
        {% for githubsite in site.github %}
          <a href="{{ githubsite.url }}" target="_blank"><img src="{{ base_path }}/{{ githubsite.icon }}" width="42px" height="42px" alt="{{ githubsite.name }}"></a>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
  <select class="select" name="version" onchange="window.open(this.value,'_self')">
    {% for version in site.versions %}
      <!--If version.selected(_config.yml) means that we are on the 15.x.x doc-->
      {% if version.selected %}
        <!--If site.deployurl(_config.dev.yml) exists we are on develop mode so we concatenate the site.url(_config.dev.yml) and the site.baseurl(_config.dev.yml)
          and if not, we use the site.url(_config.deploy.yml) concatenated to versions.url(_config.yml)-->
        <option value="{% if site.deployurl %}{{ site.url }}{{ site.baseurl }}{% else %}{{ site.url }}{{ version.url }}{% endif %}" selected>{{ version.title }}</option>
      {% else %}
        <!--If we are on develop mode we use the site.deployurl(_config.dev.yml) concatenated to the version.url(_config.yml) to access the old docs running in the cloud
          and if not, we concat site.url(_config.deploy.yml) and version.url(_config.yml)-->
        <option value="{% if site.deployurl %}{{ site.deployurl }}{% else %}{{ site.url }}{% endif %}{{ version.url }}">{{ version.title }}</option>
      {% endif %}
    {% endfor %}
  </select>
</div>
