{% include base_path %}
<div class="header-custom-main">
  {% if page.title == 'Home' %}
  <a href="{{ base_path }}/docs/guide.html">
    <div class="docs-div">Docs</div>
  </a>
  {% endif %}
  {% if site.github %}
    <div class="github-div">
      {% for githubsite in site.github %}
        <a href="{{ githubsite.url }}" target="_blank"><img src="{{ base_path }}/{{ githubsite.icon }}" width="42px" height="42px" alt="{{ githubsite.name }}" /></a>
      {% endfor %}
    </div>
  {% endif %}
  <select class="select" name="version" onchange="window.open(this.value,'_self')">
    {% for version in site.versions %}
      {% if version.selected %}
        <option value="{{ version.url }}" selected>{{ version.title }}</option>
      {% else %}
        <option value="{{ version.url }}">{{ version.title }}</option>
      {% endif %}
    {% endfor %}
  </select>
</div>
