{% if include.comp and site.data.components[include.comp] %}
    {% assign componentData = site.data.components[include.comp] %}
{% elsif include.compFile %}
    {% assign componentData = include.compFile %}     
{% endif %}

 
{% if componentData %} 

    {% if componentData.directive %} 
    <p><strong>Directive:</strong> {{ componentData.directive }}</p>
    {% endif %}

    {% if componentData.inheritedAttributes %} 

        {% for inheritedObj in componentData.inheritedAttributes %}

        <strong>Inherited</strong> attributes from <strong>{{ inheritedObj.component }}:</strong>
            <ul class="attributes-list">
            {% for inheritedAttr in inheritedObj.attributes %}
                <li> {{ inheritedAttr }} </li>
            {% endfor %}
            </ul>    
        {% endfor %}        
    {% endif %}

    {% if componentData.attributes %}
        <p><strong>Attributes:</strong></p>
        <table class="attributes-table mdl-data-table">
            <thead>
                <tr>
                {% for header in componentData.attributesColumns %}
                    <th class="mdl-data-table__cell--non-numeric"> {{ header }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for attributeObject in componentData.attributes %}
                <tr>
                {% for column in componentData.attributesColumns %}
                    {% assign columnKey = column | downcase %}  
                    <td class="mdl-data-table__cell--non-numeric">{{ attributeObject[columnKey]  | default: '' }}</td>          
                {% endfor %}       
                </tr>
            {% endfor %}
            </tbody>
        </table>   
    {% endif %}

{% endif %}