{% if include.comp and site.data.components[include.comp] %}
    {% assign componentData = site.data.components[include.comp] %}
{% elsif include.compFile %}
    {% assign componentData = include.compFile %}     
{% endif %}

 
{% if componentData %} 

    {% if componentData.directive %} 
    <p><strong>Directive:</strong> {{ componentData.directive }}</p>
    {% endif %}

    <strong>Inherited attributes</strong>
    {% if componentData.inheritedAttributes %} 

        {% for inheritedObj in componentData.inheritedAttributes %}

         from <strong>{{ inheritedObj.component }}:</strong>
            <ul class="attributes-list">
            {% for inheritedAttr in inheritedObj.attributes %}
                <li> {{ inheritedAttr }} </li>
            {% endfor %}
            </ul>    
        {% endfor %}        
    {% endif %}

    <p><strong>Attributes:</strong></p>
    {% if componentData.attributes %}
        
        <table class="attributes-table mdl-data-table">
            <thead>
                <tr>
                {% for header in componentData.attributesColumns %}
                    <th class=""> {{ header }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for attributeObject in componentData.attributes %}
                <tr>
                {% for column in componentData.attributesColumns %}
                    {% assign columnKey = column | downcase %}  
                    {% assign columnData = 'o-component-' | append: columnKey %}                    

                    <td class="" {{ columnData }}>{{ attributeObject[columnKey]  | default: '' }}</td>          
                {% endfor %}       
                </tr>
            {% endfor %}
            </tbody>
        </table> 
    {% else %}
        <p>No additional attributes</p>
    {% endif %}

{% endif %}