

<!doctype html>
<html lang="en" class="no-js">
  <head>
    

<meta charset="utf-8">



<!-- begin SEO -->









<title>Gallery - Ontimize Web</title>







<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Ontimize Web">
<meta property="og:title" content="Gallery">


  <link rel="canonical" href="https://ontimizeweb.github.io/docs/gallery/components/gallery/">
  <meta property="og:url" content="https://ontimizeweb.github.io/docs/gallery/components/gallery/">



  <meta property="og:description" content="     On This Page  ">



  <meta name="twitter:site" content="@imatiainnova">
  <meta name="twitter:title" content="Gallery">
  <meta name="twitter:description" content="     On This Page  ">
  <meta name="twitter:url" content="https://ontimizeweb.github.io/gallery/components/gallery/">

  
    <meta name="twitter:card" content="summary">
    
      <meta name="twitter:image" content="https://ontimizeweb.github.io/docs/images/site-logo.png">
    
  

  



  

  



  <meta property="og:image" content="https://ontimizeweb.github.io/docs/images/site-logo.png">



  <meta property="og:type" content="article">
  <meta property="article:published_time" content="2020-06-25T07:00:18-04:00">






  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://ontimizeweb.github.io/docs",
      "logo": "https://ontimizeweb.github.io/docs/images/site-logo.png"
    }
  </script>



  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Person",
      "name" : "Ontimize Web",
      "url" : "https://ontimizeweb.github.io/docs",
      "sameAs" : ["https://twitter.com/imatiainnova"]
    }
  </script>






<!-- end SEO -->


<link href="https://ontimizeweb.github.io/docs/feed.xml" type="application/atom+xml" rel="alternate" title="Ontimize Web Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src="https://ontimizeweb.github.io/docs/assets/js/fontawesome-all.min.js"></script>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="https://ontimizeweb.github.io/docs/assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<meta http-equiv="cleartype" content="on">
    

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="https://ontimizeweb.github.io/docs/images/apple-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="https://ontimizeweb.github.io/docs/images/apple-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="https://ontimizeweb.github.io/docs/images/apple-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="https://ontimizeweb.github.io/docs/images/apple-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="https://ontimizeweb.github.io/docs/images/apple-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="https://ontimizeweb.github.io/docs/images/apple-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="https://ontimizeweb.github.io/docs/images/apple-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="https://ontimizeweb.github.io/docs/images/apple-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="https://ontimizeweb.github.io/docs/images/apple-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/android-icon-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="manifest" href="https://ontimizeweb.github.io/docs/images/manifest.json?v=M44lzPylqQ">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="https://ontimizeweb.github.io/docs/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="https://ontimizeweb.github.io/docs/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
  </head>

  <body class="layout--o-component">

    <!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
<![endif]-->
    

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
          <a href="https://ontimizeweb.github.io/docs/">
            <div class="main_icon"></div>
        </a>
        <span class="fill_remaing_space"></span>
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!--<li class="masthead__menu-item masthead__menu-item--lg"><a href="https://ontimizeweb.github.io/docs/">Ontimize Web</a></li>-->
          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/doc-overview/">Getting started</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item masthead__menu-item-active"><a href="https://ontimizeweb.github.io/docs/components/">Components</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/about/">About</a>
            
            </li>


            
            

          

          
          <li class="masthead__menu-item masthead__menu-item-active">
            <select onchange="window.location = this.options[this.selectedIndex].value">
            
              <option value="https://ontimizeweb.github.io/docs/v3" >3.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs"  selected="selected" >4.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs/v8" >8.x.x</option>
            
            </select>
          </li>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

    




  
    





<nav class="breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    
    
    
      
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="https://ontimizeweb.github.io/docs/" itemprop="item"><span itemprop="name">Home</span></a>
          <meta itemprop="position" content="1" />
        </li>
        
        <span class="sep">></span>
      
      
        
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="https://ontimizeweb.github.io/docs/gallery" itemprop="item"><span itemprop="name">Gallery</span></a>
          <meta itemprop="position" content="2" />
        </li>
        <span class="sep">></span>
      
    
      
      
        
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="https://ontimizeweb.github.io/docs/components" itemprop="item"><span itemprop="name">Components</span></a>
          <meta itemprop="position" content="3" />
        </li>
        <span class="sep">></span>
      
    
      
      
        <li class="current">Gallery</li>
      
    
  </ol>
</nav>
  


<div id="main" role="main">
  


  <div class="sidebar sticky">
  
  
    
      
      
      
    
    
      


 <script type="text/javascript" style="display:none;">
  var onNavigationItemClick = function (element) {

    var parentNav = $(element).parents('nav.nav__list');
    var icons = parentNav.find('svg');
    icons.addClass('fa-folder');
    icons.addClass('orange-icon');
    icons.removeClass('fa-folder-open');

    var parentLi = $(element).parents('li.nav-component-category:first');
    parentLi.siblings().removeClass('active-component-category');
    parentLi.addClass('active-component-category');
/*
    parentLi.siblings(':not(.active-parent)').removeClass('active-component-category');
    parentLi.toggleClass('active-component-category');
*/    
    var currentIcon = parentLi.find('svg:first');
    currentIcon.addClass('fa-folder-open');
    currentIcon.removeClass('orange-icon');
    currentIcon.removeClass('fa-folder');

  };
</script>

<nav class="nav__list">
  
  <ul>
    
    
    
 
    

    

    
    

      
       
      <li class=" ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Getting Started</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/gallery/overview/" class=" ">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/gallery/installation/" class=" ">Installation</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class=" ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Components</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/gallery/components/gallery/" class="active ">Gallery</a></li>
          
        </ul>
        
      </li>
    
  </ul>
</nav>
    
  
  </div>


  <article class="page " itemscope itemtype="http://schema.org/CreativeWork">
    
    <meta itemprop="headline" content="Gallery">
    
    <meta itemprop="description" content="     On This Page  ">
    
    <meta itemprop="datePublished" content="June 25, 2020">
    

    <div class="page__inner-wrap">
      
      <header>
        <h1 class="page__title" itemprop="headline">Gallery
</h1>
        
      </header>
      

      <section class="page__content" itemprop="text">
        <div class="o-component-container">

  

  
    







 
 
 

<script type="text/javascript">
  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("o-tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("o-tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
 
<!-- Tab links -->
<div class="o-tab">
  <button class="o-tablinks active" onclick="openTab(event, 'overview')">Overview</button>
  <button class="o-tablinks" onclick="openTab(event, 'api')">API</button>
</div>

<!-- OVERVIEW -->
<div id="overview" class="o-tabcontent" style="display:block;">
 <!-- <aside class="sidebar__right">
<nav class="toc" markdown="1">
<header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
*  Auto generated table of contents
{:toc .toc__menu}
</nav>
</aside> -->

  

  
  

  
<aside class="sidebar__right">
<nav class="toc">
    <header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
<ul class="toc__menu" id="markdown-toc">
  <li><a href="#introduction" id="markdown-toc-introduction">Introduction</a></li>
  <li><a href="#gallery" id="markdown-toc-gallery">Gallery</a>    <ul>
      <li><a href="#options" id="markdown-toc-options">Options</a>        <ul>
          <li><a href="#actions" id="markdown-toc-actions">Actions</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

  </nav>
</aside>

<h2 id="introduction">Introduction</h2>

<p>The <code class="language-plaintext highlighter-rouge">o-gallery</code> component allows to create beautiful image and videos galleries for the web and mobile devices like a carousel.</p>

<p><img src="https://ontimizeweb.github.io/docs/images/components/gallery/gallery.png" alt="Gallery component" class="comp-example-img" /></p>

<h2 id="gallery">Gallery</h2>

<p>By itself, the <code class="language-plaintext highlighter-rouge">&lt;o-gallery&gt;</code> element does not render anything, it&#8217;s necessary to configure the array de images in <code class="language-plaintext highlighter-rouge">gallery-images</code> input. For more information see the API.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-gallery</span> <span class="na">[gallery-images]=</span><span class="s">"galleryImages"</span><span class="nt">&gt;&lt;/o-gallery&gt;</span>
</code></pre></div></div>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  this.galleryImages = [
      {
        small: 'assets/images/photo1.jpg',
        medium: 'assets/images/photo1.jpg',
        big: 'assets/images/photo1.jpg'
      },
      {
        small: 'assets/images/photo2.jpg',
        medium: 'assets/images/photo2.jpg',
        big: 'assets/images/photo2.jpg'
      },
      {
        small: 'assets/images/photo3.jpg',
        medium: 'assets/images/photo3.jpg',
        big: 'assets/images/photo3.jpg'
      }
    ];
    ...
</code></pre></div></div>
<h3 id="options">Options</h3>

<p>The <code class="language-plaintext highlighter-rouge">o-gallery</code> component allow multiple options for configurating with <code class="language-plaintext highlighter-rouge">gallery-options</code> input such as width, height, thumbnails configuration, preview  configuration, &#8230;</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-gallery</span> <span class="na">[gallery-images]=</span><span class="s">"galleryImages"</span> <span class="na">[gallery-options]=</span><span class="s">"galleryOptions"</span><span class="nt">&gt;&lt;/o-gallery&gt;</span>
</code></pre></div></div>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>... 
  this.galleryImages = [
      {
        small: 'assets/images/photo1.jpg',
        medium: 'assets/images/photo1.jpg',
        big: 'assets/images/photo1.jpg'
      },
      {
        small: 'assets/images/photo2.jpg',
        medium: 'assets/images/photo2.jpg',
        big: 'assets/images/photo2.jpg'
      },
      {
        small: 'assets/images/photo3.jpg',
        medium: 'assets/images/photo3.jpg',
        big: 'assets/images/photo3.jpg'
      },
      {
        small: 'assets/images/i_video.jpg',
        medium: 'assets/videos/video1.mp4',
        big: 'assets/videos/video1.mp4'
      }
    ];

      this.galleryOptions = [
      {
        breakpoint: 1920,
        height: "200px",
        width: "300px",
        image: true,
        thumbnails: false,
        preview: false
      }
    ];
    ...
</code></pre></div></div>

<h4 id="actions">Actions</h4>

<p>You can add &#8220;actions&#8221; to the gallery, it shows icons on the top right corner and trigger your custom method.</p>

<p>Form example</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>constructor(
  protected dialogService: DialogService) {
}


showInfo(event: Event, i: number): void {
  this.dialogService.info('INFO', 'Image ' + i);
}


ngOnInit(): void {

  // bind "this" to the method callback before assign if not lost context
  this.showInfo = this.showInfo.bind(this);

  this.galleryOptions = [
    {
      ...
      actions: [
        { icon: 'info', onClick: this.showInfo, titleText: 'info' }
      ]
    ...
    }
  ]
}
</code></pre></div></div>

<p><img src="https://ontimizeweb.github.io/docs/images/components/gallery/gallery-actions.png" alt="Action Gallery" class="comp-example-img" /></p>

</div>

<!-- API -->
<div id="api" class="o-tabcontent">

  



  
    <p><strong class="grey-color">Directive:</strong> o-gallery</p>
  
  


  


  


  
  <h3 class="grey-color">Inputs</h3>
    
    

    
    

  <table class="attributes-table mdl-data-table">
    <thead>
      <tr>
      
        
          
            <th class=""> Name</th>
          
      
        
          
            <th class=""> Description</th>
          
      
        
          
      
      </tr>
    </thead>
    <tbody>
      
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>images</p>
</p>
    
      <p><i>GalleryImage[]</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Array of images</p>
</p>
    
  </td>
          
        
          
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>options</p>
</p>
    
      <p><i>GalleryOptions[]</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Array of custom options</p>
</p>
    
  </td>
          
        
          
          
        
</tr>
      
      </tbody>
  </table>

  

  


  

  
    <h3 class="grey-color">Outputs</h3>
    <table class="attributes-table mdl-data-table">
      <thead>
        <tr>
        
          <th class=""> Name</th>
        
          <th class=""> Description</th>
        
        </tr>
      </thead>
        <tbody>
        
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onChange</p>
 
              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when on image change</p>
 
              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onImagesReady</p>
 
              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when images length &gt; 0</p>
 
              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onPreviewChange</p>
 
              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when on preview image change</p>
 
              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onPreviewClose</p>
 
              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when on preview close</p>
 
              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onPreviewOpen</p>
 
              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when on preview open</p>
 
              
            </td>
          
          </tr>
        
      </tbody>
    </table>
  


  
    <h3 class="grey-color">Methods</h3>
      
      
    <table>
      <thead>
       <tr><th>canMoveThumbnailsLeft()</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns true if you can move thumbnails to left</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>boolean</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>canMoveThumbnailsRight()</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns true if you can move thumbnails to right</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>boolean</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>canShowNext()</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns true if there is next image</td></tr>
        
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>canShowPrev()</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns true if there is prev image</td></tr>
        
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>moveThumbnailsLeft()</th></tr>
       </thead>
      <tbody>
        <tr><td>Moves thumbnails to left</td></tr>
        
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>moveThumbnailsRight()</th></tr>
       </thead>
      <tbody>
        <tr><td>Moves thumbnails to right</td></tr>
        
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>openPreview(index: number)</th></tr>
       </thead>
      <tbody>
        <tr><td>Opens preview at index</td></tr>
        
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>show(index: number)</th></tr>
       </thead>
      <tbody>
        <tr><td>Shows image at index</td></tr>
        
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>showNext()</th></tr>
       </thead>
      <tbody>
        <tr><td>Shows next image</td></tr>
        
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>showPrev()</th></tr>
       </thead>
      <tbody>
        <tr><td>Shows prev image</td></tr>
        
        
      </tbody>
    </table>
      
  




  
  
     
    
    
    
      
      
  <h2 class=""></h2>
      




  
  
<p><strong class="grey-color">Class:</strong> GalleryOptions</p>
  


  


  


  
  <h3 class="grey-color">Inputs</h3>






  <table class="attributes-table mdl-data-table">
<thead>
  <tr>
  

  
<th class=""> Name</th>
  
  

  
<th class=""> Description</th>
  
  

  
<th class=""> Default</th>
  
  
  </tr>
</thead>
<tbody>
  
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>actions</p>
</p>

  <p><i>GalleryAction[]</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Array of new custom actions that will be added to the left of the current close/zoom/fullscreen icons</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>[]</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>arrowNextIcon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Icon for next arrow (see <a href="https://design.google.com/icons/" target="_blank">Google material design icons</a>)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>navigate_next</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>arrowPrevIcon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Icon for prev arrow (see <a href="https://design.google.com/icons/" target="_blank">Google material design icons</a>)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>navigate_before</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>breakpoint</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Responsive breakpoint, works like media query max-width</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>undefined</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>closeIcon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Icon for close button (see <a href="https://design.google.com/icons/" target="_blank">Google material design icons</a>)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>close</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>downloadIcon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Icon for download (see <a href="https://design.google.com/icons/" target="_blank">Google material design icons</a>)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>cloud_download</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>fullWidth</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Sets the same width as browser</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>fullscreenIcon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Icon for fullscreen button (see <a href="https://design.google.com/icons/" target="_blank">Google material design icons</a>)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>fullscreen</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>height</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Gallery height</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>400px</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>image</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables image</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>true</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imageActions</p>
</p>

  <p><i>GalleryAction[]</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Array of custom actions</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>[]</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imageAnimation</p>
</p>

  <p><i>GalleryAnimation.Fade | GalleryAnimation.Slide | GalleryAnimation.Rotate | GalleryAnimation.Zoom</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Animation type</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>GalleryAnimation.Fade</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imageArrows</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables arrows</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>true</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imageArrowsAutoHide</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables arrows auto hide</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imageAutoPlay</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables auto play</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imageAutoPlayInterval</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Interval for auto play (ms)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>2000</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imageAutoPlayPauseOnHover</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables pause auto play on hover</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imageBullets</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables navigation bullets</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imageDescription</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables description for images</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>true</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imageInfinityMove</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables infinity move by arrows</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imagePercent</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Percentage height</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>75</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imageSize</p>
</p>

  <p><i>GalleryImageSize.Cover | GalleryImageSize.Contain</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Image size</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>GalleryImageSize.Cover</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>imageSwipe</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>enables or disables swipe</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>layout</p>
</p>

  <p><i>GalleryLayout.ThumbnailsTop | GalleryLayout.ThumbnailsBottom</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Sets thumbnails position</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>GalleryLayout.ThumbnailsBottom</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>lazyLoading</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables lazy loading for images</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>true</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>linkTarget</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Sets target attribute of link</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>_blank</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>preview</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables description for images</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>true</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewAnimation</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables image loading animation</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>true</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewArrows</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables arrows</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>true</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewArrowsAutoHide</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables arrows auto hide</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewAutoPlay</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables auto play</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewAutoPlayInterval</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Interval for auto play (ms)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>2000</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewAutoPlayPauseOnHover</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables pause auto play on hover</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewBullets</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables navigation bullets</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewCloseOnClick</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables closing preview by click</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewCloseOnEsc</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables closing preview by esc keyboard</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewDescription</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables description for images</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>true</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewDownload</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables download button</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewForceFullscreen</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables opening preview in fullscreen mode</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewFullscreen</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables fullscreen icon</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewInfinityMove</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables infinity move by arrows</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewKeyboardNavigation</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables navigation by keyboard</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewRotate</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables rotate buttons</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewSwipe</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables swipe</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewZoom</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables zoom in and zoom out</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewZoomMax</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Max value for zoom</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>2</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewZoomMin</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Min value for zoom</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>0.5</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>previewZoomStep</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables step for zoom change</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>0.1</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>rotateLeftIcon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Icon for rotate left (see <a href="https://design.google.com/icons/" target="_blank">Google material design icons</a>)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>rotate_left</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>rotateRightIcon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Icon for rotate right (see <a href="https://design.google.com/icons/" target="_blank">Google material design icons</a>)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>rotate_right</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>spinnerIcon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Icon for spinner (see <a href="https://design.google.com/icons/" target="_blank">Google material design icons</a>)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>loop</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>startIndex</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Sets index of selected image on start</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>0</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailActions</p>
</p>

  <p><i>GalleryAction[]</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Array of custom actions</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>[]</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailMargin</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Margin between images in thumbnails</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>10</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailSize</p>
</p>

  <p><i>GalleryImageSize.Cover | GalleryImageSize.Contain</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Thumbnail size</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>GalleryImageSize.Cover</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnails</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables thumbnails</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>true</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailsArrows</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables arrows in layout thumbnail”</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>true</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailsArrowsAutoHide</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables arrows auto hide in layout thumbnail</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailsAsLinks</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables links on thumbnails</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailsAutoHide</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Hides thumbnails if there is only one image</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailsColumns</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Columns count</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>4</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailsMargin</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>margin between thumbnails and image</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>10</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailsMoveSize</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Number of items to move on arrow click.</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>1</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailsOrder</p>
</p>

  <p><i>GalleryOrder.Column | GalleryOrder.Row | GalleryOrder.Page</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Images order</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>GalleryOrder.Column</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailsPercent</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Percentage height</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>25</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailsRemainingCount</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Whether true arrows are disabled and last item has label with remaining count</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailsRows</p>
</p>

  <p><i>number</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Rows count</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>1</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>thumbnailsSwipe</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Enables or disables swipe</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>width</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Gallery width</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>500px</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>zoomInIcon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Icon for zoom in (see <a href="https://design.google.com/icons/" target="_blank">Google material design icons</a>)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>zoom_in</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>zoomOutIcon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Icon for zoom out (see <a href="https://design.google.com/icons/" target="_blank">Google material design icons</a>)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>zoom_out</p>
</p>

  </td>
  

</tr>
  
  </tbody>
  </table>

  

  


  

  


  



  
    
      
      
  <h2 class=""></h2>
      




  
  
<p><strong class="grey-color">Class:</strong> GalleryImage</p>
  


  


  


  
  <h3 class="grey-color">Inputs</h3>






  <table class="attributes-table mdl-data-table">
<thead>
  <tr>
  

  
<th class=""> Name</th>
  
  

  
<th class=""> Description</th>
  
  

  
<th class=""> Default</th>
  
  
  </tr>
</thead>
<tbody>
  
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>big</p>
</p>

  <p><i>string | SafeResourceUrl</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Url used in preview</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>description</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Description used in preview</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>label</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Label used for aria-label when thumbnail is a link</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>medium</p>
</p>

  <p><i>string | SafeResourceUrl</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Url used in image</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>small</p>
</p>

  <p><i>string | SafeResourceUrl</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Url used in thumbnails</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>url</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Description used in preview</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>Url used in link</p>
</p>

  </td>
  

</tr>
  
  </tbody>
  </table>

  

  


  

  


  



  
    
      
      
  <h2 class=""></h2>
      




  
  
<p><strong class="grey-color">Class:</strong> GalleryAction</p>
  


  


  


  
  <h3 class="grey-color">Inputs</h3>






  <table class="attributes-table mdl-data-table">
<thead>
  <tr>
  

  
<th class=""> Name</th>
  
  

  
<th class=""> Description</th>
  
  

  
<th class=""> Default</th>
  
  
  </tr>
</thead>
<tbody>
  
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>disabled</p>
</p>

  <p><i>boolean</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Tf the icon should be disabled</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>false</p>
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>icon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Icon for custom action</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>onClick</p>
</p>

  <p><i>(event: Event, index: number) => void</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Output function to call when custom action icon is clicked</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>titleText</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Text to set the title attribute to</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>’’</p>
</p>

  </td>
  

</tr>
  
  </tbody>
  </table>

  

  


  

  


  



  
    
  

</div>


  

</div>
        
      </section>

      <footer class="page__meta">
        
        




        
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Updated:</strong> <time datetime="2020-06-25T07:00:18-04:00">June 25, 2020</time></p>
        
      </footer>

      

      


  <nav class="pagination">
    
      <a href="#" class="pagination--pager disabled">
          <i class="fas fa-arrow-left margin-right"></i>
        Previous
      </a>
    
    
      <a href="https://ontimizeweb.github.io/docs/gallery/overview/" class="pagination--pager" title="Overview
">
        Next
        <i class="fas fa-arrow-right margin-left"></i>
      </a>
    
  </nav>

    </div>

    
  </article>

  
  
</div>

    <div class="page__footer">
      <footer>
        <!-- start custom footer snippets -->

<a href="#" class="scrollToTop"><i class="fa fa-fw fa-chevron-circle-up" aria-hidden="true"></i></a>

<!-- end custom footer snippets -->
        

<div class="page__footer-follow">
  <ul class="social-icons">
    
      <li><strong>Follow:</strong></li>
    
    
      <li><a href="https://twitter.com/imatiainnova" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    
    
      <li><a href="https://www.linkedin.com/company/224080?trk=prof-0-ovw-curr_pos" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    
    
      <li><a href="http://github.com/OntimizeWeb" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    
    
    <li><a href="https://ontimizeweb.github.io/docs/feed.xml" target="_blank"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Feed</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; 2020 Imatia Innovation, S.L.. Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
      </footer>
    </div>

    <script src="https://ontimizeweb.github.io/docs/assets/js/main.min.js"></script>





  </body>
</html>
