/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
      display: flex;
    }

    a {
      text-decoration: none;
    }

    select{
      padding:0;
      margin:0;
      border: none;
      box-shadow: none;
      outline: none;
      &:hover {
        border: none;
        box-shadow: none;
      }
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}
.masthead__menu-separator{
  border-left: 1px solid #e5e5e5;
  height: 50px;
}

.masthead__menu-item-active{
  font-weight: bold;
  //border-top: 3px solid $orange;
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  font-family: $pt-sans;
  color: #666666;
  font-size: 0.65em;
  text-transform: uppercase;

  &:hover {
    color: #000000;
  }

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

.main_icon{
  background-image: url('/docs/images/logo-ontimize.png');
  background-size: 116px 30px;
  width: 116px;
  height: 30px;
}

.fill_remaing_space{
  flex: 1 1 auto;
}