.mdl-data-table {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-collapse: collapse;
	white-space: nowrap;
	font-size: 13px;
	background-color: rgb(255,255,255); 

	thead {
		padding-bottom: 3px; 
	}

	.mdl-data-table__select {
		margin-top: 0; 
	}

	tbody tr {
		position: relative;
		height: 48px;
		transition-duration: 0.28s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-property: background-color; 
	}

	td {
		position: relative;
		vertical-align: middle;
		height: 48px;
		border-top: 1px solid rgba(0, 0, 0, 0.12);
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		padding-top: 12px;
		box-sizing: border-box; 

		.mdl-data-table__select {
			vertical-align: middle; 
		}

		p {
			margin :0;
		}
	}

	th {
		position: relative;
		vertical-align: bottom;
		text-overflow: ellipsis;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		letter-spacing: 0;
		height: 48px;
		font-size: 12px;
		color: rgba(0, 0, 0, 0.54);
		padding-bottom: 8px;
		box-sizing: border-box; 
	}

	td:first-of-type, 
	th:first-of-type {
		padding-left: 12px;
	}

	td:last-of-type,
	th:last-of-type {
		padding-right: 24px; 
	}

	td, 
	th {
		height: auto;
		font-size: 12px;
		padding: 6px 12px 6px 12px;
		text-align: left;
		white-space: normal;
	}

	[o-component-name] {
		white-space:nowrap;
	}

	// [o-component-type] {
	// 	white-space:nowrap;
	// 	max-width: 85px;
	// }

	

}

.attributes-list {
  max-height: 150px;
  overflow:hidden;

  li {
	display: inline-block;
	float: left;
	width: 50%;
	margin-bottom: 0.25em;
	font-size: 18px;
	}
}
 
.o-compFile-div {
	padding: 16px 0; 
} 

.grey-color {
	color: #9ba1a6;
}

.sidebar { 
	/* opacity: 1; */
	li {
		margin: 0 15px;
	}
}


.nav-component-category {
    
	.category-components-list {
		margin-bottom: 0;

		overflow: hidden;

		max-height: 0;
		-webkit-transition:max-height 0.5s;  
		-moz-transition:max-height 0.5s;  
		-o-transition:max-height 0.5s;  
		transition:max-height 0.5s; 
	}
	
	//&:hover .category-components-list,
	&.active-component-category .category-components-list {
		margin-bottom: inherit;
		max-height: 500px;
	}
}

.o-component-container { 
	.list__item {
		padding-right: 0px;

		.archive__item-excerpt {
			margin-top: 0;
			font-size: .75em;
		}
	}
}