

<!doctype html>
<html lang="en" class="no-js">
  <head>
    

<meta charset="utf-8">



<!-- begin SEO -->









<title>List - Ontimize Web</title>







<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Ontimize Web">
<meta property="og:title" content="List">


  <link rel="canonical" href="https://ontimizeweb.github.io/docs/components/list/">
  <meta property="og:url" content="https://ontimizeweb.github.io/docs/components/list/">



  <meta property="og:description" content="     On This Page  ">



  <meta name="twitter:site" content="@imatiainnova">
  <meta name="twitter:title" content="List">
  <meta name="twitter:description" content="     On This Page  ">
  <meta name="twitter:url" content="https://ontimizeweb.github.io/components/list/">

  
    <meta name="twitter:card" content="summary">
    
      <meta name="twitter:image" content="https://ontimizeweb.github.io/docs/images/site-logo.png">
    
  

  



  

  



  <meta property="og:image" content="https://ontimizeweb.github.io/docs/images/site-logo.png">



  <meta property="og:type" content="article">
  <meta property="article:published_time" content="2019-10-07T10:30:17-04:00">






  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://ontimizeweb.github.io/docs",
      "logo": "https://ontimizeweb.github.io/docs/images/site-logo.png"
    }
  </script>



  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Person",
      "name" : "Ontimize Web",
      "url" : "https://ontimizeweb.github.io/docs",
      "sameAs" : ["https://twitter.com/imatiainnova"]
    }
  </script>






<!-- end SEO -->


<link href="https://ontimizeweb.github.io/docs/feed.xml" type="application/atom+xml" rel="alternate" title="Ontimize Web Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src="https://ontimizeweb.github.io/docs/assets/js/fontawesome-all.min.js"></script>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="https://ontimizeweb.github.io/docs/assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<meta http-equiv="cleartype" content="on">
    

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="https://ontimizeweb.github.io/docs/images/apple-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="https://ontimizeweb.github.io/docs/images/apple-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="https://ontimizeweb.github.io/docs/images/apple-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="https://ontimizeweb.github.io/docs/images/apple-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="https://ontimizeweb.github.io/docs/images/apple-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="https://ontimizeweb.github.io/docs/images/apple-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="https://ontimizeweb.github.io/docs/images/apple-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="https://ontimizeweb.github.io/docs/images/apple-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="https://ontimizeweb.github.io/docs/images/apple-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/android-icon-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="manifest" href="https://ontimizeweb.github.io/docs/images/manifest.json?v=M44lzPylqQ">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="https://ontimizeweb.github.io/docs/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="https://ontimizeweb.github.io/docs/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
  </head>

  <body class="layout--o-component">

    <!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
<![endif]-->
    

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
          <a href="https://ontimizeweb.github.io/docs/">
            <div class="main_icon"></div>
        </a>
        <span class="fill_remaing_space"></span>
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!--<li class="masthead__menu-item masthead__menu-item--lg"><a href="https://ontimizeweb.github.io/docs/">Ontimize Web</a></li>-->
          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/doc-overview/">Getting started</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item masthead__menu-item-active"><a href="https://ontimizeweb.github.io/docs/components/">Components</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/about/">About</a>
            
            </li>


            
            

          

          
          <li class="masthead__menu-item masthead__menu-item-active">
            <select onchange="window.location = this.options[this.selectedIndex].value">
            
              <option value="https://ontimizeweb.github.io/docs/v3" >3.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs"  selected="selected" >4.x.x</option>
            
            </select>
          </li>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

    





<div id="main" role="main">
  


  <div class="sidebar sticky">
  
  
    
      
      
      
    
    
      


 <script type="text/javascript" style="display:none;">
  var onNavigationItemClick = function (element) {

    var parentNav = $(element).parents('nav.nav__list');
    var icons = parentNav.find('svg');
    icons.addClass('fa-folder');
    icons.addClass('orange-icon');
    icons.removeClass('fa-folder-open');

    var parentLi = $(element).parents('li.nav-component-category:first');
    parentLi.siblings().removeClass('active-component-category');
    parentLi.addClass('active-component-category');
/*
    parentLi.siblings(':not(.active-parent)').removeClass('active-component-category');
    parentLi.toggleClass('active-component-category');
*/    
    var currentIcon = parentLi.find('svg:first');
    currentIcon.addClass('fa-folder-open');
    currentIcon.removeClass('orange-icon');
    currentIcon.removeClass('fa-folder');

  };
</script>

<nav class="nav__list">
  
  <ul>
    
    
    
      
          
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
                      
                            
                      
                  
              
                  
              
                  
              
                  
              
                 
      
          
              
                  
              
                  
              
                 
      
          
              
                  
                      
                            
                      
                            
                      
                  
              
                  
              
                  
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                  
              
                  
              
                  
              
                  
                      
                      
                 
      
                 
      
                 
      
                 
      
    
 
    

    

    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Input</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/overview/" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/checkbox/" class=" ">Checkbox</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/combo/" class=" ">Combo</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/currency/" class=" ">Currency</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/date/" class=" ">Date</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/daterange/" class=" ">Date range <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/email/" class=" ">Email</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/file/" class=" ">File</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/html/" class=" ">HTML</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/hour/" class=" ">Hour</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/integer/" class=" ">Integer</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/listpicker/" class=" ">List picker</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/nif/" class=" ">NIF</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/password/" class=" ">Password</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/percent/" class=" ">Percentage</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/radio/" class=" ">Radio</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/real/" class=" ">Real</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/slidetoggle/" class=" ">Slide toggle</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/slider/" class=" ">Slider</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/text/" class=" ">Text</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/textarea/" class=" ">Textarea</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/time/" class=" ">Time</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Button</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/button/" class=" ">Button</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/buttontoggle/" class=" ">Button toggle</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category active-component-category active-parent">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder-open nav__sub-title-icon"></i>Data</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/datatable/" class=" ">DataTable <small>(deprecated)</small></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/filterbuilder/" class=" ">Filter builder</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/form/" class=" ">Form</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/grid/" class=" ">Grid <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/list/" class="active ">List</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/table/" class=" ">Table</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Media</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/image/" class=" ">Image</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Layout</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/applayout/" class=" ">App layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/breadcrumb/" class=" ">Breadcrumb</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/containers/" class=" ">Containers</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/contextmenu/" class=" ">Context menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/dialog/" class=" ">Dialog</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/formlayoutmanager/" class=" ">Form layout mngr.</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/snackbar/" class=" ">SnackBar</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Menu</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/menu/" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/barmenu/" class=" ">Bar menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/cardmenulayout/" class=" ">Card menu layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/sidemenu/" class=" ">Side menu <small>(deprecated)</small></a></li>
          
        </ul>
        
      </li>
    
  </ul>
</nav>
    
  
  </div>


  <article class="page  o-component " itemscope itemtype="http://schema.org/CreativeWork">
    
    <meta itemprop="headline" content="List">
    
    <meta itemprop="description" content="     On This Page  ">
    
    <meta itemprop="datePublished" content="October 07, 2019">
    

    <div class="page__inner-wrap">
      
      <header>
        <h1 class="page__title" itemprop="headline">List
</h1>
        
      </header>
      

      <section class="page__content" itemprop="text">
        <div class="o-component-container">

  

  
    







 
 
 

<script type="text/javascript">
  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("o-tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("o-tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
 
<!-- Tab links -->
<div class="o-tab">
  <button class="o-tablinks active" onclick="openTab(event, 'overview')">Overview</button>
  <button class="o-tablinks" onclick="openTab(event, 'api')">API</button>
</div>

<!-- OVERVIEW -->
<div id="overview" class="o-tabcontent" style="display:block;">
 <!-- <aside class="sidebar__right">
<nav class="toc" markdown="1">
<header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
*  Auto generated table of contents
{:toc .toc__menu}
</nav>
</aside> -->

  

  
  

  
<aside class="sidebar__right">
<nav class="toc">
    <header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
<ul class="toc__menu" id="markdown-toc">
  <li><a href="#list-item" id="markdown-toc-list-item">List item</a>    <ul>
      <li><a href="#list-item-text" id="markdown-toc-list-item-text">List item: text</a></li>
      <li><a href="#list-item-avatar" id="markdown-toc-list-item-avatar">List item: avatar</a></li>
      <li><a href="#list-item-card" id="markdown-toc-list-item-card">List item: card</a></li>
      <li><a href="#list-item-card-image" id="markdown-toc-list-item-card-image">List item: card image</a></li>
      <li><a href="#custom-list-item" id="markdown-toc-custom-list-item">Custom list item</a></li>
    </ul>
  </li>
</ul>

  </nav>
</aside>

<p>The <code class="highlighter-rouge">o-list</code> component is used to display a series of items. There is different types of predefined list items you can add to the list component.</p>

<p>For adding a list component to your application you must insert the <code class="highlighter-rouge">o-list</code> in your page and include a <code class="highlighter-rouge">o-list-item</code> component wrapping the desired list item type you want to display. Check the different list items types below.</p>
<h2 id="list-item">List item</h2>
<h3 id="list-item-text">List item: text</h3>

<p>The <code class="highlighter-rouge">o-list-item-text</code> component is used to display list items with a maximum of two lines of text and a title.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-list</span> <span class="err">#</span><span class="na">list</span> <span class="na">attr=</span><span class="s">"customerlist"</span> <span class="na">title=</span><span class="s">"CUSTOMERS"</span> <span class="na">service=</span><span class="s">"customers"</span> <span class="na">entity=</span><span class="s">"customer"</span>
  <span class="na">keys=</span><span class="s">"CUSTOMERID"</span> <span class="na">columns=</span><span class="s">"CUSTOMERID;PHOTO;NAME;SURNAME;ADDRESS;STARTDATE;EMAIL"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;o-list-item</span> <span class="err">*</span><span class="na">ngFor=</span><span class="s">"let row of list.dataArray"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;o-list-item-text</span> <span class="err">#</span><span class="na">item</span> <span class="na">title=</span><span class="s">"{{ row.NAME }}"</span> <span class="na">primary-text=</span><span class="s">"{{ row.EMAIL }}"</span>
      <span class="na">secondary-text=</span><span class="s">"{{ row.ADDRESS }}"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/o-list-item-text&gt;</span>
  <span class="nt">&lt;/o-list-item&gt;</span>
<span class="nt">&lt;/o-list&gt;</span>
</code></pre></div></div>

<p><img src="https://ontimizeweb.github.io/docs/images/components/list/list-item-text.png" alt="List item text" class="comp-example-img" /></p>

<p>You can see an example of this component in the <a href="https://try.imatia.com/ontimizeweb/playground/main/lists/list-item-text" target="_blank">OntimizeWeb playground</a>.</p>

<h3 id="list-item-avatar">List item: avatar</h3>

<p>The <code class="highlighter-rouge">o-list-item-avatar</code> component is used to display list items with an avatar and a maximum of two lines of text and a title.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-list</span> <span class="err">#</span><span class="na">list</span> <span class="na">attr=</span><span class="s">"customerlist"</span> <span class="na">title=</span><span class="s">"CUSTOMERS"</span> <span class="na">service=</span><span class="s">"customers"</span> <span class="na">entity=</span><span class="s">"customer"</span>
  <span class="na">keys=</span><span class="s">"CUSTOMERID"</span> <span class="na">columns=</span><span class="s">"CUSTOMERID;PHOTO;NAME;SURNAME;ADDRESS;STARTDATE;EMAIL"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;o-list-item</span> <span class="err">*</span><span class="na">ngFor=</span><span class="s">"let row of list.dataArray"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;o-list-item-avatar</span> <span class="err">#</span><span class="na">item</span> <span class="na">avatar=</span><span class="s">"./assets/images/ontimize.png"</span> <span class="na">title=</span><span class="s">"{{ row.NAME }}"</span>
      <span class="na">primary-text=</span><span class="s">"{{ row.EMAIL }}"</span> <span class="na">secondary-text=</span><span class="s">"{{ row.ADDRESS }}"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/o-list-item-avatar&gt;</span>
  <span class="nt">&lt;/o-list-item&gt;</span>
<span class="nt">&lt;/o-list&gt;</span>
</code></pre></div></div>

<p><img src="https://ontimizeweb.github.io/docs/images/components/list/list-item-avatar.png" alt="List item avatar" class="comp-example-img" /></p>

<p>You can see an example of this component in the <a href="https://try.imatia.com/ontimizeweb/playground/main/lists/list-item-avatar" target="_blank">OntimizeWeb playground</a>.</p>

<h3 id="list-item-card">List item: card</h3>

<p>The <code class="highlighter-rouge">o-list-item-card</code> component is used to display a card list item with text, image and action buttons.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-list</span> <span class="err">#</span><span class="na">list</span> <span class="na">attr=</span><span class="s">"customerlist"</span> <span class="na">title=</span><span class="s">"CUSTOMERS"</span> <span class="na">service=</span><span class="s">"customers"</span> <span class="na">entity=</span><span class="s">"customer"</span>
  <span class="na">keys=</span><span class="s">"CUSTOMERID"</span> <span class="na">columns=</span><span class="s">"CUSTOMERID;PHOTO;NAME;SURNAME;ADDRESS;STARTDATE;EMAIL"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;o-list-item</span> <span class="err">*</span><span class="na">ngFor=</span><span class="s">"let row of list.dataArray"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;o-list-item-card</span> <span class="err">#</span><span class="na">item</span> <span class="na">title=</span><span class="s">"{{ row.NAME }}"</span> <span class="na">subtitle=</span><span class="s">"{{ row.EMAIL }}"</span>
      <span class="na">image=</span><span class="s">"./assets/images/ontimize.png"</span> <span class="na">action-1-text=</span><span class="s">"Contact"</span> <span class="na">action-2-text=</span><span class="s">"Share"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/o-list-item-card&gt;</span>
  <span class="nt">&lt;/o-list-item&gt;</span>
<span class="nt">&lt;/o-list&gt;</span>
</code></pre></div></div>

<p><img src="https://ontimizeweb.github.io/docs/images/components/list/list-item-card.png" alt="List item card" class="comp-example-img" /></p>

<p>You can see an example of this component in the <a href="https://try.imatia.com/ontimizeweb/playground/main/lists/list-item-card" target="_blank">OntimizeWeb playground</a>.</p>

<h3 id="list-item-card-image">List item: card image</h3>

<p>The <code class="highlighter-rouge">o-list-item-card-image</code> component is used to display card list items with a big image.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-list</span> <span class="err">#</span><span class="na">list</span> <span class="na">attr=</span><span class="s">"customerlist"</span> <span class="na">title=</span><span class="s">"CUSTOMERS"</span> <span class="na">service=</span><span class="s">"customers"</span> <span class="na">entity=</span><span class="s">"customer"</span>
  <span class="na">keys=</span><span class="s">"CUSTOMERID"</span> <span class="na">columns=</span><span class="s">"CUSTOMERID;PHOTO;NAME;SURNAME;ADDRESS;STARTDATE;EMAIL"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;o-list-item</span> <span class="err">*</span><span class="na">ngFor=</span><span class="s">"let row of list.dataArray"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;o-list-item-card-image</span> <span class="err">#</span><span class="na">item</span> <span class="na">title=</span><span class="s">"{{ row.NAME }}"</span> <span class="na">subtitle=</span><span class="s">"{{ row.EMAIL }}"</span>
      <span class="na">content=</span><span class="s">"{{ row.ADDRESS }}"</span> <span class="na">avatar=</span><span class="s">"./assets/images/ontimize.png"</span> <span class="na">image=</span><span class="s">"./assets/images/ontimize.png"</span> <span class="na">action-1-text=</span><span class="s">"Contact"</span> <span class="na">action-2-text=</span><span class="s">"Share"</span> <span class="na">collapsible=</span><span class="s">"yes"</span> <span class="na">collapsed=</span><span class="s">"no"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/o-list-item-card-image&gt;</span>
  <span class="nt">&lt;/o-list-item&gt;</span>
<span class="nt">&lt;/o-list&gt;</span>
</code></pre></div></div>

<p><img src="https://ontimizeweb.github.io/docs/images/components/list/list-item-card-image.png" alt="List item card image" class="comp-example-img" /></p>

<p>You can see an example of this component in the <a href="https://try.imatia.com/ontimizeweb/playground/main/lists/list-item-card-image" target="_blank">OntimizeWeb playground</a>.</p>

<h3 id="custom-list-item">Custom list item</h3>

<p>When building an <code class="highlighter-rouge">o-list</code> component you can include one of the predefined list items the <strong>OntimizeWeb</strong> offers or you can include your own list item. For including a custom list item, <strong>OntimizeWeb</strong> offers the <code class="highlighter-rouge">o-list-item</code> directive that can be attached to an angular material list item (<code class="highlighter-rouge">mat-list-item</code>) or an angular material card (<code class="highlighter-rouge">mat-card</code>).</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-list</span> <span class="err">#</span><span class="na">list</span> <span class="na">attr=</span><span class="s">"customerlist"</span> <span class="na">title=</span><span class="s">"CUSTOMERS"</span> <span class="na">service=</span><span class="s">"customers"</span> <span class="na">entity=</span><span class="s">"customer"</span>
  <span class="na">keys=</span><span class="s">"CUSTOMERID"</span> <span class="na">columns=</span><span class="s">"CUSTOMERID;PHOTO;NAME;SURNAME;ADDRESS;STARTDATE;EMAIL"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;mat-card</span> <span class="err">*</span><span class="na">ngFor=</span><span class="s">"let rowData of list.dataArray"</span> <span class="err">[</span><span class="na">o-list-item</span><span class="err">]="</span><span class="na">rowData</span><span class="err">"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;mat-card-header&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">mat-card-avatar</span><span class="nt">&gt;</span>
        <span class="nt">&lt;img</span> <span class="na">matListAvatar</span> <span class="na">fxFill</span> <span class="na">src=</span><span class="s">"./assets/images/ontimize.png"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;mat-card-title&gt;&lt;/mat-card-title&gt;</span>
      <span class="nt">&lt;mat-card-subtitle&gt;&lt;/mat-card-subtitle&gt;</span>
    <span class="nt">&lt;/mat-card-header&gt;</span>
    <span class="nt">&lt;mat-card-content&gt;</span>
      <span class="nt">&lt;p&gt;</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/mat-card-content&gt;</span>
  <span class="nt">&lt;/mat-card&gt;</span>
<span class="nt">&lt;/o-list&gt;</span>
</code></pre></div></div>

<p><img src="https://ontimizeweb.github.io/docs/images/components/list/list-item-custom.png" alt="List item custom" class="comp-example-img" /></p>

</div>

<!-- API -->
<div id="api" class="o-tabcontent">

  



  
    <p><strong class="grey-color">Directive:</strong> o-list</p>
  
  


  


  
    <h3 class="grey-color">Inherited inputs</h3>
    <ul>
    
      
      <li>
        from  <a href="https://ontimizeweb.github.io/docs/components/service/service-base/" rel="permalink">OServiceBaseComponent:</a>
        <ul class="attributes-list">
          
          
            <li> attr </li>
          
            <li> columns </li>
          
            <li> delete-method </li>
          
            <li> entity </li>
          
            <li> insert-method </li>
          
            <li> keys </li>
          
            <li> pageable </li>
          
            <li> paginated-query-method </li>
          
            <li> parent-keys </li>
          
            <li> query-fallback-function </li>
          
            <li> query-method </li>
          
            <li> query-on-bind </li>
          
            <li> query-on-init </li>
          
            <li> query-rows </li>
          
            <li> query-with-null-parent-keys </li>
          
            <li> service </li>
          
            <li> service-type </li>
          
            <li> static-data </li>
          
            <li> store-state </li>
          
            <li> update-method </li>
          
        </ul>
        
      <li>
        from  <a href="https://ontimizeweb.github.io/docs/components/service/service/" rel="permalink">OServiceComponent:</a>
        <ul class="attributes-list">
          
          
            <li> controls </li>
          
            <li> detail-button-in-row </li>
          
            <li> detail-button-in-row-icon </li>
          
            <li> detail-form-route </li>
          
            <li> detail-mode </li>
          
            <li> edit-button-in-row </li>
          
            <li> edit-button-in-row-icon </li>
          
            <li> edit-form-route </li>
          
            <li> enabled </li>
          
            <li> insert-button </li>
          
            <li> insert-form-route </li>
          
            <li> quick-filter </li>
          
            <li> recursive-detail </li>
          
            <li> recursive-edit </li>
          
            <li> recursive-insert </li>
          
            <li> row-height </li>
          
            <li> title </li>
          
            <li> visible </li>
          
        </ul>
        
      </li>
    </ul>
  


  
  <h3 class="grey-color">Inputs</h3>
    
    

    
    

  <table class="attributes-table mdl-data-table">
    <thead>
      <tr>
      
        
          
            <th class=""> Name</th>
          
      
        
          
            <th class=""> Description</th>
          
      
        
          
            <th class=""> Default</th>
          
      
      </tr>
    </thead>
    <tbody>
      
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>delete-button</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not to show a delete button. The delete button is shown only when some list item is selected</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>yes</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>dense</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not to display the table in dense mode</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>no</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>insert-button-floatable</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not the insert button is floating</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>yes</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>insert-button-position</p>
</p>
    
      <p><i>'bottom' | 'top'</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not the insert button is attached at the top or at the bottom of the list</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>bottom</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>quick-filter-columns</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Columns used by the quick filter. Separated by ‘;’</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p><code class="highlighter-rouge">columns</code> attribute value</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>refresh-button</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not to show a button for refreshing data</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>yes</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>selectable</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not to show selection check boxes on the list items</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>no</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>sort-columns</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Initial ordering, using [ ASC or DESC ] format. Separated by ‘;’</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      
      </tbody>
  </table>

  

  


  

  
    <h3 class="grey-color">Outputs</h3>
    <table class="attributes-table mdl-data-table">
      <thead>
        <tr>
        
          <th class=""> Name</th>
        
          <th class=""> Description</th>
        
        </tr>
      </thead>
        <tbody>
        
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>beforeGoEditMode</p>
 
              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered befoe going to form edition mode</p>
 
              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onDataLoaded</p>
 
              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when the data is loaded</p>
 
              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onFormModeChange</p>
 
              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when form mode changes</p>
 
              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onPaginatedDataLoaded</p>
 
              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when the paginated data is loaded</p>
 
              
            </td>
          
          </tr>
        
      </tbody>
    </table>
  


  




  
  
     
    
    
    
      
      
  <h2 class="">List item</h2>
      




  
<p><strong class="grey-color">Directive:</strong> o-list-item</p>
  
  


  


  


  


  

  


  



  
    
      
      
  <h2 class="">List item directive</h2>
      




  
<p><strong class="grey-color">Directive:</strong> o-list-item</p>
  
  


  


  


  
  <h3 class="grey-color">Inputs</h3>






  <table class="attributes-table mdl-data-table">
<thead>
  <tr>
  

  
<th class=""> Name</th>
  
  

  
<th class=""> Description</th>
  
  

  
<th class=""> Default</th>
  
  
  </tr>
</thead>
<tbody>
  
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>o-list-item</p>
</p>

  <p><i>Object</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The list item model data</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>selectable</p>
</p>

  <p><i>no | false | yes | true</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Indicates whether the list item is selectable or not</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first"><p>no</p>
</p>

  </td>
  

</tr>
  
  </tbody>
  </table>

  

  


  

  
<h3 class="grey-color">Outputs</h3>
<table class="attributes-table mdl-data-table">
  <thead>
<tr>

  <th class=""> Name</th>

  <th class=""> Description</th>

</tr>
  </thead>
<tbody>


  <tr>
  





<td class="" o-component-name>
  <p>click</p>
 
  
</td>
  





<td class="" o-component-description>
  <p>Event triggered when the list item is clicked</p>
 
  
</td>
  
  </tr>

  <tr>
  





<td class="" o-component-name>
  <p>dblclick</p>
 
  
</td>
  





<td class="" o-component-description>
  <p>Event triggered when the list item is double clicked</p>
 
  
</td>
  
  </tr>

  </tbody>
</table>
  


  



  
    
      
      
  <h2 class="">List item: text</h2>
      




  
<p><strong class="grey-color">Directive:</strong> o-list-item-text</p>
  
  


  


  


  
  <h3 class="grey-color">Inputs</h3>






  <table class="attributes-table mdl-data-table">
<thead>
  <tr>
  

  
<th class=""> Name</th>
  
  

  
<th class=""> Description</th>
  
  

  
<th class=""> Default</th>
  
  
  </tr>
</thead>
<tbody>
  
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>icon</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Name of google icon (see <a href="https://design.google.com/icons/" target="_blank">Google material design icons</a>)</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>icon-position</p>
</p>

  <p><i>left | right</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The icon position</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>primary-text</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The primary of the list item</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>secondary-text</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The secondary of the list item</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>title</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The title of the list item</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  
  </tbody>
  </table>

  

  


  

  
<h3 class="grey-color">Outputs</h3>
<table class="attributes-table mdl-data-table">
  <thead>
<tr>

  <th class=""> Name</th>

  <th class=""> Description</th>

</tr>
  </thead>
<tbody>


  <tr>
  





<td class="" o-component-name>
  <p>icon-action</p>
 
  
</td>
  





<td class="" o-component-description>
  <p>Event triggered when the list item icon is clicked</p>
 
  
</td>
  
  </tr>

  </tbody>
</table>
  


  



  
    
      
      
  <h2 class="">List item: avatar</h2>
      




  
<p><strong class="grey-color">Directive:</strong> o-list-item-avatar</p>
  
  


  


  
<h3 class="grey-color">Inherited inputs</h3>
<ul>

  
  <li>
from List item text:
<ul class="attributes-list">
  
  
<li> icon </li>
  
<li> primary-text </li>
  
<li> secondary-text </li>
  
<li> title </li>
  
</ul>

  </li>
</ul>
  


  


  
<h3 class="grey-color">Inherited outputs</h3>
<ul>
  
  
  <li>
from List item text:
<ul class="attributes-list">
  
  
<li> icon-action </li>
  
</ul>

  </li>
</ul>
  

  


  



  
    
      
      
  <h2 class="">List item: card</h2>
      




  
<p><strong class="grey-color">Directive:</strong> o-list-item-card</p>
  
  


  


  


  
  <h3 class="grey-color">Inputs</h3>






  <table class="attributes-table mdl-data-table">
<thead>
  <tr>
  

  
<th class=""> Name</th>
  
  

  
<th class=""> Description</th>
  
  

  
  
  </tr>
</thead>
<tbody>
  
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>action-1-text</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The text of the first button</p>
</p>

  </td>
  

  
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>action-2-text</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The text of the second button</p>
</p>

  </td>
  

  
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>image</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The image of the list item</p>
</p>

  </td>
  

  
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>subtitle</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The subtitle of the list item</p>
</p>

  </td>
  

  
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>title</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The title of the list item</p>
</p>

  </td>
  

  
  

</tr>
  
  </tbody>
  </table>

  

  


  

  
<h3 class="grey-color">Outputs</h3>
<table class="attributes-table mdl-data-table">
  <thead>
<tr>

  <th class=""> Name</th>

  <th class=""> Description</th>

</tr>
  </thead>
<tbody>


  <tr>
  





<td class="" o-component-name>
  <p>action-1</p>
 
  
</td>
  





<td class="" o-component-description>
  <p>Event triggered when first button is clicked</p>
 
  
</td>
  
  </tr>

  <tr>
  





<td class="" o-component-name>
  <p>action-2</p>
 
  
</td>
  





<td class="" o-component-description>
  <p>Event triggered when second button is clicked</p>
 
  
</td>
  
  </tr>

  </tbody>
</table>
  


  



  
    
      
      
  <h2 class="">List item: card image</h2>
      




  
<p><strong class="grey-color">Directive:</strong> o-list-item-card-image</p>
  
  


  


  
<h3 class="grey-color">Inherited inputs</h3>
<ul>

  
  <li>
from List item card:
<ul class="attributes-list">
  
  
<li> action-1-text </li>
  
<li> action-2-text </li>
  
<li> image </li>
  
<li> subtitle </li>
  
<li> title </li>
  
</ul>

  </li>
</ul>
  


  
  <h3 class="grey-color">Inputs</h3>






  <table class="attributes-table mdl-data-table">
<thead>
  <tr>
  

  
<th class=""> Name</th>
  
  

  
<th class=""> Description</th>
  
  

  
  
  </tr>
</thead>
<tbody>
  
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>avatar</p>
</p>

  <p><i>string</i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The avatar of the list item</p>
</p>

  </td>
  

  
  

</tr>
  
  </tbody>
  </table>

  

  


  
<h3 class="grey-color">Inherited outputs</h3>
<ul>
  
  
  <li>
from List item card:
<ul class="attributes-list">
  
  
<li> action-1 </li>
  
<li> action-2 </li>
  
</ul>

  </li>
</ul>
  

  


  



  
    
  

</div>


  

</div>
        
      </section>

      <footer class="page__meta">
        
        




        
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Updated:</strong> <time datetime="2019-10-07T10:30:17-04:00">October 07, 2019</time></p>
        
      </footer>

      

      


  <nav class="pagination">
    
      <a href="https://ontimizeweb.github.io/docs/components/form/container/" class="pagination--pager" title="Form container
">
          <i class="fas fa-arrow-left margin-right"></i>
        Previous
      </a>
    
    
      <a href="https://ontimizeweb.github.io/docs/components/grid/" class="pagination--pager" title="Grid
">
        Next
        <i class="fas fa-arrow-right margin-left"></i>
      </a>
    
  </nav>

    </div>

    
  </article>

  
  
</div>

    <div class="page__footer">
      <footer>
        <!-- start custom footer snippets -->

<a href="#" class="scrollToTop"><i class="fa fa-fw fa-chevron-circle-up" aria-hidden="true"></i></a>

<!-- end custom footer snippets -->
        

<div class="page__footer-follow">
  <ul class="social-icons">
    
      <li><strong>Follow:</strong></li>
    
    
      <li><a href="https://twitter.com/imatiainnova" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    
    
      <li><a href="https://www.linkedin.com/company/224080?trk=prof-0-ovw-curr_pos" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    
    
      <li><a href="http://github.com/OntimizeWeb" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    
    
    <li><a href="https://ontimizeweb.github.io/docs/feed.xml" target="_blank"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Feed</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; 2019 Imatia Innovation, S.L.. Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
      </footer>
    </div>

    <script src="https://ontimizeweb.github.io/docs/assets/js/main.min.js"></script>





  </body>
</html>
