

<!doctype html>
<html lang="en" class="no-js">
  <head>
    

<meta charset="utf-8">



<!-- begin SEO -->









<title>OBaseTableCellRenderer - Ontimize Web</title>







<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Ontimize Web">
<meta property="og:title" content="OBaseTableCellRenderer">


  <link rel="canonical" href="https://ontimizeweb.github.io/docs/v8/components/table/obasetablecellrenderer/">
  <meta property="og:url" content="https://ontimizeweb.github.io/docs/v8/components/table/obasetablecellrenderer/">



  <meta property="og:description" content="">



  <meta name="twitter:site" content="@imatiainnova">
  <meta name="twitter:title" content="OBaseTableCellRenderer">
  <meta name="twitter:description" content="">
  <meta name="twitter:url" content="https://ontimizeweb.github.io/components/table/obasetablecellrenderer/">

  
    <meta name="twitter:card" content="summary">
    
      <meta name="twitter:image" content="https://ontimizeweb.github.io/docs/v8/images/site-logo.png">
    
  

  



  

  



  <meta property="og:image" content="https://ontimizeweb.github.io/docs/v8/images/site-logo.png">



  <meta property="og:type" content="article">
  <meta property="article:published_time" content="2020-05-29T10:47:20-04:00">






  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://ontimizeweb.github.io/docs/v8",
      "logo": "https://ontimizeweb.github.io/docs/v8/images/site-logo.png"
    }
  </script>



  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Person",
      "name" : "Ontimize Web",
      "url" : "https://ontimizeweb.github.io/docs/v8",
      "sameAs" : ["https://twitter.com/imatiainnova"]
    }
  </script>






<!-- end SEO -->


<link href="https://ontimizeweb.github.io/docs/v8/feed.xml" type="application/atom+xml" rel="alternate" title="Ontimize Web Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src="https://ontimizeweb.github.io/docs/v8/assets/js/fontawesome-all.min.js"></script>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="https://ontimizeweb.github.io/docs/v8/assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<meta http-equiv="cleartype" content="on">
    

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="https://ontimizeweb.github.io/docs/v8/images/apple-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v8/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v8/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v8/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v8/images/android-icon-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="manifest" href="https://ontimizeweb.github.io/docs/v8/images/manifest.json?v=M44lzPylqQ">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="https://ontimizeweb.github.io/docs/v8/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="https://ontimizeweb.github.io/docs/v8/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
  </head>

  <body class="layout--o-component">

    <!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
<![endif]-->
    

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
          <a href="https://ontimizeweb.github.io/docs/v8/">
            <div class="main_icon"></div>
        </a>
        <span class="fill_remaing_space"></span>
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!--<li class="masthead__menu-item masthead__menu-item--lg"><a href="https://ontimizeweb.github.io/docs/v8/">Ontimize Web</a></li>-->
          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/v8/doc-overview/">Getting started</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item masthead__menu-item-active"><a href="https://ontimizeweb.github.io/docs/v8/components/">Components</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/v8/about/">About</a>
            
            </li>


            
            

          

          
          <li class="masthead__menu-item masthead__menu-item-active">
            <select onchange="window.location = this.options[this.selectedIndex].value">
            
              <option value="https://ontimizeweb.github.io/docs/v3" >3.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs" >4.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs/v8"  selected="selected" >8.x.x</option>
            
            </select>
          </li>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

    





<div id="main" role="main">
  


  <div class="sidebar sticky">
  
  
    
      
      
      
    
    
      


 <script type="text/javascript" style="display:none;">
  var onNavigationItemClick = function (element) {

    var parentNav = $(element).parents('nav.nav__list');
    var icons = parentNav.find('svg');
    icons.addClass('fa-folder');
    icons.addClass('orange-icon');
    icons.removeClass('fa-folder-open');

    var parentLi = $(element).parents('li.nav-component-category:first');
    parentLi.siblings().removeClass('active-component-category');
    parentLi.addClass('active-component-category');
/*
    parentLi.siblings(':not(.active-parent)').removeClass('active-component-category');
    parentLi.toggleClass('active-component-category');
*/    
    var currentIcon = parentLi.find('svg:first');
    currentIcon.addClass('fa-folder-open');
    currentIcon.removeClass('orange-icon');
    currentIcon.removeClass('fa-folder');

  };
</script>

<nav class="nav__list">
  
  <ul>
    
    
    
      
          
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
                      
                            
                      
                  
              
                  
              
                  
              
                  
              
                 
      
          
              
                  
              
                  
              
                 
      
          
              
                  
                      
                            
                      
                            
                      
                  
              
                  
              
                  
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                                                                            
                            
                            
                  
              
                  
              
                  
              
                  
              
                 
      
                 
      
                 
      
                 
      
    
 
    

    

    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Input</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/overview/" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/checkbox/" class=" ">Checkbox</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/combo/" class=" ">Combo</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/currency/" class=" ">Currency</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/date/" class=" ">Date</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/daterange/" class=" ">Date range <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/email/" class=" ">Email</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/file/" class=" ">File</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/html/" class=" ">HTML</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/hour/" class=" ">Hour</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/integer/" class=" ">Integer</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/listpicker/" class=" ">List picker</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/nif/" class=" ">NIF</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/password/" class=" ">Password</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/percent/" class=" ">Percentage</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/radio/" class=" ">Radio</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/real/" class=" ">Real</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/slidetoggle/" class=" ">Slide toggle</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/slider/" class=" ">Slider</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/text/" class=" ">Text</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/textarea/" class=" ">Textarea</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/input/time/" class=" ">Time</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Button</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/button/" class=" ">Button</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/buttontoggle/" class=" ">Button toggle</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category active-component-category active-parent">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder-open nav__sub-title-icon"></i>Data</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/datatable/" class=" ">DataTable <small>(deprecated)</small></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/filterbuilder/" class=" ">Filter builder</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/form/" class=" ">Form</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/grid/" class=" ">Grid <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/list/" class=" ">List</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/table/" class=" ">Table</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Media</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/image/" class=" ">Image</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Layout</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/applayout/" class=" ">App layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/breadcrumb/" class=" ">Breadcrumb</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/containers/" class=" ">Containers</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/contextmenu/" class=" ">Context menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/dialog/" class=" ">Dialog</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/formlayoutmanager/" class=" ">Form layout mngr.</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/snackbar/" class=" ">SnackBar</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Menu</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/menu/" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/barmenu/" class=" ">Bar menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/cardmenulayout/" class=" ">Card menu layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v8/components/sidemenu/" class=" ">Side menu <small>(deprecated)</small></a></li>
          
        </ul>
        
      </li>
    
  </ul>
</nav>
    
  
  </div>


  <article class="page  o-component " itemscope itemtype="http://schema.org/CreativeWork">
    
    <meta itemprop="headline" content="OBaseTableCellRenderer">
    
    <meta itemprop="description" content="">
    
    <meta itemprop="datePublished" content="May 29, 2020">
    

    <div class="page__inner-wrap">
      
      <header>
        <h1 class="page__title" itemprop="headline">OBaseTableCellRenderer
</h1>
        
      </header>
      

      <section class="page__content" itemprop="text">
        <div class="o-component-container">

  

  
    







 
 
 

<script type="text/javascript">
  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("o-tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("o-tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
 
<!-- Tab links -->
<div class="o-tab">
  <button class="o-tablinks active" onclick="openTab(event, 'overview')">Overview</button>
  <button class="o-tablinks" onclick="openTab(event, 'api')">API</button>
</div>

<!-- OVERVIEW -->
<div id="overview" class="o-tabcontent" style="display:block;">
 <!-- <aside class="sidebar__right">
<nav class="toc" markdown="1">
<header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
*  Auto generated table of contents
{:toc .toc__menu}
</nav>
</aside> -->

  

  
  

  
<h2 id="description">Description</h2>

<p>All cell renderers in OntimizeWeb extend the <em>OBaseTableCellRenderer class</em>. This class provides a set of methods and properties by all the cell renderers components. This methods and attributes are explained on the API section of this page.</p>

<p>Below we will show an example of the custom cell renderer.</p>

<p>Example</p>
<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">import</span> <span class="p">{</span> <span class="nx">Component</span><span class="p">,</span> <span class="nx">Injector</span><span class="p">,</span> <span class="nx">TemplateRef</span><span class="p">,</span> <span class="nx">ViewChild</span> <span class="p">}</span> <span class="k">from</span> <span class="dl">'</span><span class="s1">@angular/core</span><span class="dl">'</span><span class="p">;</span>
<span class="k">import</span> <span class="p">{</span> <span class="nx">OBaseTableCellRenderer</span><span class="p">,</span> <span class="nx">OCurrencyPipe</span> <span class="p">}</span> <span class="k">from</span> <span class="dl">'</span><span class="s1">ontimize-web-ngx</span><span class="dl">'</span><span class="p">;</span>

<span class="p">@</span><span class="nd">Component</span><span class="p">({</span>
  <span class="na">selector</span><span class="p">:</span> <span class="dl">'</span><span class="s1">o-table-column-renderer-balance</span><span class="dl">'</span><span class="p">,</span>
  <span class="na">templateUrl</span><span class="p">:</span> <span class="dl">'</span><span class="s1">./o-table-column-renderer-balance.component.html</span><span class="dl">'</span><span class="p">,</span>
  <span class="na">host</span><span class="p">:</span> <span class="p">{</span> <span class="dl">'</span><span class="s1">o-mat-column-currency</span><span class="dl">'</span><span class="p">:</span> <span class="dl">'</span><span class="s1">true</span><span class="dl">'</span> <span class="p">}</span>
<span class="p">})</span>
<span class="k">export</span> <span class="kd">class</span> <span class="nx">OTableColumnRendererBalanceComponent</span> <span class="kd">extends</span> <span class="nx">OBaseTableCellRenderer</span> <span class="p">{</span>

  <span class="p">@</span><span class="nd">ViewChild</span><span class="p">(</span><span class="dl">'</span><span class="s1">templateref</span><span class="dl">'</span><span class="p">,</span> <span class="p">{</span> <span class="na">read</span><span class="p">:</span> <span class="nx">TemplateRef</span> <span class="p">})</span> <span class="kr">public</span> <span class="na">templateref</span><span class="p">:</span> <span class="nx">TemplateRef</span><span class="o">&lt;</span><span class="nx">any</span><span class="o">&gt;</span><span class="p">;</span>

  <span class="kd">constructor</span><span class="p">(</span><span class="kr">protected</span> <span class="na">injector</span><span class="p">:</span> <span class="nx">Injector</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">super</span><span class="p">(</span><span class="nx">injector</span><span class="p">);</span>
    <span class="k">this</span><span class="p">.</span><span class="nx">setComponentPipe</span><span class="p">();</span>
  <span class="p">}</span>

  <span class="nx">setComponentPipe</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">this</span><span class="p">.</span><span class="nx">componentPipe</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">OCurrencyPipe</span><span class="p">(</span><span class="k">this</span><span class="p">.</span><span class="nx">injector</span><span class="p">);</span>
  <span class="p">}</span>

  <span class="nx">ngOnInit</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">this</span><span class="p">.</span><span class="nx">pipeArguments</span> <span class="o">=</span> <span class="p">{</span>
    <span class="na">currencySimbol</span><span class="p">:</span> <span class="dl">'</span><span class="s1">€</span><span class="dl">'</span><span class="p">,</span>
    <span class="na">currencySymbolPosition</span><span class="p">:</span> <span class="dl">'</span><span class="s1">right</span><span class="dl">'</span><span class="p">,</span>
    <span class="na">decimalDigits</span><span class="p">:</span> <span class="mi">2</span><span class="p">,</span>
    <span class="na">decimalSeparator</span><span class="p">:</span> <span class="dl">'</span><span class="s1">,</span><span class="dl">'</span><span class="p">,</span>
    <span class="na">grouping</span><span class="p">:</span> <span class="kc">true</span><span class="p">,</span>
    <span class="na">thousandSeparator</span><span class="p">:</span> <span class="dl">'</span><span class="s1">.</span><span class="dl">'</span>
    <span class="p">};</span>
  <span class="p">}</span>

  <span class="nx">getCellData</span><span class="p">(</span><span class="na">value</span><span class="p">:</span> <span class="nx">any</span><span class="p">)</span> <span class="p">{</span>
    <span class="kd">let</span> <span class="na">parsedValue</span><span class="p">:</span> <span class="nx">string</span><span class="p">;</span>
    <span class="k">if</span> <span class="p">(</span><span class="k">this</span><span class="p">.</span><span class="nx">componentPipe</span> <span class="o">&amp;&amp;</span> <span class="k">typeof</span> <span class="k">this</span><span class="p">.</span><span class="nx">pipeArguments</span> <span class="o">!==</span> <span class="dl">'</span><span class="s1">undefined</span><span class="dl">'</span> <span class="o">&amp;&amp;</span> <span class="nx">value</span> <span class="o">!==</span> <span class="kc">undefined</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">parsedValue</span> <span class="o">=</span> <span class="k">this</span><span class="p">.</span><span class="nx">componentPipe</span><span class="p">.</span><span class="nx">transform</span><span class="p">(</span><span class="nx">value</span><span class="p">,</span> <span class="k">this</span><span class="p">.</span><span class="nx">pipeArguments</span><span class="p">);</span>
    <span class="p">}</span>
    <span class="k">return</span> <span class="nx">parsedValue</span><span class="p">;</span>
  <span class="p">}</span>

<span class="p">}</span>
</code></pre></div></div>

</div>

<!-- API -->
<div id="api" class="o-tabcontent">

  



  
  
    <p><strong class="grey-color">Class:</strong> OBaseTableCellRenderer</p>
  


  
    <h3 class="grey-color">Properties</h3>
    

    

    <table class="attributes-table mdl-data-table">
      <thead>
        <tr>
        
          
          
            <th class=""> Name</th>
          
        
          
          
            <th class=""> Type</th>
          
        
          
          
            <th class=""> Description</th>
          
        
        </tr>
      </thead>
        <tbody>
        
          <tr>
          
           
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-name><p>column</p>
</td>
            
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-type><p>property</p>
</td>
            
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-description><p>Name of the column</p>
</td>
            
          
          </tr>
        
          <tr>
          
           
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-name><p>table</p>
</td>
            
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-type><p>property</p>
</td>
            
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-description><p>Reference to the component OTableComponent</p>
</td>
            
          
          </tr>
        
          <tr>
          
           
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-name><p>tableColumn</p>
</td>
            
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-type><p>property</p>
</td>
            
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-description><p>Reference to the component OTableColumnComponent</p>
</td>
            
          
          </tr>
        
          <tr>
          
           
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-name><p>getCellData(cellvalue,rowvalue)</p>
</td>
            
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-type><p>method</p>
</td>
            
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-description><p>This default method returns the value of the column as <em>a string</em>. This method is used to obtain the value of the column in the exports or filtering, so that if you want to customize the value of the column you must overwrite it.</p>
</td>
            
          
          </tr>
        
      </tbody>
    </table>
  


  


  


  

  


  




  

</div>


  

</div>
        
      </section>

      <footer class="page__meta">
        
        




        
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Updated:</strong> <time datetime="2020-05-29T10:47:20-04:00">May 29, 2020</time></p>
        
      </footer>

      

      


  <nav class="pagination">
    
      <a href="https://ontimizeweb.github.io/docs/v8/components/table/obasetablecelleditor/" class="pagination--pager" title="OBaseTableCellEditor
">
          <i class="fas fa-arrow-left margin-right"></i>
        Previous
      </a>
    
    
      <a href="#" class="pagination--pager disabled">
        
        Next
        <i class="fas fa-arrow-right margin-left"></i>
      </a>
    
  </nav>

    </div>

    
  </article>

  
  
</div>

    <div class="page__footer">
      <footer>
        <!-- start custom footer snippets -->

<a href="#" class="scrollToTop"><i class="fa fa-fw fa-chevron-circle-up" aria-hidden="true"></i></a>

<!-- end custom footer snippets -->
        

<div class="page__footer-follow">
  <ul class="social-icons">
    
      <li><strong>Follow:</strong></li>
    
    
      <li><a href="https://twitter.com/imatiainnova" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    
    
      <li><a href="https://www.linkedin.com/company/224080?trk=prof-0-ovw-curr_pos" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    
    
      <li><a href="http://github.com/OntimizeWeb" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    
    
    <li><a href="https://ontimizeweb.github.io/docs/v8/feed.xml" target="_blank"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Feed</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; 2020 Imatia Innovation, S.L.. Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
      </footer>
    </div>

    <script src="https://ontimizeweb.github.io/docs/v8/assets/js/main.min.js"></script>





  </body>
</html>
