

<!doctype html>
<html lang="en" class="no-js">
  <head>
    

<meta charset="utf-8">



<!-- begin SEO -->









<title>Form data components - Ontimize Web</title>







<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Ontimize Web">
<meta property="og:title" content="Form data components">


  <link rel="canonical" href="https://ontimizeweb.github.io/docs/v3/components/input/overview/">
  <meta property="og:url" content="https://ontimizeweb.github.io/docs/v3/components/input/overview/">



  <meta property="og:description" content="     On This Page  ">



  <meta name="twitter:site" content="@imatiainnova">
  <meta name="twitter:title" content="Form data components">
  <meta name="twitter:description" content="     On This Page  ">
  <meta name="twitter:url" content="https://ontimizeweb.github.io/components/input/overview/">

  
    <meta name="twitter:card" content="summary">
    
      <meta name="twitter:image" content="https://ontimizeweb.github.io/docs/v3/images/site-logo.png">
    
  

  



  

  



  <meta property="og:image" content="https://ontimizeweb.github.io/docs/v3/images/site-logo.png">



  <meta property="og:type" content="article">
  <meta property="article:published_time" content="2020-11-10T06:31:42-05:00">






  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://ontimizeweb.github.io/docs/v3",
      "logo": "https://ontimizeweb.github.io/docs/v3/images/site-logo.png"
    }
  </script>



  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Person",
      "name" : "Ontimize Web",
      "url" : "https://ontimizeweb.github.io/docs/v3",
      "sameAs" : ["https://twitter.com/imatiainnova"]
    }
  </script>






<!-- end SEO -->


<link href="https://ontimizeweb.github.io/docs/v3/feed.xml" type="application/atom+xml" rel="alternate" title="Ontimize Web Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src="https://ontimizeweb.github.io/docs/v3/assets/js/fontawesome-all.min.js"></script>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="https://ontimizeweb.github.io/docs/v3/assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<meta http-equiv="cleartype" content="on">
    

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="https://ontimizeweb.github.io/docs/v3/images/apple-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v3/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v3/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v3/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/v3/images/android-icon-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="manifest" href="https://ontimizeweb.github.io/docs/v3/images/manifest.json?v=M44lzPylqQ">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="https://ontimizeweb.github.io/docs/v3/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="https://ontimizeweb.github.io/docs/v3/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
  </head>

  <body class="layout--o-component">

    <!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
<![endif]-->
    

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
          <a href="https://ontimizeweb.github.io/docs/v3/">
            <div class="main_icon"></div>
        </a>
        <span class="fill_remaing_space"></span>
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!--<li class="masthead__menu-item masthead__menu-item--lg"><a href="https://ontimizeweb.github.io/docs/v3/">Ontimize Web</a></li>-->
          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/v3/doc-overview/">Getting started</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item masthead__menu-item-active"><a href="https://ontimizeweb.github.io/docs/v3/components/">Components</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/v3/about/">About</a>
            
            </li>


            
            

          

          
          <li class="masthead__menu-item masthead__menu-item-active">
            <select onchange="window.location = this.options[this.selectedIndex].value">
            
              <option value="https://ontimizeweb.github.io/docs/v3"  selected="selected" >3.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs/v4" >4.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs" >8.x.x</option>
            
            </select>
          </li>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

    





<div id="main" role="main">
  


  <div class="sidebar sticky">
  
  
    
      
      
      
    
    
      


 <script type="text/javascript" style="display:none;">
  var onNavigationItemClick = function (element) {

    var parentNav = $(element).parents('nav.nav__list');
    var icons = parentNav.find('svg');
    icons.addClass('fa-folder');
    icons.addClass('orange-icon');
    icons.removeClass('fa-folder-open');

    var parentLi = $(element).parents('li.nav-component-category:first');
    parentLi.siblings().removeClass('active-component-category');
    parentLi.addClass('active-component-category');
/*
    parentLi.siblings(':not(.active-parent)').removeClass('active-component-category');
    parentLi.toggleClass('active-component-category');
*/    
    var currentIcon = parentLi.find('svg:first');
    currentIcon.addClass('fa-folder-open');
    currentIcon.removeClass('orange-icon');
    currentIcon.removeClass('fa-folder');

  };
</script>

<nav class="nav__list">
  
  <ul>
    
    
    
      
          
              
                  
                      
                      
                 
      
                 
      
                 
      
                 
      
                 
      
                 
      
    
 
    

    

    
    

      
       
      <li class="nav-component-category active-component-category active-parent">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder-open nav__sub-title-icon"></i>Input</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/overview/" class="active overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/checkbox/" class=" ">Checkbox</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/combo/" class=" ">Combo</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/currency/" class=" ">Currency</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/date/" class=" ">Date</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/email/" class=" ">Email</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/file/" class=" ">File</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/html/" class=" ">HTML</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/hour/" class=" ">Hour</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/integer/" class=" ">Integer</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/listpicker/" class=" ">List picker</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/nif/" class=" ">NIF</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/password/" class=" ">Password</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/percent/" class=" ">Percentage</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/radio/" class=" ">Radio <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/real/" class=" ">Real</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/slidetoggle/" class=" ">Slide toggle <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/slider/" class=" ">Slider <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/text/" class=" ">Text</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/textarea/" class=" ">Textarea</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/input/time/" class=" ">Time</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Button</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/button/" class=" ">Button</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/buttontoggle/" class=" ">Button toggle</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Data</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/datatable/" class=" ">DataTable <small>(deprecated)</small></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/filterbuilder/" class=" ">Filter builder</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/form/" class=" ">Form</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/grid/" class=" ">Grid <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/list/" class=" ">List</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/table/" class=" ">Table</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Media</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/image/" class=" ">Image</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Layout</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/applayout/" class=" ">App layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/breadcrumb/" class=" ">Breadcrumb</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/containers/" class=" ">Containers</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/contextmenu/" class=" ">Context menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/dialog/" class=" ">Dialog</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/formlayoutmanager/" class=" ">Form layout mngr.</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/snackbar/" class=" ">SnackBar</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Menu</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/menu/" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/barmenu/" class=" ">Bar menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/cardmenulayout/" class=" ">Card menu layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/v3/components/sidemenu/" class=" ">Side menu <small>(deprecated)</small></a></li>
          
        </ul>
        
      </li>
    
  </ul>
</nav>
    
  
  </div>


  <article class="page  o-component " itemscope itemtype="http://schema.org/CreativeWork">
    
    <meta itemprop="headline" content="Form data components">
    
    <meta itemprop="description" content="     On This Page  ">
    
    <meta itemprop="datePublished" content="November 10, 2020">
    

    <div class="page__inner-wrap">
      
      <header>
        <h1 class="page__title" itemprop="headline">Form data components
</h1>
        
      </header>
      

      <section class="page__content" itemprop="text">
        <div class="o-component-container">

  

  
    







 
 
 

<script type="text/javascript">
  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("o-tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("o-tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
 
<!-- Tab links -->
<div class="o-tab">
  <button class="o-tablinks active" onclick="openTab(event, 'overview')">Overview</button>
  <button class="o-tablinks" onclick="openTab(event, 'api')">API</button>
</div>

<!-- OVERVIEW -->
<div id="overview" class="o-tabcontent" style="display:block;">
 <!-- <aside class="sidebar__right">
<nav class="toc" markdown="1">
<header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
*  Auto generated table of contents
{:toc .toc__menu}
</nav>
</aside> -->

  

  
  

  
<aside class="sidebar__right">
<nav class="toc">
    <header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
<ul class="toc__menu" id="markdown-toc">
  <li><a href="#data" id="markdown-toc-data">Data</a></li>
  <li><a href="#validation" id="markdown-toc-validation">Validation</a>    <ul>
      <li><a href="#input" id="markdown-toc-input">Input</a></li>
      <li><a href="#validation-component" id="markdown-toc-validation-component">Validation component</a></li>
    </ul>
  </li>
  <li><a href="#enabled" id="markdown-toc-enabled">Enabled</a></li>
  <li><a href="#read-only" id="markdown-toc-read-only">Read-only</a></li>
  <li><a href="#tooltip" id="markdown-toc-tooltip">Tooltip</a></li>
  <li><a href="#width--new-" id="markdown-toc-width--new-">Width <span class="menuitem-badge"> new </span></a></li>
</ul>

  </nav>
</aside>

<p>Form data components are components that must be placed inside a <a href="https://ontimizeweb.github.io/docs/v3/components/form/" target="_blank">form</a> and allow for an input of data. The form data components offered by <strong>OntimizeWeb</strong> are checkbox, combo, currency, date, email, file, hour, html, integer, list picker, NIF, password, percent, radio, real, slider, slide toggle, text, textarea and time.</p>

<p>All input components in <strong>OntimizeWeb</strong> extend the <code class="language-plaintext highlighter-rouge">OFormDataComponent</code> class. This class provides a set of methods and attributes inherited by all the input components. This methods and attributes are explained on the <strong>API</strong> section of this page.</p>

<h2 id="data">Data</h2>
<p>You can modify value by setting the <code class="language-plaintext highlighter-rouge">data</code> attribute or calling the <code class="language-plaintext highlighter-rouge">setData</code> method.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code> <span class="nt">&lt;o-text-input</span> <span class="na">attr=</span><span class="s">"input2"</span> <span class="na">label=</span><span class="s">"{{ 'INPUT.BUTTON.TEXT' | oTranslate }}"</span> <span class="na">[data]=</span><span class="s">"getValue()"</span> <span class="na">read-only=</span><span class="s">"no"</span> <span class="na">required=</span><span class="s">"yes"</span>
    <span class="na">tooltip=</span><span class="s">"This is an awesome tooltip!"</span><span class="nt">&gt;&lt;/o-text-input&gt;</span>
</code></pre></div></div>
<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="nx">getValue</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">return</span> <span class="dl">'</span><span class="s1">John Doe</span><span class="dl">'</span><span class="p">;</span>
  <span class="p">}</span>
</code></pre></div></div>

<h2 id="validation">Validation</h2>
<p>The input shows automatically an error message when the <code class="language-plaintext highlighter-rouge">required</code> attribute is set to <strong>yes</strong> and there is no value on the input.</p>

<h3 id="input">Input</h3>

<p>User can add its own validators to a input component using the <code class="language-plaintext highlighter-rouge">validators</code> input.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>   <span class="nt">&lt;o-text-input</span> <span class="na">attr=</span><span class="s">"input"</span> <span class="na">label=</span><span class="s">"{{ 'INPUT.BUTTON.TEXT' | oTranslate }}"</span> 
   <span class="na">[validators]=</span><span class="s">"validatorsArray"</span><span class="nt">&gt;&lt;/o-text-input&gt;</span>
</code></pre></div></div>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code>   <span class="p">...</span>

  <span class="k">import</span> <span class="p">{</span> <span class="nx">ValidatorFn</span><span class="p">,</span> <span class="nx">ValidationErrors</span><span class="p">,</span> <span class="nx">FormControl</span> <span class="p">}</span> <span class="k">from</span> <span class="dl">'</span><span class="s1">@angular/forms</span><span class="dl">'</span><span class="p">;</span>

  <span class="nl">validatorsArray</span><span class="p">:</span> <span class="nx">ValidatorFn</span><span class="p">[]</span> <span class="o">=</span> <span class="p">[];</span>

  <span class="kd">constructor</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">this</span><span class="p">.</span><span class="nx">validatorsArray</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="k">this</span><span class="p">.</span><span class="nx">aValidator</span><span class="p">);</span>
    <span class="k">this</span><span class="p">.</span><span class="nx">validatorsArray</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="k">this</span><span class="p">.</span><span class="nx">bValidator</span><span class="p">);</span>
  <span class="p">}</span>


  <span class="nx">aValidator</span><span class="p">(</span><span class="nx">control</span><span class="p">:</span> <span class="nx">FormControl</span><span class="p">):</span> <span class="nx">ValidationErrors</span> <span class="p">{</span>
    <span class="kd">let</span> <span class="nx">result</span> <span class="o">=</span> <span class="p">{};</span>
    <span class="k">if</span> <span class="p">(</span><span class="nx">control</span><span class="p">.</span><span class="nx">value</span> <span class="o">&amp;&amp;</span> <span class="nx">control</span><span class="p">.</span><span class="nx">value</span><span class="p">.</span><span class="nx">toString</span><span class="p">().</span><span class="nx">indexOf</span><span class="p">(</span><span class="dl">'</span><span class="s1">a</span><span class="dl">'</span><span class="p">)</span> <span class="o">===</span> <span class="o">-</span><span class="mi">1</span><span class="p">)</span> <span class="p">{</span>
      <span class="nx">result</span><span class="p">[</span><span class="dl">'</span><span class="s1">requiredLowercaseA</span><span class="dl">'</span><span class="p">]</span> <span class="o">=</span> <span class="kc">true</span><span class="p">;</span>
    <span class="p">}</span>
    <span class="k">if</span> <span class="p">(</span><span class="nx">control</span><span class="p">.</span><span class="nx">value</span> <span class="o">&amp;&amp;</span> <span class="nx">control</span><span class="p">.</span><span class="nx">value</span><span class="p">.</span><span class="nx">toString</span><span class="p">().</span><span class="nx">indexOf</span><span class="p">(</span><span class="dl">'</span><span class="s1">A</span><span class="dl">'</span><span class="p">)</span> <span class="o">===</span> <span class="o">-</span><span class="mi">1</span><span class="p">)</span> <span class="p">{</span>
      <span class="nx">result</span><span class="p">[</span><span class="dl">'</span><span class="s1">requiredUppercaseA</span><span class="dl">'</span><span class="p">]</span> <span class="o">=</span> <span class="kc">true</span><span class="p">;</span>
    <span class="p">}</span>
    <span class="k">return</span> <span class="nx">result</span><span class="p">;</span>
  <span class="p">}</span>

  <span class="nx">bValidator</span><span class="p">(</span><span class="nx">control</span><span class="p">:</span> <span class="nx">FormControl</span><span class="p">):</span> <span class="nx">ValidationErrors</span> <span class="p">{</span>
    <span class="k">if</span> <span class="p">(</span><span class="nx">control</span><span class="p">.</span><span class="nx">value</span> <span class="o">&amp;&amp;</span> <span class="nx">control</span><span class="p">.</span><span class="nx">value</span><span class="p">.</span><span class="nx">toString</span><span class="p">().</span><span class="nx">indexOf</span><span class="p">(</span><span class="dl">'</span><span class="s1">b</span><span class="dl">'</span><span class="p">)</span> <span class="o">===</span> <span class="o">-</span><span class="mi">1</span><span class="p">)</span> <span class="p">{</span>
      <span class="k">return</span> <span class="p">{</span>
        <span class="dl">'</span><span class="s1">requiredB</span><span class="dl">'</span><span class="p">:</span> <span class="kc">true</span>
      <span class="p">};</span>
    <span class="p">}</span>
    <span class="k">return</span> <span class="p">{};</span>
  <span class="p">}</span>
   <span class="p">...</span>
</code></pre></div></div>

<h3 id="validation-component">Validation component</h3>

<p>Using the <code class="language-plaintext highlighter-rouge">validators</code> input has the disadvantage that the user cannot define any validation error message for their custom validators. For doing that user has the <a href="https://ontimizeweb.github.io/docs/v3/components/input/validator/" target="_blank"><code class="language-plaintext highlighter-rouge">o-validator</code></a> and <a href="https://ontimizeweb.github.io/docs/v3/components/input/error/" target="_blank"><code class="language-plaintext highlighter-rouge">o-error</code></a> components.</p>

<h2 id="enabled">Enabled</h2>
<p>The <em>enabled</em> mode is actived by default. You can disabled the input by setting <code class="language-plaintext highlighter-rouge">enabled='no'</code>.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>   <span class="nt">&lt;o-text-input</span> <span class="na">attr=</span><span class="s">"input3"</span> <span class="na">label=</span><span class="s">"{{ 'INPUT.BUTTON.TEXT' | oTranslate }}"</span> <span class="na">enabled=</span><span class="s">"no"</span> <span class="na">[data]=</span><span class="s">"getValue()"</span><span class="nt">&gt;&lt;/o-text-input&gt;</span>
</code></pre></div></div>

<h2 id="read-only">Read-only</h2>
<p>The <em>readonly</em> mode represents an element that is no longer editable by the user. You can configure for an input to be reandonly <code class="language-plaintext highlighter-rouge">read-only="yes"</code>.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>    <span class="nt">&lt;o-text-input</span> <span class="na">fxFlex</span> <span class="na">attr=</span><span class="s">"input"</span> <span class="na">label=</span><span class="s">"{{ 'INPUT.BUTTON.TEXT' | oTranslate }}"</span> <span class="na">read-only=</span><span class="s">"yes"</span> <span class="na">[data]=</span><span class="s">"getValue()"</span><span class="nt">&gt;&lt;/o-text-input&gt;</span>
</code></pre></div></div>

<h2 id="tooltip">Tooltip</h2>
<p>To create a tooltip, add the <code class="language-plaintext highlighter-rouge">tooltip</code> attribute to an element. By default, the tooltip will appear on bottom of the element. Use <code class="language-plaintext highlighter-rouge">tooltip-position</code> attribute to set the position of the tooltip on <strong>top</strong>, <strong>bottom</strong>, <strong>left</strong> or the <strong>right</strong> side of the element.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code> <span class="nt">&lt;o-text-input</span> <span class="na">attr=</span><span class="s">"input2"</span> <span class="na">label=</span><span class="s">"{{ 'INPUT.BUTTON.TEXT' | oTranslate }}"</span> <span class="na">[data]=</span><span class="s">"getValue()"</span> <span class="na">read-only=</span><span class="s">"no"</span> <span class="na">required=</span><span class="s">"yes"</span>
    <span class="na">tooltip=</span><span class="s">"This is an awesome tooltip!"</span> <span class="na">tooltip-position=</span><span class="s">"left"</span><span class="nt">&gt;&lt;/o-text-input&gt;</span>
</code></pre></div></div>

<h2 id="width--new-">Width <span class="menuitem-badge"> new </span></h2>

<p>All input conponents have the <code class="language-plaintext highlighter-rouge">width</code> atribute. It allows you to can specify the width in pixels (px) or percentage (%) of the input component.</p>

<!--
extends OFormDataComponent


export const DEFAULT_INPUTS_O_FORM_DATA_COMPONENT = [
  'oattr: attr',
  'olabel: label',
  'tooltip',
  'tooltipPosition: tooltip-position',
  'tooltipShowDelay: tooltip-show-delay',
  'data',
  'autoBinding: automatic-binding',
  'autoRegistering: automatic-registering',
  'oenabled: enabled',
  'orequired: required',
  // sqltype[string]: Data type according to Java standard. See SQLType ngClass. Default: 'OTHER'
  'sqlType: sql-type',
  'width',
  'readOnly: read-only'
];


export interface IMultipleSelection extends IComponent {
  getSelectedItems(): Array<any>;
  setSelectedItems(values: Array<any>);
}

export interface IFormDataTypeComponent extends IComponent {
  getSQLType(): number;
}

export interface IFormControlComponent extends IComponent {
  getControl(): FormControl;
  getFormControl(): FormControl;
  hasError(error: string): boolean;
}

export interface IFormDataComponent extends IFormControlComponent {
  data(value: any);
  isAutomaticBinding(): boolean;
  isAutomaticRegistering(): boolean;
}-->

</div>

<!-- API -->
<div id="api" class="o-tabcontent">

  



  
  
    <p><strong class="grey-color">Class:</strong> FormDataComponent</p>
  


  
    <h3 class="grey-color">Properties</h3>
    

    

    <table class="attributes-table mdl-data-table">
      <thead>
        <tr>
        
          
          
            <th class=""> Name</th>
          
        
          
          
            <th class=""> Type</th>
          
        
          
          
            <th class=""> Description</th>
          
        
        </tr>
      </thead>
        <tbody>
        
          <tr>
          
           
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-name><p>elementRef</p>
</td>
            
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-type><p>property</p>
</td>
            
          
            
            
              
              
              
              
            
              
          
              <td class="" o-component-description><p>Name of the column</p>
</td>
            
          
          </tr>
        
      </tbody>
    </table>
  


  


  
  <h3 class="grey-color">Inputs</h3>
    
    

    
    

  <table class="attributes-table mdl-data-table">
    <thead>
      <tr>
      
        
          
            <th class=""> Name</th>
          
      
        
          
            <th class=""> Description</th>
          
      
        
          
            <th class=""> Default</th>
          
      
      </tr>
    </thead>
    <tbody>
      
      

        
        

  <tr required>
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name required>
    <p class="first"><p>attr</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Field identifier. Registry property if component is inside a form.</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>automatic-binding</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not the component will bind its value to its <code class="language-plaintext highlighter-rouge">attr</code> when located inside a form</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>yes</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>automatic-registering</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not the component will register itself (using its <code class="language-plaintext highlighter-rouge">attr</code>) when located inside a form</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>yes</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>clear-button</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not to show the clear button</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>no</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>data</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Manually setted component value</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>enabled</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not the field is enabled</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>yes</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>label</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Field label (placeholder when field is empty and floating label when field has data)</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p><code class="language-plaintext highlighter-rouge">attr</code> input</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>read-only</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether the input value is modifiable or not. This attribute may be ignored depending on the value of the <code class="language-plaintext highlighter-rouge">editable-detail</code> attribute of its parent <a href="https://ontimizeweb.github.io/docs/components/o-form.component/" target="_blank"><code class="language-plaintext highlighter-rouge">o-form</code> component</a></p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>no</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>required</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not the field is required</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>no</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>sql-type</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Data type according to Java standard. See <a href="https://docs.oracle.com/javase/8/docs/api/java/sql/Types.html" target="_blank">SQL Types</a></p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>OTHER</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>tooltip</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Field tooltip text</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>tooltip-position</p>
</p>
    
      <p><i>before | after | above | below | left | right</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Field tooltip position</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>below</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>tooltip-show-delay</p>
</p>
    
      <p><i>number</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Field tooltip display time</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>500</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>validators</p>
</p>
    
      <p><i>ValidatorFn[]</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Array of custom validators to apply to the component value. Each elemnent must be a Angular <a href="https://v5.angular.io/api/forms/ValidatorFn">ValidatorFn</a></p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>[]</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>width</p>
</p>
    
      <p><i>string </i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates the width of input component in pixels (px) or percentage (%)</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      
      </tbody>
  </table>

  
    <div class="notice--info" markdown="1">
    * required inputs.
    </div>
  

  


  

  
    <h3 class="grey-color">Outputs</h3>
    <table class="attributes-table mdl-data-table">
      <thead>
        <tr>
        
          <th class=""> Name</th>
        
          <th class=""> Description</th>
        
        </tr>
      </thead>
        <tbody>
        
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onChange</p>
 
              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when component value changes.</p>
 
              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onValueChange</p>
 
              
                <p><i>EventEmitter&lt;OValueChangeEvent&gt;</i></p>
              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when component value changes, eventobject emitted by OValueChangeEvent object.</p>
 
              
            </td>
          
          </tr>
        
      </tbody>
    </table>
  


  
    <h3 class="grey-color">Methods</h3>
      
      
    <table>
      <thead>
       <tr><th>getActiveOErrors()</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns a array containing the customized error values that the component has. Each element has a 'name' and a 'text' properties</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>IErrorData[]</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>getFormControl()</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns the form control of the input.</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>FormControl</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>getFormGroup()</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns the form group of the input.</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>FormControl</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>getSQLType()</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns the code of sqltype of the input.</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>number</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>getSelectedItems()</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns the selected items of the component.</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>any[]</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>getValue()</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns the selected items of the component.</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>any</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>hasError()</th></tr>
       </thead>
      <tbody>
        <tr><td>Set the selected items of the component.</td></tr>
        
        <tr><td><strong>Parameters</strong></td></tr>
        <tr><td>string</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>boolean</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>isAutomaticBinding()</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns the input is automatic binding.</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>boolean</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>isAutomaticRegistering()</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns the input is automatic registering.</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>boolean</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>setSelectedItems()</th></tr>
       </thead>
      <tbody>
        <tr><td>Set the selected items of the component.</td></tr>
        
        <tr><td><strong>Parameters</strong></td></tr>
        <tr><td>any[]</td></tr>
        
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>setValue()</th></tr>
       </thead>
      <tbody>
        <tr><td>Set value of the component.</td></tr>
        
        <tr><td><strong>Parameters</strong></td></tr>
        <tr><td>any</td></tr>
        
        
      </tbody>
    </table>
      
  




  
  
     
    
    
    
      
      
  <h2 class=""></h2>
      




  
  
<p><strong class="grey-color">Class:</strong> OValueChangeEvent</p>
  


  


  


  
  <h3 class="grey-color">Inputs</h3>






  <table class="attributes-table mdl-data-table">
<thead>
  <tr>
  

  
<th class=""> Name</th>
  
  

  
<th class=""> Description</th>
  
  

  
<th class=""> Default</th>
  
  
  </tr>
</thead>
<tbody>
  
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>newValue</p>
</p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The new value for the target.</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>oldValue</p>
</p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The old value for the target.</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>target</p>
</p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>Reference to the input.</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  




  <tr >


  
  









  <td class="" o-component-name >
<p class="first"><p>type</p>
</p>

  <p><i>0 | 1 </i></p>

  </td>
  

  
  









  <td class="" o-component-description >
<p class="first"><p>The value is 0 if the change is emitted by the user or 1 if change is emitted by programmaticñ</p>
</p>

  </td>
  

  
  









  <td class="" o-component-default >
<p class="first">
</p>

  </td>
  

</tr>
  
  </tbody>
  </table>

  

  


  

  


  



  
    
  

</div>


  

</div>
        
      </section>

      <footer class="page__meta">
        
        




        
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Updated:</strong> <time datetime="2020-11-10T06:31:42-05:00">November 10, 2020</time></p>
        
      </footer>

      

      


  <nav class="pagination">
    
      <a href="#" class="pagination--pager disabled">
          <i class="fas fa-arrow-left margin-right"></i>
        Previous
      </a>
    
    
      <a href="https://ontimizeweb.github.io/docs/v3/components/input/overviewservice/" class="pagination--pager" title="Form service components
">
        Next
        <i class="fas fa-arrow-right margin-left"></i>
      </a>
    
  </nav>

    </div>

    
  </article>

  
  
</div>

    <div class="page__footer">
      <footer>
        <!-- start custom footer snippets -->

<a href="#" class="scrollToTop"><i class="fa fa-fw fa-chevron-circle-up" aria-hidden="true"></i></a>

<!-- end custom footer snippets -->
        

<div class="page__footer-follow">
  <ul class="social-icons">
    
      <li><strong>Follow:</strong></li>
    
    
      <li><a href="https://twitter.com/imatiainnova" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    
    
      <li><a href="https://www.linkedin.com/company/224080?trk=prof-0-ovw-curr_pos" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    
    
      <li><a href="http://github.com/OntimizeWeb" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    
    
    <li><a href="https://ontimizeweb.github.io/docs/v3/feed.xml" target="_blank"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Feed</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; 2020 Imatia Innovation, S.L.. Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
      </footer>
    </div>

    <script src="https://ontimizeweb.github.io/docs/v3/assets/js/main.min.js"></script>





  </body>
</html>
