

<!doctype html>
<html lang="en" class="no-js">
  <head>
    

<meta charset="utf-8">



<!-- begin SEO -->









<title>Date range input - Ontimize Web</title>







<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Ontimize Web">
<meta property="og:title" content="Date range input">


  <link rel="canonical" href="https://ontimizeweb.github.io/docs/components/input/daterange/">
  <meta property="og:url" content="https://ontimizeweb.github.io/docs/components/input/daterange/">



  <meta property="og:description" content="     On This Page  ">



  <meta name="twitter:site" content="@imatiainnova">
  <meta name="twitter:title" content="Date range input">
  <meta name="twitter:description" content="     On This Page  ">
  <meta name="twitter:url" content="https://ontimizeweb.github.io/components/input/daterange/">

  
    <meta name="twitter:card" content="summary">
    
      <meta name="twitter:image" content="https://ontimizeweb.github.io/docs/images/site-logo.png">
    
  

  



  

  



  <meta property="og:image" content="https://ontimizeweb.github.io/docs/images/site-logo.png">



  <meta property="og:type" content="article">
  <meta property="article:published_time" content="2020-06-15T03:45:57-04:00">






  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://ontimizeweb.github.io/docs",
      "logo": "https://ontimizeweb.github.io/docs/images/site-logo.png"
    }
  </script>



  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Person",
      "name" : "Ontimize Web",
      "url" : "https://ontimizeweb.github.io/docs",
      "sameAs" : ["https://twitter.com/imatiainnova"]
    }
  </script>






<!-- end SEO -->


<link href="https://ontimizeweb.github.io/docs/feed.xml" type="application/atom+xml" rel="alternate" title="Ontimize Web Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src="https://ontimizeweb.github.io/docs/assets/js/fontawesome-all.min.js"></script>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="https://ontimizeweb.github.io/docs/assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<meta http-equiv="cleartype" content="on">
    

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="https://ontimizeweb.github.io/docs/images/apple-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="https://ontimizeweb.github.io/docs/images/apple-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="https://ontimizeweb.github.io/docs/images/apple-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="https://ontimizeweb.github.io/docs/images/apple-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="https://ontimizeweb.github.io/docs/images/apple-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="https://ontimizeweb.github.io/docs/images/apple-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="https://ontimizeweb.github.io/docs/images/apple-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="https://ontimizeweb.github.io/docs/images/apple-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="https://ontimizeweb.github.io/docs/images/apple-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/android-icon-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="manifest" href="https://ontimizeweb.github.io/docs/images/manifest.json?v=M44lzPylqQ">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="https://ontimizeweb.github.io/docs/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="https://ontimizeweb.github.io/docs/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
  </head>

  <body class="layout--o-component">

    <!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
<![endif]-->
    

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
          <a href="https://ontimizeweb.github.io/docs/">
            <div class="main_icon"></div>
        </a>
        <span class="fill_remaing_space"></span>
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!--<li class="masthead__menu-item masthead__menu-item--lg"><a href="https://ontimizeweb.github.io/docs/">Ontimize Web</a></li>-->
          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/doc-overview/">Getting started</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item masthead__menu-item-active"><a href="https://ontimizeweb.github.io/docs/components/">Components</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/about/">About</a>
            
            </li>


            
            

          

          
          <li class="masthead__menu-item masthead__menu-item-active">
            <select onchange="window.location = this.options[this.selectedIndex].value">
            
              <option value="https://ontimizeweb.github.io/docs/v3" >3.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs"  selected="selected" >4.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs/v8" >8.x.x</option>
            
            </select>
          </li>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

    





<div id="main" role="main">
  


  <div class="sidebar sticky">
  
  
    
      
      
      
    
    
      


 <script type="text/javascript" style="display:none;">
  var onNavigationItemClick = function (element) {

    var parentNav = $(element).parents('nav.nav__list');
    var icons = parentNav.find('svg');
    icons.addClass('fa-folder');
    icons.addClass('orange-icon');
    icons.removeClass('fa-folder-open');

    var parentLi = $(element).parents('li.nav-component-category:first');
    parentLi.siblings().removeClass('active-component-category');
    parentLi.addClass('active-component-category');
/*
    parentLi.siblings(':not(.active-parent)').removeClass('active-component-category');
    parentLi.toggleClass('active-component-category');
*/    
    var currentIcon = parentLi.find('svg:first');
    currentIcon.addClass('fa-folder-open');
    currentIcon.removeClass('orange-icon');
    currentIcon.removeClass('fa-folder');

  };
</script>

<nav class="nav__list">
  
  <ul>
    
    
    
      
          
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
                      
                      
                 
      
                 
      
                 
      
                 
      
                 
      
                 
      
    
 
    

    

    
    

      
       
      <li class="nav-component-category active-component-category active-parent">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder-open nav__sub-title-icon"></i>Input</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/overview/" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/checkbox/" class=" ">Checkbox</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/combo/" class=" ">Combo</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/currency/" class=" ">Currency</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/date/" class=" ">Date</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/daterange/" class="active ">Date range <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/email/" class=" ">Email</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/file/" class=" ">File</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/html/" class=" ">HTML</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/hour/" class=" ">Hour</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/integer/" class=" ">Integer</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/listpicker/" class=" ">List picker</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/nif/" class=" ">NIF</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/password/" class=" ">Password</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/percent/" class=" ">Percentage</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/radio/" class=" ">Radio</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/real/" class=" ">Real</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/slidetoggle/" class=" ">Slide toggle</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/slider/" class=" ">Slider</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/text/" class=" ">Text</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/textarea/" class=" ">Textarea</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/time/" class=" ">Time</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Button</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/button/" class=" ">Button</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/buttontoggle/" class=" ">Button toggle</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Data</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/datatable/" class=" ">DataTable <small>(deprecated)</small></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/filterbuilder/" class=" ">Filter builder</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/form/" class=" ">Form</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/grid/" class=" ">Grid <span class='menuitem-badge'>new<span></a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/list/" class=" ">List</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/table/" class=" ">Table</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Media</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/image/" class=" ">Image</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Layout</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/applayout/" class=" ">App layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/breadcrumb/" class=" ">Breadcrumb</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/containers/" class=" ">Containers</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/contextmenu/" class=" ">Context menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/dialog/" class=" ">Dialog</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/formlayoutmanager/" class=" ">Form layout mngr.</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/snackbar/" class=" ">SnackBar</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Menu</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/menu/" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/barmenu/" class=" ">Bar menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/cardmenulayout/" class=" ">Card menu layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/sidemenu/" class=" ">Side menu <small>(deprecated)</small></a></li>
          
        </ul>
        
      </li>
    
  </ul>
</nav>
    
  
  </div>


  <article class="page  o-component " itemscope itemtype="http://schema.org/CreativeWork">
    
    <meta itemprop="headline" content="Date range input">
    
    <meta itemprop="description" content="     On This Page  ">
    
    <meta itemprop="datePublished" content="June 15, 2020">
    

    <div class="page__inner-wrap">
      
      <header>
        <h1 class="page__title" itemprop="headline">Date range input
</h1>
        
      </header>
      

      <section class="page__content" itemprop="text">
        <div class="o-component-container">

  

  
    







 
 
 

<script type="text/javascript">
  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("o-tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("o-tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
 
 <p> This component is available since version <i>4.0.6</i>.</p>
 
<!-- Tab links -->
<div class="o-tab">
  <button class="o-tablinks active" onclick="openTab(event, 'overview')">Overview</button>
  <button class="o-tablinks" onclick="openTab(event, 'api')">API</button>
</div>

<!-- OVERVIEW -->
<div id="overview" class="o-tabcontent" style="display:block;">
 <!-- <aside class="sidebar__right">
<nav class="toc" markdown="1">
<header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
*  Auto generated table of contents
{:toc .toc__menu}
</nav>
</aside> -->

  

  
  

  
<aside class="sidebar__right">
<nav class="toc">
    <header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
<ul class="toc__menu" id="markdown-toc">
  <li><a href="#basic-example" id="markdown-toc-basic-example">Basic example</a></li>
  <li><a href="#disable-the-text-input" id="markdown-toc-disable-the-text-input">Disable the text input</a></li>
  <li><a href="#touch-ui-mode" id="markdown-toc-touch-ui-mode">Touch UI mode</a></li>
  <li><a href="#customizing-the-parse-and-display-formats" id="markdown-toc-customizing-the-parse-and-display-formats">Customizing the parse and display formats</a></li>
  <li><a href="#startkey-and-endkey" id="markdown-toc-startkey-and-endkey">StartKey and endKey</a></li>
  <li><a href="#ranges-predefined" id="markdown-toc-ranges-predefined">Ranges predefined</a></li>
  <li><a href="#validation" id="markdown-toc-validation">Validation</a></li>
</ul>

  </nav>
</aside>

<p>The <code class="language-plaintext highlighter-rouge">o-daterange-input</code> component is used in <a href="https://ontimizeweb.github.io/docs/components/form/">forms</a> for getting or displaying start and end date values as a range from a calendar pop-up or by entering the value directly in an HTML input text box.
.</p>

<p>The date range input is automatically registered on its parent <code class="language-plaintext highlighter-rouge">o-form</code>, which provides the value for the input programatically. Its value can be also set manually via the <code class="language-plaintext highlighter-rouge">data</code> parameter. This and other attributes are explained on the <strong>API</strong> section of this page.</p>

<h2 id="basic-example">Basic example</h2>
<p><img src="https://ontimizeweb.github.io/docs/images/components/inputs/o-daterange-input.png" alt="Daterange input component" class="comp-example-img" width="65%" /></p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-form</span> <span class="na">editable-detail=</span><span class="s">"no"</span> <span class="na">show-header=</span><span class="s">"no"</span> <span class="na">layout-direction=</span><span class="s">"row"</span><span class="nt">&gt;</span>
   <span class="nt">&lt;o-daterange-input</span> <span class="na">attr=</span><span class="s">"daterange1"</span> <span class="na">label=</span><span class="s">"Date range"</span> <span class="na">[data]=</span><span class="s">"getValue()"</span><span class="nt">&gt;</span> <span class="nt">&lt;/o-daterange-input&gt;</span>
   <span class="nt">&lt;o-daterange-input</span> <span class="na">attr=</span><span class="s">"daterange2"</span> <span class="na">label=</span><span class="s">"Date range"</span> <span class="na">read-only=</span><span class="s">"no"</span>  <span class="na">required=</span><span class="s">"yes"</span> <span class="na">[data]=</span><span class="s">"getValue()"</span><span class="nt">&gt;&lt;/o-daterange-input&gt;</span>  
   <span class="nt">&lt;o-daterange-input</span> <span class="na">attr=</span><span class="s">"daterange3"</span> <span class="na">label=</span><span class="s">"Date range"</span> <span class="na">enabled=</span><span class="s">"no"</span> <span class="na">[data]=</span><span class="s">"getValue()"</span><span class="nt">&gt;&lt;/o-daterange-input&gt;</span>
<span class="nt">&lt;/o-form&gt;</span>
</code></pre></div></div>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>export class InputDateRangeComponent {

  public selected = {};

  constructor() {

    this.selected = {
      startDate: moment('2019-05-15T00:00Z'),
      endDate: moment('2019-05-20T00:00Z')
    };
  }

  getValue(){
    return this.selected;
  }
}

</code></pre></div></div>

<h2 id="disable-the-text-input">Disable the text input</h2>

<p>It is possible to disable the date range input by adding the <code class="language-plaintext highlighter-rouge">text-input-enabled</code> property  is set to “no”. By default, the value is true .</p>

<h2 id="touch-ui-mode">Touch UI mode</h2>

<p>The <code class="language-plaintext highlighter-rouge">o-daterange-input</code> normally opens as a popup under the input, however the component has a <code class="language-plaintext highlighter-rouge">touch-ui</code> property that can be set to <code class="language-plaintext highlighter-rouge">true</code> where the calendar opens in a large dialog.</p>

<h2 id="customizing-the-parse-and-display-formats">Customizing the parse and display formats</h2>

<p>The <code class="language-plaintext highlighter-rouge">o-daterange-input</code> supports date Moments formats setting, all you have to do is to set the format via <code class="language-plaintext highlighter-rouge">format</code> input. The format MomentJS by default is <em>L</em> (see <em>Localized formats</em> in <a href="http://momentjs.com/docs/#/displaying/format" target="_blank">MomentJS format</a>)</p>

<p><img src="https://ontimizeweb.github.io/docs/images/components/inputs/o-daterange-format.png" alt="Format int daterang input component" class="comp-example-img" /></p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;div</span> <span class="na">fxLayout=</span><span class="s">"column"</span> <span class="na">layout-padding</span><span class="nt">&gt;</span>
  <span class="nt">&lt;o-daterange-input</span> <span class="na">attr=</span><span class="s">"daterange"</span> <span class="na">label=</span><span class="s">"Date range"</span> <span class="na">read-only=</span><span class="s">"no"</span>
    <span class="na">required=</span><span class="s">"yes"</span> <span class="na">[data]=</span><span class="s">"getValue()"</span> <span class="na">format=</span><span class="s">"LL"</span> <span class="na">separator=</span><span class="s">" to "</span> <span class="na">text-input-enabled=</span><span class="s">"no"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;/o-daterange-input&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div></div>
<div class="language-ts highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">export</span> <span class="kd">class</span> <span class="nx">InputDateRangeComponent</span> <span class="p">{</span>

  <span class="kr">public</span> <span class="nx">selected</span> <span class="o">=</span> <span class="p">{};</span>

  <span class="kd">constructor</span><span class="p">()</span> <span class="p">{</span>

    <span class="k">this</span><span class="p">.</span><span class="nx">selected</span> <span class="o">=</span> <span class="p">{</span>
      <span class="na">startDate</span><span class="p">:</span> <span class="nx">moment</span><span class="p">(</span><span class="dl">'</span><span class="s1">2019-05-15T00:00Z</span><span class="dl">'</span><span class="p">),</span>
      <span class="na">endDate</span><span class="p">:</span> <span class="nx">moment</span><span class="p">(</span><span class="dl">'</span><span class="s1">2019-05-20T00:00Z</span><span class="dl">'</span><span class="p">)</span>
    <span class="p">};</span>
  <span class="p">}</span>

  <span class="nx">getValue</span><span class="p">(){</span>
    <span class="k">return</span> <span class="k">this</span><span class="p">.</span><span class="nx">selected</span><span class="p">;</span>
  <span class="p">}</span>
<span class="p">}</span>
</code></pre></div></div>

<h2 id="startkey-and-endkey">StartKey and endKey</h2>

<p>Theses 2 options are for the key you want for the value, default are <em>startDate</em> and <em>endDate</em>, it means the value we have from ngModel are: <em>{startDate: Date, endDate: Date}</em> by default;</p>

<p>Specifying startKey and endKey would have different model.  For example, the model in the example below would be <em>{start:Date, endDate:Date}</em>.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-daterange-input</span> <span class="na">attr=</span><span class="s">"daterange"</span> <span class="na">label=</span><span class="s">"Date range"</span> <span class="na">read-only=</span><span class="s">"no"</span> <span class="na">startKey=</span><span class="s">"start"</span> <span class="na">endKey=</span><span class="s">"end"</span>
  <span class="na">required=</span><span class="s">"yes"</span> <span class="na">[data]=</span><span class="s">"getValue()"</span> <span class="na">format=</span><span class="s">"LL"</span> <span class="na">separator=</span><span class="s">" to "</span>  <span class="na">text-input-enabled=</span><span class="s">"no"</span><span class="nt">&gt;</span>
<span class="nt">&lt;/o-daterange-input&gt;</span> 

</code></pre></div></div>

<h2 id="ranges-predefined">Ranges predefined</h2>

<p>The <code class="language-plaintext highlighter-rouge">o-daterange-input</code> have available 7 predefined date ranges that you can select from. For displaying you must set <code class="language-plaintext highlighter-rouge">show-ranges="true"</code>.</p>
<ul>
  <li>Today</li>
  <li>Yesterday</li>
  <li>Last 7 days</li>
  <li>Last 30 days</li>
  <li>This month</li>
</ul>

<p><img src="https://ontimizeweb.github.io/docs/images/components/inputs/o-daterange-touchui.png" alt="Touch UI in date range" class="comp-example-img" /></p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-daterange-input</span> <span class="na">attr=</span><span class="s">"daterange"</span> <span class="na">label=</span><span class="s">"Date range"</span> <span class="na">read-only=</span><span class="s">"no"</span>  <span class="na">required=</span><span class="s">"yes"</span> 
<span class="na">[data]=</span><span class="s">"getValue()"</span> <span class="na">show-ranges=</span><span class="s">"true"</span> <span class="na">separator=</span><span class="s">" to "</span> <span class="na">touch-ui=</span><span class="s">"yes"</span><span class="nt">&gt;&lt;/o-daterange-input&gt;</span>

</code></pre></div></div>

<h2 id="validation">Validation</h2>
<p>The <code class="language-plaintext highlighter-rouge">o-daterange-input</code> shows automatically an error message when the <code class="language-plaintext highlighter-rouge">required</code> attribute is set to “yes” and there is no value on the input.</p>

<p>The <code class="language-plaintext highlighter-rouge">min</code> and <code class="language-plaintext highlighter-rouge">max</code> properties will disable all dates on the calendar popup before or after the respective values and prevent the user from advancing the calendar past the month or year (depending on current view) containing the min or max date.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-daterange-input</span> <span class="na">attr=</span><span class="s">"daterange"</span> <span class="na">label=</span><span class="s">"Date range"</span> <span class="na">read-only=</span><span class="s">"no"</span>
        <span class="na">required=</span><span class="s">"yes"</span> <span class="na">[data]=</span><span class="s">"getValue()"</span> <span class="na">min=</span><span class="s">"15/05/2019"</span> <span class="na">max=</span><span class="s">"20/06/2019"</span>
        <span class="na">format=</span><span class="s">"DD/MM/YYYY"</span><span class="nt">&gt;</span>
<span class="nt">&lt;/o-daterange-input&gt;</span>
</code></pre></div></div>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>export class InputDateRangeComponent {

  public selected = {};

  constructor() {

    this.selected = {
      startDate: moment('2019-05-15T00:00Z'),
      endDate: moment('2019-05-20T00:00Z')
    };
  }

  getValue(){
    return this.selected;
  }
}
</code></pre></div></div>

<p><img src="https://ontimizeweb.github.io/docs/images/components/inputs/o-daterange-input-validation-minmax.png" alt="Validation min and max in date range" class="comp-example-img" /></p>

<p>You can see this and more examples of this component in the <a href="https://try.imatia.com/ontimizeweb/playground/main/inputs/daterange" target="_blank">OntimizeWeb playground</a>.</p>

</div>

<!-- API -->
<div id="api" class="o-tabcontent">

  



  
    <p><strong class="grey-color">Directive:</strong> o-daterange-input</p>
  
  


  


  
    <h3 class="grey-color">Inherited inputs</h3>
    <ul>
    
      
      <li>
        from  <a href="https://ontimizeweb.github.io/docs/components/input/overview/" rel="permalink">FormDataComponent:</a>
        <ul class="attributes-list">
          
          
            <li> attr </li>
          
            <li> automatic-binding </li>
          
            <li> automatic-registering </li>
          
            <li> clear-button </li>
          
            <li> data </li>
          
            <li> enabled </li>
          
            <li> hide-required-marker </li>
          
            <li> label </li>
          
            <li> label-visible </li>
          
            <li> read-only </li>
          
            <li> required </li>
          
            <li> sql-type </li>
          
            <li> tooltip </li>
          
            <li> tooltip-position </li>
          
            <li> tooltip-show-delay </li>
          
            <li> validators </li>
          
            <li> width </li>
          
        </ul>
        
      </li>
    </ul>
  


  
  <h3 class="grey-color">Inputs</h3>
    
    

    
    

  <table class="attributes-table mdl-data-table">
    <thead>
      <tr>
      
        
          
            <th class=""> Name</th>
          
      
        
          
            <th class=""> Description</th>
          
      
        
          
            <th class=""> Default</th>
          
      
      </tr>
    </thead>
    <tbody>
      
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>endKey</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first">
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>endDate</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>format</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Date format. See <a href="http://momentjs.com/docs/#/displaying/format" target="_blank">MomentJS format</a></p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>MomentJS localized format <em>L</em> (see <em>Localized formats</em> in <a href="http://momentjs.com/docs/#/displaying/format" target="_blank">MomentJS format</a>)</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>locale</p>
</p>
    
      <p><i>string. Values like <em>es</em>, <em>en</em>, <em>...</em></i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Configured language locale</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>Application configured locale</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>max</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Maximum selectable date</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>min</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Minimum selectable date</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>startKey</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first">
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>startDate</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>text-input-enabled</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not to allow the user to edit the input manually</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>yes</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>touch-ui</p>
</p>
    
      <p><i>no | false | yes | true</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates wheter to use the datepicker ‘touch-ui’ mode</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>no</p>
</p>
    
  </td>
          
        
</tr>
      
      </tbody>
  </table>

  

  


  
    <h3 class="grey-color">Inherited outputs</h3>
    <ul>
      
      
      <li>
        from  <a href="https://ontimizeweb.github.io/docs/components/input/overview/" rel="permalink">FormDataComponent:</a>
        <ul class="attributes-list">
          
          
            <li> onChange </li>
          
            <li> onValueChange </li>
          
        </ul>
        
      <li>
        from  <a href="https://ontimizeweb.github.io/docs/components/input/text/" rel="permalink">o-text-input:</a>
        <ul class="attributes-list">
          
          
            <li> onBlur </li>
          
            <li> onFocus </li>
          
        </ul>
        
      </li>
    </ul>
  

  


  




  

</div>


  

</div>
        
      </section>

      <footer class="page__meta">
        
        




        
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Updated:</strong> <time datetime="2020-06-15T03:45:57-04:00">June 15, 2020</time></p>
        
      </footer>

      

      


  <nav class="pagination">
    
      <a href="https://ontimizeweb.github.io/docs/components/input/date/" class="pagination--pager" title="Date input
">
          <i class="fas fa-arrow-left margin-right"></i>
        Previous
      </a>
    
    
      <a href="https://ontimizeweb.github.io/docs/components/input/email/" class="pagination--pager" title="Email input
">
        Next
        <i class="fas fa-arrow-right margin-left"></i>
      </a>
    
  </nav>

    </div>

    
  </article>

  
  
</div>

    <div class="page__footer">
      <footer>
        <!-- start custom footer snippets -->

<a href="#" class="scrollToTop"><i class="fa fa-fw fa-chevron-circle-up" aria-hidden="true"></i></a>

<!-- end custom footer snippets -->
        

<div class="page__footer-follow">
  <ul class="social-icons">
    
      <li><strong>Follow:</strong></li>
    
    
      <li><a href="https://twitter.com/imatiainnova" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    
    
      <li><a href="https://www.linkedin.com/company/224080?trk=prof-0-ovw-curr_pos" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    
    
      <li><a href="http://github.com/OntimizeWeb" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    
    
    <li><a href="https://ontimizeweb.github.io/docs/feed.xml" target="_blank"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Feed</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; 2020 Imatia Innovation, S.L.. Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
      </footer>
    </div>

    <script src="https://ontimizeweb.github.io/docs/assets/js/main.min.js"></script>





  </body>
</html>
