{% assign files = include.folder | sort %}

{% for file in files%}
  {% assign filename =  file[0] %}
  {% assign componentAPI = include.folder[filename];%}  

  {% if componentAPI.type %}
  <h2 id="{{ componentAPI.type }}"> 
    <span>{{ componentAPI.type }} </span>
    {% if componentAPI.extends %}
      extends {{ componentAPI.extends }} 
    {% endif %}
  </h2>
  {% if componentAPI.type %}
    <p><strong class="grey-color">Type:</strong> {{ componentAPI.type }}</p>
  {% endif %}


  {{ componentAPI.type }} {
    {% if componentAPI.attributes %}
    <ul class="attributes-list">  
      {% assign sortedAttributes = (componentAPI.attributes | sort: 'name') %}
      {% for sortedAttr in sortedAttributes %}
        <li> {{ sortedAttr.name }}{% if sortedAttr.optional %}?{% endif %}: {{ sortedAttr.type }} </li>
      {% endfor %}
    </ul>
    {% endif %}
  }
  {% endif %}
{% endfor %}
  