

<!doctype html>
<html lang="en" class="no-js">
  <head>
    

<meta charset="utf-8">



<!-- begin SEO -->









<title>Filter builder - Ontimize Web</title>







<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Ontimize Web">
<meta property="og:title" content="Filter builder">


  <link rel="canonical" href="https://ontimizeweb.github.io/docs/components/filterbuilder/overview">
  <meta property="og:url" content="https://ontimizeweb.github.io/docs/components/filterbuilder/overview">



  <meta property="og:description" content="     On This Page  ">



  <meta name="twitter:site" content="@imatiainnova">
  <meta name="twitter:title" content="Filter builder">
  <meta name="twitter:description" content="     On This Page  ">
  <meta name="twitter:url" content="https://ontimizeweb.github.io/components/filterbuilder/overview">

  
    <meta name="twitter:card" content="summary">
    
      <meta name="twitter:image" content="https://ontimizeweb.github.io/docs/images/site-logo.png">
    
  

  



  

  



  <meta property="og:image" content="https://ontimizeweb.github.io/docs/images/site-logo.png">



  <meta property="og:type" content="article">
  <meta property="article:published_time" content="2021-03-09T03:42:24-05:00">






  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://ontimizeweb.github.io/docs",
      "logo": "https://ontimizeweb.github.io/docs/images/site-logo.png"
    }
  </script>



  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Person",
      "name" : "Ontimize Web",
      "url" : "https://ontimizeweb.github.io/docs",
      "sameAs" : ["https://twitter.com/imatiainnova"]
    }
  </script>






<!-- end SEO -->


<link href="https://ontimizeweb.github.io/docs/feed.xml" type="application/atom+xml" rel="alternate" title="Ontimize Web Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script defer src="https://ontimizeweb.github.io/docs/assets/js/fontawesome-all.min.js"></script>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="https://ontimizeweb.github.io/docs/assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<meta http-equiv="cleartype" content="on">
    

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="https://ontimizeweb.github.io/docs/images/apple-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="https://ontimizeweb.github.io/docs/images/apple-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="https://ontimizeweb.github.io/docs/images/apple-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="https://ontimizeweb.github.io/docs/images/apple-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="https://ontimizeweb.github.io/docs/images/apple-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="https://ontimizeweb.github.io/docs/images/apple-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="https://ontimizeweb.github.io/docs/images/apple-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="https://ontimizeweb.github.io/docs/images/apple-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="https://ontimizeweb.github.io/docs/images/apple-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="icon" type="image/png" href="https://ontimizeweb.github.io/docs/images/android-icon-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="manifest" href="https://ontimizeweb.github.io/docs/images/manifest.json?v=M44lzPylqQ">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="https://ontimizeweb.github.io/docs/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="https://ontimizeweb.github.io/docs/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
  </head>

  <body class="layout--o-component">

    <!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
<![endif]-->
    

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
          <a href="https://ontimizeweb.github.io/docs/">
            <div class="main_icon"></div>
        </a>

        <script src="https://ontimizeweb.github.io/docs/assets/js/lunr.js"></script>
<script type="text/javascript" src="/docs/assets/js/ontimize.js"></script>

<div class="search">
  <div class="search-input-wrap">
    <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="Search Ontimize Web" aria-label="Search Ontimize Web"
      autocomplete="off">
    <label for="search-input" class="search-label">
      <i class="fa fa-fw fa-search search-icon" aria-hidden="true"></i>
    </label>
  </div>
  <div id="search-results" class="search-results"></div>
</div>



<div class="search-overlay"></div>



        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!--<li class="masthead__menu-item masthead__menu-item--lg"><a href="https://ontimizeweb.github.io/docs/">Ontimize Web</a></li>-->
          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/doc-overview/">Getting started</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item masthead__menu-item-active"><a href="https://ontimizeweb.github.io/docs/components/">Components</a>
            
            </li>


            
              <div class="masthead__menu-separator"></div>
            

          
            



            
              <li class="masthead__menu-item"><a href="https://ontimizeweb.github.io/docs/about/">About</a>
            
            </li>


            
            

          

          
          <li class="masthead__menu-item masthead__menu-item-active">
            <select onchange="window.location = this.options[this.selectedIndex].value">
            
              <option value="https://ontimizeweb.github.io/docs/v3" >3.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs/v4" >4.x.x</option>
            
              <option value="https://ontimizeweb.github.io/docs"  selected="selected" >8.x.x</option>
            
            </select>
          </li>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

    





<div id="main" role="main">
  


  <div class="sidebar sticky">
  
  
    
      
      
      
    
    
      


 <script type="text/javascript" style="display:none;">
  var onNavigationItemClick = function (element) {

    var parentNav = $(element).parents('nav.nav__list');
    var icons = parentNav.find('svg');
    icons.addClass('fa-folder');
    icons.addClass('orange-icon');
    icons.removeClass('fa-folder-open');

    var parentLi = $(element).parents('li.nav-component-category:first');
    parentLi.siblings().removeClass('active-component-category');
    parentLi.addClass('active-component-category');
/*
    parentLi.siblings(':not(.active-parent)').removeClass('active-component-category');
    parentLi.toggleClass('active-component-category');
*/    
    var currentIcon = parentLi.find('svg:first');
    currentIcon.addClass('fa-folder-open');
    currentIcon.removeClass('orange-icon');
    currentIcon.removeClass('fa-folder');

  };
</script>

<nav class="nav__list">
  
  <ul>
    
    
    
      
          
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
              
                  
                      
                            
                      
                  
              
                  
              
                  
              
                  
              
                 
      
          
              
                  
              
                  
              
                 
      
          
              
                  
                      
                            
                      
                            
                      
                  
              
                  
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                            
                      
                  
              
                  
                      
                      
                 
      
                 
      
                 
      
                 
      
    
 
    

    

    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Input</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/overview/overview" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/checkbox/overview" class=" ">Checkbox</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/combo/overview" class=" ">Combo</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/currency/overview" class=" ">Currency</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/date/overview" class=" ">Date</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/daterange/overview" class=" ">Date range</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/email/overview" class=" ">Email</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/file/overview" class=" ">File</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/html/overview" class=" ">HTML</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/hour/overview" class=" ">Hour</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/integer/overview" class=" ">Integer</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/listpicker/overview" class=" ">List picker</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/nif/overview" class=" ">NIF</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/password/overview" class=" ">Password</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/percent/overview" class=" ">Percentage</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/radio/overview" class=" ">Radio</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/real/overview" class=" ">Real</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/slidetoggle/overview" class=" ">Slide toggle</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/slider/overview" class=" ">Slider</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/text/overview" class=" ">Text</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/textarea/overview" class=" ">Textarea</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/input/time/overview" class=" ">Time</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Button</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/button/overview" class=" ">Button</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/buttontoggle/overview" class=" ">Button toggle</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category active-component-category active-parent">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder-open nav__sub-title-icon"></i>Data</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/filterbuilder/overview" class="active ">Filter builder</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/form/overview" class=" ">Form</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/grid/overview" class=" ">Grid</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/list/overview" class=" ">List</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/table/overview" class=" ">Table</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Media</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/image/overview" class=" ">Image</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Layout</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/applayout/overview" class=" ">App layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/breadcrumb/overview" class=" ">Breadcrumb</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/containers/overview" class=" ">Containers</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/contextmenu/overview" class=" ">Context menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/dialog/overview" class=" ">Dialog</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/formlayoutmanager/overview" class=" ">Form layout mngr.</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/snackbar/overview" class=" ">SnackBar</a></li>
          
        </ul>
        
      </li>
    
    

      
       
      <li class="nav-component-category ">
        
          
            <span class="nav__sub-title"  onclick="onNavigationItemClick(this)"><i class="far fa-folder orange-icon nav__sub-title-icon"></i>Menu</span>
          

        

        
        <ul class="category-components-list">
          

          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/menu/overview" class=" overview">Overview</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/barmenu/overview" class=" ">Bar menu</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/cardmenulayout/overview" class=" ">Card menu layout</a></li>
          
            
            

            
            

            <li><a href="https://ontimizeweb.github.io/docs/components/sidemenu/overview" class=" ">Side menu <small>(deprecated)</small></a></li>
          
        </ul>
        
      </li>
    
  </ul>
</nav>
    
  
  </div>


  <article class="page  o-component " itemscope itemtype="http://schema.org/CreativeWork">
    
    <meta itemprop="headline" content="Filter builder">
    
    <meta itemprop="description" content="     On This Page  ">
    
    <meta itemprop="datePublished" content="March 09, 2021">
    

    <div class="page__inner-wrap">
      
      <header>
        <h1 class="page__title" itemprop="headline">Filter builder
</h1>
        
      </header>
      

      <section class="page__content" itemprop="text">
        <div class="o-component-container">

  

  
    











<script type="text/javascript">

  function openTab(evt, tabName) {
    var url="https://ontimizeweb.github.io/docs/components/filterbuilder/overview";
    url+='/../'+tabName;
    var loc_array = document.location.href.split('/');
    if (loc_array[loc_array.length - 1] !== tabName) {
      window.location.href=url;
    }

  }
</script>
 




<!-- Tab links -->
<div class="o-tab">
  <button class="o-tablinks active"  onclick="openTab(event, 'overview')">Overview</button>
  <button class="o-tablinks " class="o-tablinks" onclick="openTab(event, 'api')">API</button>
</div>

<!-- OVERVIEW -->
<div id="overview" class="o-tabcontent" style="display:block">
 <!-- <aside class="sidebar__right">
<nav class="toc" markdown="1">
<header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
*  Auto generated table of contents
{:toc .toc__menu}
</nav>
</aside> -->

  


  

  
<aside class="sidebar__right">
<nav class="toc">
    <header><h4 class="nav__title"><i class="far fa-file-alt"></i> On This Page</h4></header>
<ul class="toc__menu" id="markdown-toc">
  <li><a href="#query-directive" id="markdown-toc-query-directive">Query directive</a></li>
  <li><a href="#clear-directive" id="markdown-toc-clear-directive">Clear directive</a></li>
  <li><a href="#building-the-filter" id="markdown-toc-building-the-filter">Building the filter</a></li>
  <li><a href="#complete-example" id="markdown-toc-complete-example">Complete example</a></li>
  <li><a href="#demo" id="markdown-toc-demo">Demo</a></li>
</ul>

  </nav>
</aside>

<p>The <code class="language-plaintext highlighter-rouge">o-filter-builder</code> component is used for easily building complex structures for filtering the data of a <a href="https://ontimizeweb.github.io/docs/components/table/overview">table</a>. It uses the values of the form components provided on its <code class="language-plaintext highlighter-rouge">filters</code> attribute and placed on its parent <a href="https://ontimizeweb.github.io/docs/components/form/overview">form</a>. All the attributes are explained on the <strong>API</strong> section of this page.</p>

<blockquote>
  <p><strong>NOTE:</strong> Do not add elements to your screen but is a component that allows to build <a href="https://ontimizeweb.github.io/docs/guide/filterexpression/">complex filtering expressions</a>.</p>
</blockquote>

<h2 id="query-directive">Query directive</h2>
<p>The <code class="language-plaintext highlighter-rouge">oFilterBuilderQuery</code> directive is used to trigger the <code class="language-plaintext highlighter-rouge">reloadData</code> method of the component indicated on the <code class="language-plaintext highlighter-rouge">target</code> attribute of the filter builder component. This directive must be attached to a clickable component and you must provide the <code class="language-plaintext highlighter-rouge">o-filter-builder</code> reference as parameter in order to indicate the directive which filter builder trigger the filter action.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-button</span> <span class="na">attr=</span><span class="s">"filter"</span> <span class="na">[oFilterBuilderQuery]=</span><span class="s">"filterBuilder"</span> <span class="na">type=</span><span class="s">"RAISED"</span> <span class="na">label=</span><span class="s">"Filter"</span><span class="nt">&gt;&lt;/o-button&gt;</span>
</code></pre></div></div>
<p>The use of this directive is optional, this behaviour can be achived in some other ways. Some of them are the following:</p>
<ul>
  <li>Calling the <code class="language-plaintext highlighter-rouge">triggerReload</code> method of the <code class="language-plaintext highlighter-rouge">o-filter-builder</code> component.</li>
  <li>Setting the <code class="language-plaintext highlighter-rouge">query-on-change</code> attribute of the <code class="language-plaintext highlighter-rouge">o-filter-builder</code> component to <strong>yes</strong> will make the fillter be applied each time the value of a form component included in the filter changes.</li>
</ul>

<h2 id="clear-directive">Clear directive</h2>
<p>The <code class="language-plaintext highlighter-rouge">oFilterBuilderClear</code> directive is used to clear the form components that participate on the filter. This directive must be attached to a clickable component. You must provide the reference of the <code class="language-plaintext highlighter-rouge">o-filter-builder</code>component as parameter, so the directive know which filter builder must notify to clear the form components.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-button</span> <span class="na">attr=</span><span class="s">"clear"</span> <span class="na">[oFilterBuilderClear]=</span><span class="s">"filterBuilder"</span> <span class="na">type=</span><span class="s">"RAISED"</span> <span class="na">label=</span><span class="s">"Clear"</span><span class="nt">&gt;&lt;/o-button&gt;</span>
</code></pre></div></div>

<h2 id="building-the-filter">Building the filter</h2>
<p>This <code class="language-plaintext highlighter-rouge">o-filter-builder</code> component builds automatically <a href="https://ontimizeweb.github.io/docs/guide/filterexpression/" target="_blank">complex filtering expressions</a> considering the values provided by the form components included in the <code class="language-plaintext highlighter-rouge">filters</code> attribute. For building this complex expression, the component ignores <strong>null</strong> and <strong>undefined</strong> values and join all the simple expressions with the <strong>OR</strong> operator by default.</p>

<p>For building custom complex filtering expressions, set the <code class="language-plaintext highlighter-rouge">expression-builder</code> attribute with a function that returns an <code class="language-plaintext highlighter-rouge">IExpression</code> object like in the example below.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-filter-builder</span> <span class="na">#filterBuilder</span> <span class="na">attr=</span><span class="s">"thefilter"</span> <span class="na">filters=</span><span class="s">"NAME:EMPLOYEENAME;SURNAME:EMPLOYEESURNAME;EMPLOYEETYPEID"</span> <span class="na">[target]=</span><span class="s">"tableEmployees"</span>
  <span class="na">[expression-builder]=</span><span class="s">"createFilter"</span><span class="nt">&gt;&lt;/o-filter-builder&gt;</span>
</code></pre></div></div>

<p>Read more abut how to build complex filtering expressions <a href="https://ontimizeweb.github.io/docs/guide/filterexpression/" target="_blank">here</a>.</p>

<h2 id="complete-example">Complete example</h2>
<p>In the following example there is a <code class="language-plaintext highlighter-rouge">o-form</code> component that contains two <code class="language-plaintext highlighter-rouge">o-text-input</code> and a <code class="language-plaintext highlighter-rouge">o-list-picker</code> used to filter the <code class="language-plaintext highlighter-rouge">o-table</code> at the bottom. For this, we use the <code class="language-plaintext highlighter-rouge">o-filter-builder</code> component and provide the form components attributes for getting the filter values.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;o-form</span> <span class="na">editable-detail=</span><span class="s">"no"</span> <span class="na">show-header=</span><span class="s">"no"</span><span class="nt">&gt;</span>

  <span class="nt">&lt;o-column</span> <span class="na">title=</span><span class="s">"{{ 'FILTERS' | oTranslate }}"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;o-row</span> <span class="na">layout-align=</span><span class="s">"space-between center"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;o-text-input</span> <span class="na">attr=</span><span class="s">"NAME"</span> <span class="na">read-only=</span><span class="s">"no"</span> <span class="na">fxFlex=</span><span class="s">"33"</span><span class="nt">&gt;&lt;/o-text-input&gt;</span>
      <span class="nt">&lt;o-text-input</span> <span class="na">attr=</span><span class="s">"SURNAME"</span> <span class="na">read-only=</span><span class="s">"no"</span> <span class="na">fxFlex=</span><span class="s">"66"</span><span class="nt">&gt;&lt;/o-text-input&gt;</span>
    <span class="nt">&lt;/o-row&gt;</span>

    <span class="nt">&lt;o-list-picker</span> <span class="na">attr=</span><span class="s">"EMPLOYEETYPEID"</span> <span class="na">read-only=</span><span class="s">"no"</span> <span class="na">service=</span><span class="s">"employees"</span> <span class="na">entity=</span><span class="s">"employeeType"</span> <span class="na">columns=</span><span class="s">"EMPLOYEETYPEID;EMPLOYEETYPENAME"</span>
      <span class="na">value-column=</span><span class="s">"EMPLOYEETYPEID"</span> <span class="na">keys=</span><span class="s">"EMPLOYEETYPEID"</span> <span class="na">visible-columns=</span><span class="s">"EMPLOYEETYPENAME"</span> <span class="na">width=</span><span class="s">"33%"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/o-list-picker&gt;</span>

    <span class="nt">&lt;o-row</span> <span class="na">layout-align=</span><span class="s">"end"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;o-button</span> <span class="na">attr=</span><span class="s">"filter"</span> <span class="na">[oFilterBuilderQuery]=</span><span class="s">"filterBuilder"</span> <span class="na">type=</span><span class="s">"RAISED"</span> <span class="na">label=</span><span class="s">"Filter"</span> <span class="na">class=</span><span class="s">"filter-button"</span><span class="nt">&gt;&lt;/o-button&gt;</span>
      <span class="nt">&lt;o-button</span> <span class="na">attr=</span><span class="s">"clear"</span> <span class="na">[oFilterBuilderClear]=</span><span class="s">"filterBuilder"</span> <span class="na">type=</span><span class="s">"RAISED"</span> <span class="na">label=</span><span class="s">"Clear"</span> <span class="na">class=</span><span class="s">"filter-button"</span><span class="nt">&gt;&lt;/o-button&gt;</span>
    <span class="nt">&lt;/o-row&gt;</span>
  <span class="nt">&lt;/o-column&gt;</span>

  <span class="nt">&lt;o-filter-builder</span> <span class="na">#filterBuilder</span> <span class="na">attr=</span><span class="s">"thefilter"</span> <span class="na">filters=</span><span class="s">"EMPLOYEENAME:NAME;EMPLOYEESURNAME:SURNAME;EMPLOYEETYPEID"</span> <span class="na">[target]=</span><span class="s">"tableEmployees"</span>
    <span class="na">query-on-change=</span><span class="s">"no"</span> <span class="na">query-on-change-delay=</span><span class="s">"500"</span> <span class="na">[expression-builder]=</span><span class="s">"createFilter"</span><span class="nt">&gt;&lt;/o-filter-builder&gt;</span>

  <span class="nt">&lt;o-column</span> <span class="na">title=</span><span class="s">"{{ 'EMPLOYEES' | oTranslate }}"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;o-table</span> <span class="na">#tableEmployees</span> <span class="na">attr=</span><span class="s">"employees"</span> <span class="na">service=</span><span class="s">"employees"</span> <span class="na">entity=</span><span class="s">"employee"</span> <span class="na">columns=</span><span class="s">"EMPLOYEEID;EMPLOYEETYPEID;EMPLOYEENAME;EMPLOYEESURNAME;EMPLOYEEADDRESS;EMPLOYEESTARTDATE;EMPLOYEEEMAIL;OFFICEID"</span>
      <span class="na">visible-columns=</span><span class="s">"EMPLOYEENAME;EMPLOYEESURNAME;EMPLOYEEADDRESS;EMPLOYEEEMAIL;EMPLOYEETYPEID;EMPLOYEESTARTDATE"</span> <span class="na">keys=</span><span class="s">"EMPLOYEEID"</span>
      <span class="na">sort-columns=</span><span class="s">"EMPLOYEESURNAME"</span> <span class="na">detail-mode=</span><span class="s">"none"</span> <span class="na">insert-button=</span><span class="s">"no"</span> <span class="na">pageable=</span><span class="s">"yes"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;o-table-column</span> <span class="na">attr=</span><span class="s">"EMPLOYEESTARTDATE"</span> <span class="na">title=</span><span class="s">"EMPLOYEESTARTDATE"</span> <span class="na">type=</span><span class="s">"date"</span> <span class="na">format=</span><span class="s">"LL"</span><span class="nt">&gt;&lt;/o-table-column&gt;</span>
      <span class="nt">&lt;o-table-column</span> <span class="na">attr=</span><span class="s">"EMPLOYEETYPEID"</span> <span class="na">title=</span><span class="s">"EMPLOYEETYPEID"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;o-table-cell-renderer-service</span> <span class="na">service=</span><span class="s">"employees"</span> <span class="na">entity=</span><span class="s">"employeeType"</span> <span class="na">columns=</span><span class="s">"EMPLOYEETYPEID;EMPLOYEETYPENAME"</span> <span class="na">value-column=</span><span class="s">"EMPLOYEETYPENAME"</span><span class="nt">&gt;&lt;/o-table-cell-renderer-service&gt;</span>
      <span class="nt">&lt;/o-table-column&gt;</span>
    <span class="nt">&lt;/o-table&gt;</span>
  <span class="nt">&lt;/o-column&gt;</span>
<span class="nt">&lt;/o-form&gt;</span>
</code></pre></div></div>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">import</span> <span class="p">{</span> <span class="nx">Component</span><span class="p">,</span> <span class="p">}</span> <span class="k">from</span> <span class="dl">'</span><span class="s1">@angular/core</span><span class="dl">'</span><span class="p">;</span>

<span class="k">import</span> <span class="p">{</span> <span class="nx">FilterExpressionUtils</span><span class="p">,</span> <span class="nx">IExpression</span> <span class="p">}</span> <span class="k">from</span> <span class="dl">'</span><span class="s1">ontimize-web-ngx</span><span class="dl">'</span><span class="p">;</span>

<span class="p">@</span><span class="nd">Component</span><span class="p">({</span>
  <span class="na">selector</span><span class="p">:</span> <span class="dl">'</span><span class="s1">employees-home</span><span class="dl">'</span><span class="p">,</span>
  <span class="na">templateUrl</span><span class="p">:</span> <span class="dl">'</span><span class="s1">./employees-home.component.html</span><span class="dl">'</span><span class="p">,</span>
  <span class="na">styleUrls</span><span class="p">:</span> <span class="p">[</span><span class="dl">'</span><span class="s1">./employees-home.component.scss</span><span class="dl">'</span><span class="p">]</span>
<span class="p">})</span>
<span class="k">export</span> <span class="kd">class</span> <span class="nx">EmployeesHomeComponent</span> <span class="p">{</span>

  <span class="nx">createFilter</span><span class="p">(</span><span class="nx">values</span><span class="p">:</span> <span class="nb">Array</span><span class="o">&lt;</span><span class="p">{</span> <span class="nx">attr</span><span class="p">,</span> <span class="nx">value</span> <span class="p">}</span><span class="o">&gt;</span><span class="p">):</span> <span class="nx">IExpression</span> <span class="p">{</span>
    <span class="c1">// Prepare simple expressions from the filter components values</span>
    <span class="kd">let</span> <span class="nx">filters</span><span class="p">:</span> <span class="nb">Array</span><span class="o">&lt;</span><span class="nx">IExpression</span><span class="o">&gt;</span> <span class="o">=</span> <span class="p">[];</span>
    <span class="nx">values</span><span class="p">.</span><span class="nx">forEach</span><span class="p">(</span><span class="nx">fil</span> <span class="o">=&gt;</span> <span class="p">{</span>
      <span class="k">if</span> <span class="p">(</span><span class="nx">fil</span><span class="p">.</span><span class="nx">value</span><span class="p">)</span> <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nx">fil</span><span class="p">.</span><span class="nx">attr</span> <span class="o">===</span> <span class="dl">'</span><span class="s1">EMPLOYEENAME</span><span class="dl">'</span> <span class="o">||</span> <span class="nx">fil</span><span class="p">.</span><span class="nx">attr</span> <span class="o">===</span> <span class="dl">'</span><span class="s1">EMPLOYEESURNAME</span><span class="dl">'</span><span class="p">)</span> <span class="p">{</span>
          <span class="nx">filters</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">FilterExpressionUtils</span><span class="p">.</span><span class="nx">buildExpressionLike</span><span class="p">(</span><span class="nx">fil</span><span class="p">.</span><span class="nx">attr</span><span class="p">,</span> <span class="nx">fil</span><span class="p">.</span><span class="nx">value</span><span class="p">));</span>
        <span class="p">}</span>
        <span class="k">if</span> <span class="p">(</span><span class="nx">fil</span><span class="p">.</span><span class="nx">attr</span> <span class="o">===</span> <span class="dl">'</span><span class="s1">EMPLOYEETYPEID</span><span class="dl">'</span><span class="p">)</span> <span class="p">{</span>
          <span class="nx">filters</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">FilterExpressionUtils</span><span class="p">.</span><span class="nx">buildExpressionEquals</span><span class="p">(</span><span class="nx">fil</span><span class="p">.</span><span class="nx">attr</span><span class="p">,</span> <span class="nx">fil</span><span class="p">.</span><span class="nx">value</span><span class="p">));</span>
        <span class="p">}</span>
      <span class="p">}</span>
    <span class="p">});</span>

    <span class="c1">// Build complex expression</span>
    <span class="k">if</span> <span class="p">(</span><span class="nx">filters</span><span class="p">.</span><span class="nx">length</span> <span class="o">&gt;</span> <span class="mi">0</span><span class="p">)</span> <span class="p">{</span>
      <span class="k">return</span> <span class="nx">filters</span><span class="p">.</span><span class="nx">reduce</span><span class="p">((</span><span class="nx">exp1</span><span class="p">,</span> <span class="nx">exp2</span><span class="p">)</span> <span class="o">=&gt;</span> <span class="nx">FilterExpressionUtils</span><span class="p">.</span><span class="nx">buildComplexExpression</span><span class="p">(</span><span class="nx">exp1</span><span class="p">,</span> <span class="nx">exp2</span><span class="p">,</span> <span class="nx">FilterExpressionUtils</span><span class="p">.</span><span class="nx">OP_AND</span><span class="p">));</span>
    <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
      <span class="k">return</span> <span class="kc">null</span><span class="p">;</span>
    <span class="p">}</span>
  <span class="p">}</span>

<span class="p">}</span>
</code></pre></div></div>

<h2 id="demo">Demo</h2>
<p>You can see this working example in the <a href="https://try.imatia.com/ontimizeweb/quickstart/main/employees" target="_blank">OntimizeWeb QuickStart</a> or check the code in <a href="https://github.com/OntimizeWeb/ontimize-web-ngx-quickstart/tree/master/src/app/main/employees/employees-home" target="_blank">GitHub</a>.</p>

</div>

<!-- API -->
<div id="api" class="o-tabcontent" style="display:none">
  



 
  <h2 id="Filter builder" >Filter builder</h2>
 

  
    <p><strong class="grey-color" id="o-filter-builder">Directive:</strong> o-filter-builder</p>
  
  


  


  


  
    
      <h3 id="inputs" class="grey-color">Inputs</h3>
    
    
    

    
    

  <table class="attributes-table mdl-data-table">
    <thead>
      <tr>
      
        
          
            <th class=""> Name</th>
          
      
        
          
            <th class=""> Description</th>
          
      
        
          
            <th class=""> Default</th>
          
      
      </tr>
    </thead>
    <tbody>
      
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>expression-builder</p>
</p>
    
      <p><i>(values: Array<{ attr, value }>) => IExpression</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Funtion called for creating the expression. The function receives an array of objects that contains the target column attribute and the value of the respective form component and must return an instance of <code class="language-plaintext highlighter-rouge">IExpression</code>. Read about how to build complex filter structures <a href="https://ontimizeweb.github.io/docs/guide/filterexpression/" target="_blank">here</a>.</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>filters</p>
</p>
    
      <p><i>string</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>List of pairs of target component colums and form component attributes. Separated by ‘;’. Example: “targetColumn1:componentAttr1;targetColumn2:componentAttr2”.</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>query-on-change</p>
</p>
    
      <p><i>yes | no | true | false</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Indicates whether or not to trigger the target component refresh when a filter component <code class="language-plaintext highlighter-rouge">onChange</code> event is fired.</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>no</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>query-on-change-delay</p>
</p>
    
      <p><i>number</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Delay time in milliseconds <code class="language-plaintext highlighter-rouge">query-on-change</code> method is triggered.</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first"><p>0</p>
</p>
    
  </td>
          
        
</tr>
      

        
        

  <tr >
        
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-name >
    <p class="first"><p>target</p>
</p>
    
      <p><i>OServiceComponent</i></p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-description >
    <p class="first"><p>Component whose that will be filtered.</p>
</p>
    
  </td>
          
        
          
          
            
            

            
            
            

            
            
  <td class="" o-component-default >
    <p class="first">
</p>
    
  </td>
          
        
</tr>
      
      </tbody>
  </table>

  

  



  

  
    <h3 id="outputs" class="grey-color">Outputs</h3>
    <table class="attributes-table mdl-data-table">
      <thead>
        <tr>
        
          <th class=""> Name</th>
        
          <th class=""> Description</th>
        
        </tr>
      </thead>
        <tbody>
        
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onClear</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when the clear action is excuted</p>

              
            </td>
          
          </tr>
        
          <tr>
          
            
            
            
            

            <td class="" o-component-name>
              <p>onFilter</p>

              
            </td>
          
            
            
            
            

            <td class="" o-component-description>
              <p>Event triggered when the filter action is executed</p>

              
            </td>
          
          </tr>
        
      </tbody>
    </table>
  


  
    <h3 id="methods" class="grey-color">Methods</h3>
      
      
    <table>
      <thead>
       <tr><th>clearFilter</th></tr>
       </thead>
      <tbody>
        <tr><td>Clears the form fields used by the filter builder to create the filter.</td></tr>
        
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>getBasicExpression</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns an `IBasicExpression` object with the filter.</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>The `IBasicExpression` object with the filter.</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>getExpression</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns an `IExpression` object with the filter.</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>The `IExpression` object with the filter.</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>getTargetComponent</th></tr>
       </thead>
      <tbody>
        <tr><td>Returns the filter builder target component.</td></tr>
        
        
        <tr><td><strong>Returns</strong></td></tr>
        <tr><td>The target component.</td></tr>
        
      </tbody>
    </table>
      
    <table>
      <thead>
       <tr><th>triggerReload</th></tr>
       </thead>
      <tbody>
        <tr><td>Trigger the `reloadData` method from the target component.</td></tr>
        
        
      </tbody>
    </table>
      
  




  

</div>


  

</div>
        
      </section>

      <footer class="page__meta">
        
        




        
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Updated:</strong> <time datetime="2021-03-09T03:42:24-05:00">March 09, 2021</time></p>
        
      </footer>

      

      <!-- 


  <nav class="pagination">
    
      <a href="https://ontimizeweb.github.io/docs/components/filterbuilder/api" class="pagination--pager" title="Filter builder
">
          <i class="fas fa-arrow-left margin-right"></i>
        Previous
      </a>
    
    
      <a href="https://ontimizeweb.github.io/docs/components/form/api" class="pagination--pager" title="Form
">
        Next
        <i class="fas fa-arrow-right margin-left"></i>
      </a>
    
  </nav>
 -->
    </div>

    
  </article>

  
  
</div>

    <div class="page__footer">
      <footer>
        <!-- start custom footer snippets -->

<a href="#" class="scrollToTop"><i class="fa fa-fw fa-chevron-circle-up" aria-hidden="true"></i></a>

<!-- end custom footer snippets -->
        

<div class="page__footer-follow">
  <ul class="social-icons">
    
      <li><strong>Follow:</strong></li>
    
    
      <li><a href="https://twitter.com/imatiainnova" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    
    
      <li><a href="https://www.linkedin.com/company/224080?trk=prof-0-ovw-curr_pos" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    
    
      <li><a href="http://github.com/OntimizeWeb" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    
    
    <li><a href="https://ontimizeweb.github.io/docs/feed.xml" target="_blank"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Feed</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; 2021 Imatia Innovation, S.L.. Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
      </footer>
    </div>

    <script src="https://ontimizeweb.github.io/docs/assets/js/main.min.js"></script>





  </body>
</html>
