---
layout: table_wrappers
---

<!DOCTYPE html>

<html {{ site.lang | default: 'en-US' }}">
{% include head.html %}

<body class="home">
  {% include icons/icons.html %}
  <header id="top">
    {% include components/header.html %}
  </header>
  <div id="main-content" class="main-content" role="main">
    <div class="background-image">
      <h1>{{ page.title }}</h1>
      <h2>{{ page.introduction }}</h2>
      <div class="links">
        {% for card in page.card %}
          {% include_relative includes/card.html %}
        {% endfor %}
      </div>
    </div>
    <main>
      {{ content }}
    </main>
  </div>
  {% include components/footer.html %}
</body>

</html>
