---
layout: single
---


{% if page.comp and site.data.components[page.comp] %}
  {% assign componentData = site.data.components[page.comp] %}
{% endif %}


{% if componentData %} 

    {% if componentData.directive %} 
    <p><strong>Directive:</strong> {{ componentData.directive }}</p>
    {% endif %}

    {% if componentData.inheritedAttributes %} 
    <br/>
        {% for inheritedObj in componentData.inheritedAttributes %}

        Inherited attributes from {{ inheritedObj.component }} :
            <ul>
            {% for inheritedAttr in inheritedObj.attributes %}
                <li> {{ inheritedAttr }} </li>
            {% endfor %}
            </ul>
        <br/>    
        {% endfor %}        
    {% endif %}

    {% if componentData.attributes %}
        <p><strong>Attributes:</strong></p>
        <table>
            <thead>
                <tr>
                {% for header in componentData.attributesColumns %}
                    <th> {{ header }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for attributeObject in componentData.attributes %}
                <tr>
                {% for column in componentData.attributesColumns %}
                    {% assign columnKey = column | downcase %}  
                    <td>{{ attributeObject[columnKey]  | default: '' }}</td>          
                {% endfor %}       
                </tr>
            {% endfor %}
            </tbody>
        </table>   
    {% endif %}

{% endif %}


{{ content }}